<% include ../../../template/pageHead.html %>
<link rel="stylesheet" href="../css/public/common.css" />
<link rel="stylesheet" href="../css/basicMng/organization/index.css" />
<script type="text/javascript" src="../js/basicMng/organization/model.js"></script>
<script type="text/javascript" src="../js/basicMng/organization/controller.js"></script>
<script type="text/javascript" src="../js/basicMng/organization/event.js"></script>

    <!-- 树模板 -->
    <% include templateTree.html %>
    <% include templateTreeMul.html %>
<div id="organizationManage" class="frameWrap">
    <!-- 列表 初始页 -->
    <% include list.html %>

    <!-- 中心部门 -->
    <% include centerDepartment.html %>

    <!-- 项目通用 -->
    <% include projectGeneral.html %>    

    <ploading-global id="globalloading"></ploading-global>

    <pnotice-message id="message"></pnotice-message>

    <!-- 项目 -->
    <div id="projectMotai" @click.stop="windowEvent.show()" style="display: none">
        <div>
            <div class="projectTitle">选择项目</div>
            <div class="selArea"> 
                <div class="projectCommonUl projectList" v-for="(item, index) in organizationModel.listByProject" >
                    <organizationx :model="item"></organizationx>
                </div>
            </div>
            <div class="buttonArea" >
                <button class="yesBtu" @click="windowEvent.hideProjectList">确定</button>
                <button class="cancelBtu" @click="windowEvent.cancelProjectList">取消</button>    
            </div>
        </div>
    </div>
</div>
<% include ../../../template/pageFoot.html %>