<div class="organizationList" v-show="curPage === 'list'">
    <div class="title">
        组织结构
    </div>
    <div class="organizationBox">
        <!-- 中心部门 -->
        <div class="centerDepartment" id="centerDepart_">
            <div class="top">
                <div class="title" style="transform: translateY(-7px);">
                    中心部门
                </div>
                <div class="operat">
                    <% if (user.indexOf('editOrganization') != '-1') { %>
                    <div class="edit">
                        <pbutton-white bind="true" icon="'`'" text="'修改'" @click="organizationMethods.centerDepartEdit()"></pbutton-white>
                    </div>
                    <% } %>
                    <% if (user.indexOf('addEditPerson') != '-1') { %>
                    <div class="addPerson">
                        <pbutton-white bind="true" icon="'J'" text="'快速添加人员'" click="windowEvent.showPwindow5(false)"></pbutton-white>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="centerDepartmentUl" v-for="(item, index) in organizationModel.listByCenterDepartment">
                <organization :model="item"></organization>
            </div>
        </div>
        <!-- 项目通用 -->
        <div class="projectCommon" id="projectCommon_">
            <div class="top">
                <div class="title" style="transform: translateY(-7px);">
                    项目通用部门
                </div>
                <div class="operat">
                    <% if (user.indexOf('editOrganization') !='-1') { %>
                    <div class="edit">
                        <pbutton-white bind="true" icon="'`'" text="'修改'" @click="organizationMethods.projectCommonEdit()"></pbutton-white>
                    </div>
                    <% } %>
                </div>
            </div>
            <div class="projectCommonUl" v-for="(item, index) in organizationModel.listByProjectCommon">
                <organization :model="item"></organization>
            </div>
        </div>
    </div>

    <!-- 快速添加人员 -->
   
    <pwindow-float title="添加中心部门人员" id="fastAdd" beforehide="windowEvent.initStatus" templateid="temp_window">
        <animate maxpx="0" minpx="-455" orientation="right"></animate>
    </pwindow-float>

    <script type="text/html" id="temp_window">
        <div class="conFastAdd">
            
            <h1 class="essentialInformation">基本信息</h1>
            <ul>
                <li class="itemFastAdd">
                    <span><a class="starSymbol">*</a>员工识别码：</span>
                    <div class="conItem">
                        <ptext-text placeholder="'请输入20位以内数字'" :id="'identificationCode'" bind="true" @input="organizationMethods.queryById">
                            <verify errtip="员工识别码不能为空！"  verifytype="space"></verify>
                            <!-- <verify errtip="请输入数字"  verifytype="pisNumber"></verify> -->
                            <!-- <verify errtip="最多输入20个字符！"  verifytype="length" length="20"></verify> -->
                        </ptext-text>
                    </div>
                </li>
                <li class="itemFastAdd">
                    <span><a class="starSymbol">*</a>姓名：</span>
                    <div class="conItem">
                        <ptext-text placeholder="请输入" id="personName">
                            <verify errtip="姓名不能为空"  verifytype="space"></verify>
                            <verify errtip="员工姓名不可超过20个字！"  verifytype="length" length="20"></verify>
                        </ptext-text>
                    </div>
                </li>
                <li class="itemFastAdd">
                    <span>性别：</span>
                    <div class="conItem">
                        <pcombobox-normal align="left" orientation="down" bind="true" id="'personSex'">
                            <header  placeholder="'男'"></header>
                            <item datasource="organizationModel.buttonArr" text="name" ></item>
                        </pcombobox-normal>
                    </div>
                </li>
                <li class="itemFastAdd">
                    <span>出生年月：</span>
                    <div class="conItem">
                        <ptime-form id="birthDate">
                            <panel timetype="yMd" startyear="1900" endyear="2018"></panel>
                        </ptime-form>
                    </div>
                </li>
                <li class="itemFastAdd">
                    <span>手机号：</span>
                    <div class="conItem">
                        <ptext-text placeholder="请输入11位手机号" id="phoneNumber">
                            <verify errtip="手机号格式不正确！"  verifytype="mobile"></verify>
                            <verify errtip="手机号应为11个字符！"  verifytype="length" length="11"></verify>
                        </ptext-text>
                    </div>
                </li>
                <li class="itemFastAdd">
                    <span>邮箱：</span>
                    <div class="conItem">
                        <ptext-text placeholder="请输入" id="email">
                            <verify errtip="邮箱格式不正确！"  verifytype="email"></verify>
                            <verify errtip="邮箱不可超过50个字！"  verifytype="length" length="50"></verify>
                        </ptext-text>
                    </div>
                </li>    
            </ul>
            <h1 class="essentialInformation">项目信息</h1>
            <ul>
                <li class="itemFastAdd">
                    <span><a class="starSymbol">*</a>项目：</span>
                    <div class="conItem">
                        <!-- <pcombobox-custom templateid="temp_project" id="selectedProject">
                            <header  placeholder="请选择项目" ></header>
                        </pcombobox-custom> -->
                        <div id="selectedStr"></div>
                        <div id="addProject"  @click="windowEvent.showProjectList">添加</div>
                        <div class="promptForm">
                            请选择项目
                        </div>
                    </div> 
                    
                </li>
            </ul>
            <h1 class="essentialInformation">工作信息</h1>
            <ul>
                <li class="itemFastAdd">
                    <span>员工编号：</span>
                    <div class="conItem" id="employeeNumber">
                        <ptext-text placeholder="请输入编号">
                            <verify errtip="员工编号不可超过20个字！"  verifytype="length" length="20"></verify>
                        </ptext-text>
                    </div>
                </li>
                <li class="itemFastAdd">
                    <span><a class="starSymbol">*</a>岗位：</span>
                    <div class="conItem">
                        <pcombobox-normal id="'selectedPosition'" align="left" orientation="down" sel="windowEvent.cleanTip" bind="true">
                            <header  placeholder="'请选择岗位'"></header>
                            <item datasource="organizationModel.postArr" text="position_name" id="position_id"></item>
                        </pcombobox-normal>
                        <div class="promptForm">
                            请选择岗位
                        </div>
                    </div>
                    
                </li>
                <li class="itemFastAdd">
                    <span>专业：</span>
                    <div class="conItem">
                        <pcombobox-custom templateid="temp_major" id="selectedMajor">
                            <header  placeholder="请选择专业" ></header>
                        </pcombobox-custom>
                    </div>
                </li>
            </ul>
            <h1 class="essentialInformation">绑定账号</h1>
            <ul>
                <li class="itemFastAdd">
                    <span>账号名称：</span>
                    <div id="searchAccountInfo" class="right">
                        <input type="text" placeholder="请输入账号" 
                        @input="organizationMethods.searchAccountByName"
                        @keyup.enter="organizationMethods.enterAccountAddPermission"  
                        v-model="organizationModel.accountName">
                        <div class="options">
                            <ul>
                                <li v-for="item in organizationModel.searchAccountList" 
                                :class="{disabled:item.disabled}" 
                                v-text="item.person_user_name"
                                @click="organizationMethods.clickAccountAddPermission(item)"
                                ></li>
                            </ul>
                        </div>                   
                    </div>
                </li>
                <li class="itemFastAdd" id="jurisdictionId" style="color:#cacaca">
                    <span>功能权限：</span>
                    <div class="conItem" id="jurisdictionList" >
                        --
                    </div>
                </li>
                <li class="itemFastAdd" id="jurisdictionId_" >
                    <span>功能权限：</span>
                    <div class="conItem">
                        <pcombobox-custom templateid="temp_jurisdiction" id="selectedJurisdiction">
                            <header  placeholder="请选择权限" ></header>
                        </pcombobox-custom>
                    </div>
                </li>
            </ul>
            <h1 class="essentialInformation">照片</h1>
            <ul>
                <li class="itemFastAdd">
                    <div class="conItem">
                        <pupload-img id="fastAddImg" style="height:130px;width:130px;">
                        </pupload-img>
                    </div>
                </li>
            </ul>
            <div style="height:60px"></div>
        </div>
        <div class="conKeep">
            <div class="conKeepIn">
                <pbutton-blue bind="true"  text="'保存'" @click="windowEvent.keepFastAdd()"></pbutton-blue>
            </div>
        </div>

    </script>
    
    <!-- 项目模板 -->
    <script type="text/html" id="temp_project">
        <div class="selArea"> 
            <div class="projectCommonUl projectList" v-for="(item, index) in organizationModel.listByProject" >
                <organizationx :model="item"></organizationx>
            </div>
            <div style="height:54px;    color: transparent;">123</div>
        </div>
        <div class="buttonArea" >
            <button class="yesBtu" @click="windowEvent.slideUp('selectedProject')">确定</button>
            <button class="cancelBtu" @click="windowEvent.clearSel('selectedProject')">清空</button>    
        </div>
    </script>
    <!-- 专业模板 -->
    <script type="text/html" id="temp_major">
        <div class="selArea">  
            <div class="projectCommonUl projectList1" v-for="(item, index) in organizationModel.majorArr" >
                <organizationx :model="item"></organizationx>
            </div>
            <div style="height:52px;    color: transparent;">123</div>
        </div>     
        <div class="buttonArea" >
            <button class="yesBtu" @click="windowEvent.slideUp('selectedMajor')">确定</button>
            <button class="cancelBtu" @click="windowEvent.clearSel('selectedMajor')">清空</button>    
        </div>
 
    </script>
    <!-- 权限模板 -->
    <script type="text/html" id="temp_jurisdiction">
        <div class="selArea">  
            <div class="projectCommonUl projectList2" v-for="(item, index) in organizationModel.jurisdiction" >
                <organizationx :model="item"></organizationx>       
            </div>
            <div style="height:52px; color: transparent;">123</div>
        </div>    
        <div class="buttonArea" >
            <button class="yesBtu" @click="windowEvent.slideUp('selectedJurisdiction')">确定</button>
            <button class="cancelBtu" @click="windowEvent.clearSel('selectedJurisdiction')">清空</button>    
        </div>
    </script>
    <!-- 岗位模板 -->
    <script type="text/html" id="temp_position">
        <div class="projectCommonUl projectList3" v-for="(item, index) in organizationModel.postArr">
            <organization :model="item"></organization>
        </div>
    </script>
</div>