<script type="text/html" id="organizationManageTree2">
    <div class="organizationTreeBox">
        <div class="organizationTreeBoxName" @click="choice(model,$event)" >    
            <span :disabled="organizationModel.statusModel"
            @blur="activeObjInit()"
            :id="model.id"
            class="partitionName"
            :class = "{disabled: (model.disabled !== undefined ? model.disabled : false),selected: (model.selected !== undefined ? model.selected : false)}"
            :style="{'text-indent':(model.lv *24 +'px')}" 
            :dis="JSON.stringify(model)" 
            v-model="model.obj_name" v-html = "model.obj_name"></span>
            <a class="selectedMul" v-if="(model.selected && !organizationModel.projectStatus)"></a>
        </div>
        <!-- <div style="border-bottom:1px solid #eee"></div> -->
        <div>
            
            <organizationx class="item"  v-for="model in model.child_objs" :model="model" :style="{'box-sizing':'border-box'}">
            </organizationx>
        </div>
        
    </div>
</script>
<script>
    Vue.component('organizationx', {
        template: '#organizationManageTree2',
        props: ["model"],
        methods: {
            choice: function(model,event){ //赋值活动对象               
                organizationModel.activeDataObj=model;             
            },
            activeObjInit: function(){  //初始化活动对象
              
            }
        }
    })
</script>
