
<script type="text/html" id="organizationManageTree1">
    <div class="organizationTreeBox">
        <div class="organizationTreeBoxName" @click="choice(model,$event)" >    
            <input :disabled="organizationModel.statusModel"
            @blur="activeObjInit()"
            :id="model.id"
            class="partitionName"
            :class = "{disabled: (model.disabled !== undefined ? model.disabled : false),selected: (model.selected !== undefined ? model.selected : false)}"
            :style="{'text-indent':(model.lv *24 +'px')}" 
            :dis="JSON.stringify(model)" 
            v-model="model.obj_name" :value = "model.obj_name">
            <div class="inputPrompt">请输入岗位/部门名称</div>
            <div class="peopleList" v-if="((model.obj_type == 'p1') && (model.child_objs ? (model.child_objs.length > 0) : false))" :style="{'margin-left':((model.lv *24 -5) +'px')}">
                <div class="person" @click.stop="windowEvent.showPwindow5(1,model.obj_id)" v-for="model in model.child_objs" :title="model.obj_name">
                    {{model.obj_name}}
                </div>
            </div>
        </div>
        <!-- <div style="border-bottom:1px solid #eee"></div> -->
        <div>
            
            <organization class="item"  v-for="model in model.child_objs" :model="model" v-if="(model.obj_type != 1)" :style="{'box-sizing':'border-box'}">
            </organization>

        </div>
    </div>
</script>
<script>
    Vue.component('organization', {
        template: '#organizationManageTree1',
        props: ["model"],
        methods: {
            choice: function(model,event){ //赋值活动对象               
                organizationModel.activeDataObj=model;             
            },
            activeObjInit: function(){  //初始化活动对象
              
            }
        }
    })
</script>
