@mixin structure{

    @extend .complete;
    position: relative;
    background: $blue-block-color;

    .main{
        // position: absolute;
        @extend .border-radius;
        @extend .box-shadow;
        background: $white-block-color;
        // top: 12px;
        // left: 10px;
        // right: 10px;
        // bottom: 0;
        width: 100%;
        height: 100%;
        
        .content{
            margin: 0 20px;
            height: 100%;

            .header{
                height: 50px;
                line-height: 50px;
                padding: 0 20px;
                margin: 0 -20px;
                border-bottom: 1px solid $blue-border-color;
                box-sizing: border-box;
            }
            .contenter{
                @content;
            }
        }
    }
}

@mixin pcheckbox{
            .pcheckbox{
            @content;
            overflow: hidden;
            color: #637e99;
            line-height: 16px;
            cursor: pointer;
            display: inline-block;
            margin-top: 14px;

            & > .pcheckbox_input{
                float: left;
                width: 16px;
                height: 16px;
                border: 1px solid #7a94ad;
                border-radius: 2px;
                box-sizing: border-box;
                position: relative;
                cursor: pointer;
                background: #fff;
            }
            
            .pswitch_label {
                float: left;
            }

            .pcheckbox-checked {
                background: #7a94ad;
            }

            .pcheckbox-checked.pcheckbox_input:before {
                box-sizing: content-box;
                content: "";
                border: 2px solid #fff;
                border-left: 0;
                border-top: 0;
                height: 7px;
                left: 4px;
                top: 1px;
                transform: rotate(45deg);
                width: 4px;
                transition: transform .15s cubic-bezier(.71, -0.46, .88, .6) .05s;
                transform-origin: center;
                position: absolute;
            }
        }
}