#planManage {
  width: calc(100% - 40px);
  height: 100%;
  padding: 0 20px 0; }
  #planManage > .head {
    width: 100%;
    height: 30px;
    padding: 10px 0 10px 0; }
    #planManage > .head .plantype {
      min-width: 140px;
      height: 100%;
      float: left; }
    #planManage > .head .other {
      float: left;
      font-size: 14px;
      line-height: 30px;
      margin-left: 15px;
      margin-right: 10px; }
    #planManage > .head .time {
      float: left;
      width: 160px; }
      #planManage > .head .time > div {
        width: 100%; }
    #planManage > .head .search {
      float: left;
      width: 224px;
      margin-left: 10px; }
    #planManage > .head .planSource {
      width: 150px;
      float: left;
      margin-left: 10px; }
    #planManage > .head .box {
      float: right;
      padding-left: 15px; }
      #planManage > .head .box div {
        float: left; }
  #planManage > .body {
    width: 100%;
    height: calc(100% - 50px);
    position: relative; }
    #planManage > .body > .head {
      width: 100%; }
      #planManage > .body > .head .top {
        width: calc(100% - 2px);
        height: auto;
        min-height: 49px;
        border: 1px solid #d9e2e8;
        border-bottom: none;
        background: #f8f8f8;
        position: relative; }
        #planManage > .body > .head .top .text {
          color: #333333;
          width: 70px;
          height: 49px;
          line-height: 49px;
          font-size: 16px;
          position: absolute;
          top: 50%;
          left: 20px;
          margin-top: -25px; }
        #planManage > .body > .head .top .tab {
          width: 300px;
          height: 30px;
          line-height: 30px;
          position: absolute;
          top: 50%;
          left: 110px;
          margin-top: -15px;
          background: #eef0f1; }
          #planManage > .body > .head .top .tab:hover {
            cursor: pointer; }
          #planManage > .body > .head .top .tab div {
            float: left;
            height: 100%;
            color: #6d6d6d;
            width: 60px;
            text-align: center; }
            #planManage > .body > .head .top .tab div:hover {
              border: 1px solid #02a9d1;
              color: #02a9d1;
              width: 58px;
              height: 28px;
              line-height: 28px; }
          #planManage > .body > .head .top .tab .sel {
            border: 1px solid #02a9d1;
            color: #02a9d1;
            width: 58px;
            height: 28px;
            line-height: 28px; }
        #planManage > .body > .head .top .icon {
          float: right;
          width: calc(100% - 430px);
          height: auto;
          min-height: 50px;
          display: flex;
          align-items: center;
          flex-wrap: wrap; }
          #planManage > .body > .head .top .icon > div {
            height: 25px;
            line-height: 25px;
            font-size: 14px;
            margin-right: 20px; }
            #planManage > .body > .head .top .icon > div img {
              width: 12px;
              height: 12px;
              margin-right: 10px;
              margin-top: 6px;
              display: block;
              float: left; }
            #planManage > .body > .head .top .icon > div span {
              display: block;
              float: left;
              height: 25px; }
          #planManage > .body > .head .top .icon > div:nth-of-type(1) div {
            float: left;
            width: 12px;
            height: 12px;
            margin-top: 5px;
            background: #f8f8f8;
            border: 1px solid #7a94ae;
            margin-right: 10px; }
      #planManage > .body > .head .bottom {
        width: calc(100% - 2px);
        height: 59px;
        border: 1px solid #d9e2e8; }
        #planManage > .body > .head .bottom > div {
          float: left;
          height: 59px; }
        #planManage > .body > .head .bottom .name {
          width: calc(12.5% - 21px);
          padding-left: 20px;
          border-right: 1px solid #d9e2e8;
          background: #f7f9fb;
          line-height: 59px; }
        #planManage > .body > .head .bottom .period {
          width: calc(5% - 1px);
          border-right: 1px solid #d9e2e8;
          text-align: center;
          background: #f7f9fb;
          line-height: 59px; }
        #planManage > .body > .head .bottom .time {
          width: 82.5%; }
          #planManage > .body > .head .bottom .time > div {
            width: 100%; }
          #planManage > .body > .head .bottom .time > div:nth-of-type(1) {
            border-bottom: 1px solid #d9e2e8;
            height: 34px;
            line-height: 34px; }
            #planManage > .body > .head .bottom .time > div:nth-of-type(1) div:hover {
              cursor: pointer; }
          #planManage > .body > .head .bottom .time > div:nth-of-type(2) {
            background: #f7f9fb;
            height: 24px;
            line-height: 24px; }
          #planManage > .body > .head .bottom .time > div div {
            float: left;
            border-right: 1px solid #d9e2e8;
            text-align: center;
            height: 100%; }
          #planManage > .body > .head .bottom .time > div div:nth-last-of-type(1) {
            border-right: none; }
    #planManage > .body > .body {
      width: 100%; }
      #planManage > .body > .body > .grid {
        width: calc(100% - 2px);
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        border-left: 1px solid #d9e2e8;
        border-right: 1px solid #d9e2e8; }
        #planManage > .body > .body > .grid .row {
          width: 100%; }
          #planManage > .body > .body > .grid .row > div {
            float: left; }
          #planManage > .body > .body > .grid .row:nth-last-of-type(1) > div {
            border-bottom: none; }
          #planManage > .body > .body > .grid .row:nth-last-of-type(1) .state > div:nth-last-of-type(1) div {
            border-bottom: none; }
          #planManage > .body > .body > .grid .row .name {
            width: calc(12.5% - 41px);
            cursor: pointer;
            border-right: 1px solid #d9e2e8;
            padding: 0 20px 0;
            border-bottom: 1px solid #d9e2e8;
            position: relative; }
            #planManage > .body > .body > .grid .row .name div {
              color: white;
              height: 14px;
              font-size: 12px;
              line-height: 14px;
              top: 5px;
              left: 20px;
              border-radius: 20px;
              position: absolute; }
            #planManage > .body > .body > .grid .row .name .warn1 {
              background: #f79862; }
            #planManage > .body > .body > .grid .row .name .warn2 {
              background: #f87c7c; }
          #planManage > .body > .body > .grid .row .period {
            width: calc(5% - 1px);
            text-align: center;
            border-right: 1px solid #d9e2e8;
            border-bottom: 1px solid #d9e2e8; }
          #planManage > .body > .body > .grid .row .state {
            width: 82.5%; }
            #planManage > .body > .body > .grid .row .state > div {
              width: 100%;
              height: 60px; }
              #planManage > .body > .body > .grid .row .state > div > div {
                height: 59px;
                border-right: 1px solid #d9e2e8;
                border-bottom: 1px solid #d9e2e8;
                float: left;
                text-align: center;
                line-height: 59px; }
                #planManage > .body > .body > .grid .row .state > div > div:nth-last-of-type(1) {
                  border-right: none; }
                #planManage > .body > .body > .grid .row .state > div > div > div {
                  width: 100%;
                  height: 100%;
                  cursor: pointer; }
                  #planManage > .body > .body > .grid .row .state > div > div > div > div {
                    width: 100%;
                    height: 100%;
                    background: #f8f8f8; }
                  #planManage > .body > .body > .grid .row .state > div > div > div > img {
                    margin: 0;
                    padding: 0; }
          #planManage > .body > .body > .grid .row:nth-last-of-type(1) {
            border-bottom: 1px solid #d9e2e8; }

#messageInformBox {
  padding: 10px 15px 10px;
  width: 530px;
  height: 1000px; }
  #messageInformBox .button {
    height: 20px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #EEEEEE; }
  #messageInformBox .message {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%; }
    #messageInformBox .message ul {
      width: 100%; }
      #messageInformBox .message ul li {
        list-style-type: none;
        width: 100%;
        height: 40px;
        line-height: 40px;
        overflow-y: hidden;
        font-size: 14px; }
        #messageInformBox .message ul li > span {
          float: left;
          margin-top: 3px; }
        #messageInformBox .message ul li > div {
          float: left;
          max-width: calc(100% - 24px); }
        #messageInformBox .message ul li:hover {
          background: #f7f9fb; }

/*# sourceMappingURL=planManage.css.map */
