


.MT {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
}

.clear {
    zoom: 1;
}
  
.clear:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}








.grayblue{
    color: #637e99;
}
.greyblue{
    color:#7a94ad;
}
.gray{
    color: #6d6d6d;
}
.black3{
    color: #333333;
}
.black{
    color: #000;
}
.orange{
    color: #f89054;
}
.orange2{
    color: #f9a173;
}
.red{
    color: #ff7b7b;
}