#workOrderDetail {
  width: 100%;
  height: 100%; }
  #workOrderDetail > .hold {
    margin: 0 20px 0;
    width: calc(100% - 40px);
    height: 0;
    border-bottom: 1px solid #d9e2e8; }
  #workOrderDetail > .hold2 {
    margin-top: -1px; }
  #workOrderDetail > .box {
    width: 100%;
    height: calc(100% - 1px);
    overflow-y: auto;
    overflow-x: hidden; }
    #workOrderDetail > .box .grid {
      width: calc(100% - 42px);
      margin: 0 20px 0;
      position: relative;
      border-left: 1px solid #d9e2e8;
      border-right: 1px solid #d9e2e8; }
      #workOrderDetail > .box .grid > .holder {
        height: 20px;
        width: 100%; }
      #workOrderDetail > .box .grid > .top {
        width: 100%;
        border-bottom: 1px solid #d9e2e8; }
        #workOrderDetail > .box .grid > .top > div {
          width: 100%; }
          #workOrderDetail > .box .grid > .top > div > div {
            float: left;
            height: 40px; }
        #workOrderDetail > .box .grid > .top div {
          line-height: 40px; }
        #workOrderDetail > .box .grid > .top .normal {
          height: 40px;
          border-bottom: 1px solid #d9e2e8; }
          #workOrderDetail > .box .grid > .top .normal:nth-last-of-type(1) {
            border-bottom: none; }
          #workOrderDetail > .box .grid > .top .normal > div {
            float: left;
            height: 100%;
            padding-left: 18px;
            line-height: 40px; }
          #workOrderDetail > .box .grid > .top .normal:nth-last-of-type(2) {
            border-top: 1px solid #d9e2e8;
            margin-top: -1px; }
          #workOrderDetail > .box .grid > .top .normal > div:nth-of-type(odd) {
            padding-left: 20px;
            border-right: 1px solid #d9e2e8;
            background: #f8f8f8; }
          #workOrderDetail > .box .grid > .top .normal > div:nth-of-type(even) {
            padding-left: 20px; }
          #workOrderDetail > .box .grid > .top .normal .tool {
            display: inline-block;
            margin: 5px 5px;
            position: relative;
            line-height: 30px !important; }
            #workOrderDetail > .box .grid > .top .normal .tool div {
              line-height: 30px !important; }
            #workOrderDetail > .box .grid > .top .normal .tool .per-inputunit {
              padding: 0 14px;
              line-height: 30px !important; }
            #workOrderDetail > .box .grid > .top .normal .tool > .icon {
              position: absolute;
              top: 6px;
              right: 6px;
              font-family: "perficon";
              height: 14px;
              width: 14px;
              text-align: center;
              line-height: 14px;
              border-radius: 50%;
              color: #7a94ad;
              border: 1px solid #7a94ad;
              cursor: pointer;
              z-index: 2; }
        #workOrderDetail > .box .grid > .top .place {
          height: auto;
          min-height: 40px; }
          #workOrderDetail > .box .grid > .top .place > div {
            width: 33.3%;
            height: 40px;
            border-bottom: 1px solid #d9e2e8; }
            #workOrderDetail > .box .grid > .top .place > div div {
              float: left; }
            #workOrderDetail > .box .grid > .top .place > div div:nth-of-type(1) {
              padding-left: 20px;
              width: calc(39.9% - 20px);
              border-right: 1px solid #d9e2e8;
              border-left: 1px solid #d9e2e8;
              background: #f8f8f8; }
            #workOrderDetail > .box .grid > .top .place > div div:nth-of-type(2) {
              padding-left: 20px;
              width: calc(60.1 - 22px); }
          #workOrderDetail > .box .grid > .top .place > div:nth-of-type(1) div:nth-of-type(1), #workOrderDetail > .box .grid > .top .place > div:nth-of-type(3n+1) div:nth-of-type(1) {
            border-left: none; }
          #workOrderDetail > .box .grid > .top .place > div:nth-of-type(1) div:nth-of-type(2), #workOrderDetail > .box .grid > .top .place > div:nth-of-type(3n+1) div:nth-of-type(2) {
            width: calc(55.7 - 21px); }
        #workOrderDetail > .box .grid > .top .key1 {
          width: calc(13.3% - 20px); }
        #workOrderDetail > .box .grid > .top .value1 {
          width: calc(20% - 21px); }
        #workOrderDetail > .box .grid > .top .key2 {
          border-left: 1px solid #d9e2e8; }
        #workOrderDetail > .box .grid > .top .value2 {
          width: calc(20% - 22px); }
        #workOrderDetail > .box .grid > .top .value3 {
          width: calc(86.7% - 21px); }
      #workOrderDetail > .box .grid > .content {
        width: 100%;
        border-top: 1px solid #d9e2e8;
        margin-top: -2px; }
        #workOrderDetail > .box .grid > .content:nth-of-type(1) {
          margin-top: 0; }
        #workOrderDetail > .box .grid > .content .title {
          width: 100%;
          height: 40px;
          font-size: 14px;
          background: #f8f8f8;
          border-bottom: 1px solid #d9e2e8; }
          #workOrderDetail > .box .grid > .content .title div {
            float: left;
            height: 100%;
            line-height: 40px;
            text-align: center; }
          #workOrderDetail > .box .grid > .content .title .name {
            width: 75%; }
          #workOrderDetail > .box .grid > .content .title .result {
            width: 25%; }
        #workOrderDetail > .box .grid > .content .step {
          border-bottom: 1px solid #d9e2e8; }
          #workOrderDetail > .box .grid > .content .step .div {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: stretch; }
            #workOrderDetail > .box .grid > .content .step .div > .left {
              width: 75%;
              border-right: 1px solid #d9e2e8; }
              #workOrderDetail > .box .grid > .content .step .div > .left .summarize {
                min-height: 80px;
                border-bottom: 1px solid #d9e2e8;
                box-sizing: border-box;
                padding-top: 20px;
                padding-left: 20px; }
                #workOrderDetail > .box .grid > .content .step .div > .left .summarize div {
                  width: 95%;
                  font-size: 14px;
                  line-height: 14px;
                  height: 14px; }
                #workOrderDetail > .box .grid > .content .step .div > .left .summarize div:nth-of-type(1) {
                  color: #aaaaaa; }
                #workOrderDetail > .box .grid > .content .step .div > .left .summarize div:nth-of-type(2) {
                  margin-top: 10px; }
              #workOrderDetail > .box .grid > .content .step .div > .left .stepobj {
                height: 28px;
                line-height: 28px;
                padding-left: 20px;
                border-bottom: 1px solid #d9e2e8; }
              #workOrderDetail > .box .grid > .content .step .div > .left .process {
                display: flex;
                flex-flow: row nowrap;
                border-bottom: 1px solid #d9e2e8; }
                #workOrderDetail > .box .grid > .content .step .div > .left .process .index {
                  width: 100px;
                  border-right: 1px solid #d9e2e8;
                  min-height: 40px;
                  display: flex;
                  flex-flow: row nowrap;
                  align-items: center;
                  justify-content: center; }
                #workOrderDetail > .box .grid > .content .step .div > .left .process .item {
                  padding: 12px 0 0 20px;
                  width: calc(100% - 101px); }
                  #workOrderDetail > .box .grid > .content .step .div > .left .process .item li {
                    min-height: 40px;
                    margin-bottom: 30px; }
                    #workOrderDetail > .box .grid > .content .step .div > .left .process .item li div {
                      font-size: 14px;
                      line-height: 14px;
                      min-height: 14px; }
                    #workOrderDetail > .box .grid > .content .step .div > .left .process .item li div:nth-of-type(1) {
                      color: #AAAAAA; }
                    #workOrderDetail > .box .grid > .content .step .div > .left .process .item li div:nth-of-type(2) {
                      margin-top: 10px; }
                    #workOrderDetail > .box .grid > .content .step .div > .left .process .item li div:nth-of-type(3) {
                      margin-top: 10px; }
                      #workOrderDetail > .box .grid > .content .step .div > .left .process .item li div:nth-of-type(3) i {
                        margin-right: 25px; }
                  #workOrderDetail > .box .grid > .content .step .div > .left .process .item li:nth-of-type(1) {
                    margin-top: 8px; }
                  #workOrderDetail > .box .grid > .content .step .div > .left .process .item li:nth-last-of-type(1) {
                    margin-bottom: 20px; }
              #workOrderDetail > .box .grid > .content .step .div > .left > .process:nth-last-of-type(1) {
                margin-bottom: -1px; }
            #workOrderDetail > .box .grid > .content .step .div > .right {
              width: 25%;
              margin-left: -1px;
              border-left: 1px solid #d9e2e8; }
              #workOrderDetail > .box .grid > .content .step .div > .right > .box {
                width: calc(100% - 40px);
                height: auto;
                padding: 20px 20px;
                position: relative; }
                #workOrderDetail > .box .grid > .content .step .div > .right > .box > div {
                  line-height: 24px;
                  height: auto;
                  width: calc(100% - 50px);
                  float: right; }
                #workOrderDetail > .box .grid > .content .step .div > .right > .box .num {
                  float: left;
                  width: 30px; }
                #workOrderDetail > .box .grid > .content .step .div > .right > .box .infos > div > div {
                  float: left; }
              #workOrderDetail > .box .grid > .content .step .div > .right .operatPerson {
                padding: 20px 20px;
                color: #999999; }
          #workOrderDetail > .box .grid > .content .step .sign {
            width: 100%;
            border-bottom: 1px solid #d9e2e8;
            min-height: 240px;
            position: relative; }
            #workOrderDetail > .box .grid > .content .step .sign .left {
              position: absolute;
              top: 20px;
              left: 20px; }
            #workOrderDetail > .box .grid > .content .step .sign .img {
              width: 320px;
              height: 200px;
              position: absolute;
              top: 20px;
              left: 50%;
              margin-left: -160px;
              border: 1px solid #d9e2e8; }
            #workOrderDetail > .box .grid > .content .step .sign .right {
              position: absolute;
              bottom: 20px;
              right: 100px; }
      #workOrderDetail > .box .grid > .check {
        width: calc(100% - 22px);
        padding: 10px;
        height: auto; }
        #workOrderDetail > .box .grid > .check .order {
          width: calc(100% - 2px);
          margin-bottom: 10px;
          height: auto;
          border: 1px solid #d9e2e8; }
          #workOrderDetail > .box .grid > .check .order .head {
            width: 100%;
            height: 40px;
            line-height: 40px;
            position: relative;
            background: #f8f8f8;
            border-bottom: 1px solid #d9e2e8; }
            #workOrderDetail > .box .grid > .check .order .head .name {
              margin: 0 auto 0;
              text-align: center;
              height: 40px; }
            #workOrderDetail > .box .grid > .check .order .head .time {
              position: absolute;
              right: 10px;
              top: 0; }
          #workOrderDetail > .box .grid > .check .order .body {
            padding: 20px;
            width: calc(100% - 40px); }
            #workOrderDetail > .box .grid > .check .order .body > div {
              line-height: 28px;
              width: 100%; }
            #workOrderDetail > .box .grid > .check .order .body .info > div {
              float: left;
              width: 33%; }

/*# sourceMappingURL=workOrderDetail.css.map */
