* {
  margin: 0;
  padding: 0;
  user-select: none; }

body {
  background: #f8f8f8;
  padding: 12px 10px 0;
  width: calc(100% - 20px);
  height: calc(100% - 12px);
  overflow: hidden; }

#app {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: white; }

.pointer {
  cursor: pointer; }

.icon {
  font-family: "perficon"; }

._font_over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch; }

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch; }

.complete, #app, #app .towork {
  height: 100%;
  width: 100%; }

.border-radius, #app .towork {
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.box-shadow, #app, #app .towork {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.12); }

.margin0 {
  margin: 0 !important; }

#app .towork {
  position: relative;
  background: #ffffff; }
  #app .towork > .header {
    margin: 0 20px;
    height: 50px; }
    #app .towork > .header > div {
      float: right;
      margin-left: 20px;
      margin-top: 10px;
      width: 90px;
      line-height: 30px;
      height: 30px; }
    #app .towork > .header > div > div {
      width: 100%; }
    #app .towork > .header .cancel {
      float: left;
      margin-left: 0; }
  #app .towork > .content {
    margin: 0 20px 10px;
    border: 1px solid #d9e2e8;
    height: calc( 100% - 60px);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start; }
    #app .towork > .content > .left {
      height: 100%;
      width: 300px;
      padding: 0 20px;
      border-right: 1px solid #d9e2e8; }
      #app .towork > .content > .left > .title {
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        color: #333333;
        box-sizing: border-box;
        border-bottom: 1px solid #cacaca;
        margin-bottom: -6px; }
      #app .towork > .content > .left > .item {
        height: 80px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end; }
        #app .towork > .content > .left > .item > .text {
          flex: 1;
          padding-top: 12px;
          line-height: 38px;
          font-size: 14px; }
        #app .towork > .content > .left > .item > .must {
          position: relative; }
          #app .towork > .content > .left > .item > .must::after {
            position: absolute;
            width: 10px;
            content: "*";
            line-height: 10px;
            top: 31px;
            left: -10px;
            font-size: 20px;
            color: #68C5B3; }
        #app .towork > .content > .left > .item > .block {
          height: 30px; }
      #app .towork > .content > .left > .dashed {
        height: 0;
        margin: 40px 0;
        border-top: 1px dashed #cacaca; }
      #app .towork > .content > .left > .checkbox {
        font-size: 14px;
        height: 18px;
        line-height: 18px;
        margin-bottom: 20px; }
    #app .towork > .content > .right {
      height: 100%;
      flex: 1;
      margin: 0 20px; }
      #app .towork > .content > .right > .title {
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        color: #333333; }
      #app .towork > .content > .right > .view {
        height: calc( 100% - 60px);
        overflow-y: auto;
        overflow: overlay;
        margin-right: -20px; }
        #app .towork > .content > .right > .view > .section {
          padding: 0 20px;
          margin-bottom: 20px;
          margin-right: 20px;
          border: 1px solid #d9e2e8; }
          #app .towork > .content > .right > .view > .section > .name {
            font-size: 14px;
            color: #333333;
            box-sizing: border-box;
            border-bottom: 1px solid #cacaca; }
            #app .towork > .content > .right > .view > .section > .name > .input {
              height: 50px;
              border: none;
              width: calc( 100% - 40px); }
            #app .towork > .content > .right > .view > .section > .name > .percent {
              float: right;
              line-height: 50px;
              font-size: 12px;
              color: #637e99;
              text-align: right; }
          #app .towork > .content > .right > .view > .section > .obj {
            font-size: 14px;
            color: #333333;
            box-sizing: border-box;
            border-bottom: 1px solid #cacaca;
            position: relative; }
            #app .towork > .content > .right > .view > .section > .obj > .textarea {
              padding: 16px 0;
              font-size: 14px;
              height: 84px;
              border: none; }
            #app .towork > .content > .right > .view > .section > .obj > .bottom {
              height: 30px;
              line-height: 30px; }
              #app .towork > .content > .right > .view > .section > .obj > .bottom > .btn {
                float: left;
                color: #637e99; }
              #app .towork > .content > .right > .view > .section > .obj > .bottom > .percent {
                float: right;
                line-height: 30px;
                font-size: 12px;
                color: #637e99;
                text-align: right; }
          #app .towork > .content > .right > .view > .section > .picture {
            margin: 20px 0; }
          #app .towork > .content > .right > .view > .section > .sop {
            font-size: 14px;
            color: #333333;
            box-sizing: border-box;
            border-bottom: 1px solid #cacaca;
            position: relative; }
            #app .towork > .content > .right > .view > .section > .sop > .textarea {
              padding: 16px 0;
              font-size: 14px;
              padding: inherit !important;
              height: 32px;
              border: none; }
            #app .towork > .content > .right > .view > .section > .sop > .bottom {
              height: 30px;
              line-height: 30px; }
              #app .towork > .content > .right > .view > .section > .sop > .bottom > .btn {
                float: left;
                color: #637e99; }
              #app .towork > .content > .right > .view > .section > .sop > .bottom > .percent {
                float: right;
                line-height: 30px;
                font-size: 12px;
                color: #637e99;
                text-align: right; }
          #app .towork > .content > .right > .view > .section > .work {
            font-size: 14px;
            color: #333333;
            box-sizing: border-box;
            border-bottom: 1px solid #cacaca;
            position: relative; }
            #app .towork > .content > .right > .view > .section > .work > .textarea {
              padding: 16px 0;
              font-size: 14px;
              height: 66px;
              border: none; }
            #app .towork > .content > .right > .view > .section > .work > .bottom {
              height: 30px;
              line-height: 30px; }
              #app .towork > .content > .right > .view > .section > .work > .bottom > .btn {
                float: left;
                color: #637e99; }
              #app .towork > .content > .right > .view > .section > .work > .bottom > .percent {
                float: right;
                line-height: 30px;
                font-size: 12px;
                color: #637e99;
                text-align: right; }
          #app .towork > .content > .right > .view > .section > .group {
            height: 30px;
            line-height: 30px;
            padding: 10px 0; }
            #app .towork > .content > .right > .view > .section > .group > .checkbox {
              margin-top: 7px;
              float: left; }
            #app .towork > .content > .right > .view > .section > .group > .delete {
              float: right;
              color: #FF7B7B; }

/*# sourceMappingURL=addwork.css.map */
