.eventListTemWrap {
  width: calc(100% - 40px);
  height: 100%;
  padding: 0 20px 0;
  font-size: 14px; }
  .eventListTemWrap .head {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #dae3e9; }
    .eventListTemWrap .head .coRed{
      color: red;
  }
  .eventListTemWrap .neck {
    padding: 0 20px 0;
    width: calc(100% - 40px);
    height: 50px;
    line-height: 50px;
    background: #eaeef0; }
    .eventListTemWrap .neck > div {
      height: 30px;
      margin-top: 10px; }
    .eventListTemWrap .neck .left {
      float: left;
      width: 140px;
      margin-right: 10px; }
    .eventListTemWrap .neck .left2 {
      float: left;
      width: 140px; }
    .eventListTemWrap .neck .right {
      float: right;
      width: 200px; }
    .eventListTemWrap .neck .right2 {
      float: right;
      margin-right: 10px;
      width: 140px; }
    .eventListTemWrap .neck .right3 {
      margin-top: 1px;
      width: 240px; }
  .eventListTemWrap .title {
    padding: 0 20px 0;
    width: calc(100% - 40px);
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #eeeeee; }
    .eventListTemWrap .title > div {
      width: 100%;
      height: 100%; }
      .eventListTemWrap .title > div > span {
        float: left;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: nowrap;
        margin-right: 1%; }
  .eventListTemWrap .grid {
    width: 100%;
    height: calc(100% - 137px);
    overflow-x: hidden;
    overflow-y: auto; }
    .eventListTemWrap .grid ul {
      width: 100%;
      height: auto;
      overflow: hidden; }
      .eventListTemWrap .grid ul .warp {
        width: 3000px; }
      .eventListTemWrap .grid ul li {
        padding: 0 20px 0;
        width: calc(100% - 40px);
        list-style-type: none;
        height: 36px;
        line-height: 36px;
        cursor: pointer;
        position: relative; }
        .eventListTemWrap .grid ul li > span {
          float: left;
          display: block;
          height: 36px;
          margin-right: 1%;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          white-space: nowrap; }
        .eventListTemWrap .grid ul li:nth-of-type(odd) {
          background: #f4f6f9; }
  .eventListTemWrap .foot {
    width: 100%;
    height: 30px;
    padding: 10px 0 10px 0; }
    .eventListTemWrap .foot > div {
      float: right; }
  .eventListTemWrap .all .s0 {
    width: 14%;
    padding-right: 4%; }
  .eventListTemWrap .all .s1 {
    width: 14%; }
  .eventListTemWrap .all .s2 {
    width: 9%;
    margin-right: 8%;
    position: relative; }
    .eventListTemWrap .all .s2 div {
      height: 100%; }
      .eventListTemWrap .all .s2 div span {
        float: left; }
      .eventListTemWrap .all .s2 div > span:nth-last-of-type(1) > span:nth-of-type(2) {
        display: none; }
  .eventListTemWrap .all .s3 {
    width: 11%; }
  .eventListTemWrap .all .s31 {
    width: 11%; }
  .eventListTemWrap .all .s32 {
    width: 14%; }
  .eventListTemWrap .all .s4 {
    width: 12%; }
  .eventListTemWrap .all .s41 {
    width: 12%; }
  .eventListTemWrap .all .s42 {
    width: 15%; }
  .eventListTemWrap .all .s5 {
    width: 9%; }
  .eventListTemWrap .all .s51 {
    width: 9%; }
  .eventListTemWrap .all .s52 {
    width: 13%; }
  .eventListTemWrap .all .s6 {
    width: 14%;
    margin-right: 0; }
  .eventListTemWrap .all .s56 {
    width: 9%; }
  .eventListTemWrap .user .s0 {
    width: 9%;
    padding-right: 8%; }
  .eventListTemWrap .user .s1 {
    width: 14%; }
  .eventListTemWrap .user .s2 {
    width: 13%; }
  .eventListTemWrap .user .s3 {
    width: 14%; }
  .eventListTemWrap .user .s41 {
    width: 17%; }
  .eventListTemWrap .user .s51 {
    width: 17%; }
  .eventListTemWrap .user .s42 {
    width: 11%; }
  .eventListTemWrap .user .s43 {
    width: 17%; }
  .eventListTemWrap .user .s52 {
    width: 11%; }
  .eventListTemWrap .user .s53 {
    width: 17%; }
  .eventListTemWrap .user .s62 {
    width: 14%;
    margin-right: 0; }
  .eventListTemWrap .obj .s0 {
    width: 10%;
    padding-right: 9%; }
  .eventListTemWrap .obj .s1 {
    width: 14%; }
  .eventListTemWrap .obj .s21 {
    width: 12.5%;
    padding-right: 11.5%; }
  .eventListTemWrap .obj .s22 {
    width: 10%;
    padding-right: 9%; }
  .eventListTemWrap .obj .s21, .eventListTemWrap .obj .s22 {
    position: relative;
    overflow: hidden; }
    .eventListTemWrap .obj .s21 div, .eventListTemWrap .obj .s22 div {
      height: 100%; }
      .eventListTemWrap .obj .s21 div span, .eventListTemWrap .obj .s22 div span {
        float: left; }
      .eventListTemWrap .obj .s21 div > span:nth-last-of-type(1) > span:nth-of-type(2), .eventListTemWrap .obj .s22 div > span:nth-last-of-type(1) > span:nth-of-type(2) {
        display: none; }
  .eventListTemWrap .obj .s31 {
    width: 14%; }
  .eventListTemWrap .obj .s32 {
    width: 10%; }
  .eventListTemWrap .obj .s4 {
    width: 9%; }
  .eventListTemWrap .obj .s41 {
    width: 12%; }
  .eventListTemWrap .obj .s42 {
    width: 9%; }
  .eventListTemWrap .obj .s5 {
    width: 9%; }
  .eventListTemWrap .obj .s51 {
    width: 12%; }
  .eventListTemWrap .obj .s52 {
    width: 9%; }
  .eventListTemWrap .obj .s6 {
    width: 14%;
    margin-right: 0; }
  .eventListTemWrap .obj .s56 {
    width: 10%; }
  .eventListTemWrap .hq .s0 {
    width: 13%;
    padding-right: 12%; }
  .eventListTemWrap .hq .s11 {
    width: 16%; }
  .eventListTemWrap .hq .s12 {
    width: 19%; }
  .eventListTemWrap .hq .s21 {
    width: 16%; }
  .eventListTemWrap .hq .s22 {
    width: 19%; }
  .eventListTemWrap .hq .s31 {
    width: 15%; }
  .eventListTemWrap .hq .s32 {
    width: 23%; }
  .eventListTemWrap .hq .s4 {
    width: 14%;
    margin-right: 0; }
  .eventListTemWrap .hq .s5 {
    width: 9%; }
  .eventListTemWrap .moreObj {
    position: absolute;
    top: 10px;
    padding: 0 10px 0;
    height: 16px;
    line-height: 14px;
    font-size: 10px;
    border-radius: 40%;
    background: #EEEEEE;
    color: #333;
    left: 27.5%; }
  .eventListTemWrap .moreObj1 {
    left: 32.5%; }
  .eventListTemWrap .moreObj2 {
    left: 30%; }
  .eventListTemWrap .moreObj3 {
    left: 19%; }
  .eventListTemWrap .moreObj4 {
    left: 23%; }
  .eventListTemWrap .warn1 .s0 {
    width: 9%; }
  .eventListTemWrap .warn1 .s1 {
    width: 8%;
    padding-right: 7%;
    overflow: hidden; }
    .eventListTemWrap .warn1 .s1 div {
      height: 100%; }
      .eventListTemWrap .warn1 .s1 div span {
        float: left; }
      .eventListTemWrap .warn1 .s1 div > span:nth-last-of-type(1) > span:nth-of-type(2) {
        display: none; }
  .eventListTemWrap .warn1 .s2 {
    width: 9%; }
  .eventListTemWrap .warn1 .s3 {
    width: 9%; }
  .eventListTemWrap .warn1 .s4 {
    width: 9%; }
  .eventListTemWrap .warn1 .s5 {
    width: 9%; }
  .eventListTemWrap .warn1 .s6 {
    width: 9%; }
  .eventListTemWrap .warn1 .s7 {
    width: 9%; }
  .eventListTemWrap .warn1 .s8 {
    width: 14%;
    margin-right: 0; }
  .eventListTemWrap .warn2 .s1, .eventListTemWrap .warn3 .s1 {
    width: 12.5%;
    padding-right: 11.5%; }
  .eventListTemWrap .warn2 .s7, .eventListTemWrap .warn3 .s7 {
    width: 14%; }
  .eventListTemWrap .sort {
    width: 14px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    color: #7a94ad;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    /* for Firefox */ }
    .eventListTemWrap .sort em {
      width: 14px;
      height: 7px;
      display: block;
      font-family: "perficon";
      text-align: center;
      line-height: 7px;
      cursor: pointer;
      font-size: 12px;
      opacity: 0.5; }
    .eventListTemWrap .sort .op {
      opacity: 1; }
  .eventListTemWrap .btn {
    float: left;
    width: 80px;
    height: 100%;
    line-height: 36px;
    color: #637e99; }
    .eventListTemWrap .btn img {
      margin-top: 11px;
      float: left;
      margin-right: 3px; }
  .eventListTemWrap .btn:hover {
    color: #546f8a; }

#closeProEventCombo {
  display: none;
  position: absolute; }
  #closeProEventCombo .per-combobox-title {
    display: none; }

/*# sourceMappingURL=eventListTem.css.map */
