#evInfoFloat {
    width: 570px;
    height: 100%;
}

#eventInfoFloat #evInfoFloat {
    width: 570px;
    height: 100%;
}

#eventInfoFloat #eventInfoWCloseImg {
    position: absolute;
    top: 32px;
    left: 435px;
    z-index: 3;
}

#eventInfoFloat .shadow {
    background: white;
    opacity: 0.7;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 32px;
    left: 425px;
    z-index: 3;
    cursor: default;
}

#eventInfoFloat #closeEventInfoCombo {
    margin-right: -20px;
    padding-left: 10px;
}

#eventInfoFloat #closeEventInfoCombo .per-combobox-title {
    padding-top: 10px;
    border: none;
}

#eventInfoFloat #closeEventInfoCombo .per-combobox-title:hover {
    background: white;
}

#eventInfoFloat #closeEventInfoCombo .per-combobox_icon {
    display: none;
}

#eventInfoFloat #closeEventInfoCombo .per-combobox-wrap {
    top: 46px;
}

#eventInfoFloat #projectEvInfo {
    width: 570px;
    height: 100%;
}

#eventInfoFloat #projectEvInfo .content {
    width: calc(100% - 20px);
    padding-left: 20px;
    padding-bottom: 20px;
    height: calc(100% - 20px);
    overflow-y: auto;
}

#eventInfoFloat #projectEvInfo .content .head {
    width: calc(100% - 20px);
    height: auto;
    padding: 30px 20px 10px 0;
    border-bottom: 1px dashed #ececec;
}

#eventInfoFloat #projectEvInfo .content .body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

#eventInfoFloat #projectEvInfo .content .body .crtEdit {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 80px;
    height: 30px;
    z-index: 3;
}

#eventInfoFloat #projectEvInfo .content .body .edit {
    width: 530px;
    height: 360px;
    border: 1px solid #eeeeee;
    margin-top: 15px;
    position: relative;
}

#eventInfoFloat #projectEvInfo .content .body .edit .top {
    width: calc(100% - 50px);
    padding: 25px 20px 0 30px;
    height: 285px;
    background: #fcfcfc;
    border-bottom: 1px solid #eeeeee;
}

#eventInfoFloat #projectEvInfo .content .body .edit .top .type {
    height: 54px;
    width: 100%;
}

#eventInfoFloat #projectEvInfo .content .body .edit .top .type > div:nth-of-type(1) {
    height: 14px;
}

#eventInfoFloat #projectEvInfo .content .body .edit .top .type > div:nth-of-type(2) {
    height: 30px;
    width: 200px;
    margin-top: 10px;
}

#eventInfoFloat #projectEvInfo .content .body .edit .top .input {
    width: 480px;
    height: 190px;
    margin-top: 10px;
}

#eventInfoFloat #projectEvInfo .content .body .edit .top .input textarea {
    position: relative;
    text-align: left;
    line-height: 20px;
    font-size: 14px;
}

#eventInfoFloat #projectEvInfo .content .body .edit .top .input #characterLimit{
    position: absolute;
    right: 30px;
    top: 255px;
}

#eventInfoFloat #projectEvInfo .content .body .edit .top .hint {
    line-height: 30px;
}

#eventInfoFloat #projectEvInfo .content .body .edit .bottom {
    height: 30px;
    width: 170px;
    margin-left: 340px;
    margin-top: 10px;
}

#eventInfoFloat #projectEvInfo .content .body .edit .error-tip {
    font-size: 12px;
    height: 22px;
    line-height: 24px;
    color: #f97c7c;
    white-space: nowrap;
    position: absolute;
    bottom: 16px;
    left: 38px;
}

#eventInfoFloat #projectEvInfo .content .body .edit .bottom > div {
    width: 80px;
    float: left;
}

#eventInfoFloat #projectEvInfo .content .body .edit .bottom > div:nth-of-type(2) {
    margin-left: 10px;
}

#eventInfoFloat #projectEvInfo .content .body .new {
    margin-top: 15px;
    width: calc(100% - 20px);
    padding-right: 20px;
    height: auto;
    border-bottom: 1px dashed #eeeeee;
}

#eventInfoFloat #projectEvInfo .content .body .old {
    height: auto;
    padding-right: 20px;
    height: auto;
    margin-top: 15px;
}

#eventInfoFloat #projectEvInfo .content .title {
    height: 20px;
    line-height: 20px;
    margin-bottom: 16px;
}

#eventInfoFloat #projectEvInfo .content .title span {
    float: left;
    display: block;
    height: 20px;
}

#eventInfoFloat #projectEvInfo .content .title > span:nth-of-type(1) {
    width: 85px;
    color: #333;
    text-align: right;
    font-weight: 600;
    line-height: 20px;
}

#eventInfoFloat #projectEvInfo .content .title > span:nth-of-type(2) {
    padding: 0 6px 0;
    color: #6e6e6e;
    background: #EEEEEE;
    margin-left: 8px;
    line-height: 20px;
    max-width: 300px;
    overflow: hidden;
}

#eventInfoFloat #projectEvInfo .content .box {
    height: auto;
    margin-bottom: 6px;
    zoom: 1;
    position: relative;
}

#eventInfoFloat #projectEvInfo .content .box .EvObj .soh {
    color: #637e99;
    cursor: pointer;
    margin-left: 10px;
}

#eventInfoFloat #projectEvInfo .content .box .EvObj .obj {
    width: 100%;
    height: auto;
    display: block;
}

#eventInfoFloat #projectEvInfo .content .box .EvObj .obj li {
    line-height: 28px;
}

#eventInfoFloat #projectEvInfo .content .box .EvObj .obj li > div:nth-of-type(1) {
    color: #637e99;
}

#eventInfoFloat #projectEvInfo .content .box .EvObj .obj li > div:nth-of-type(2) {
    color: #999999;
}

#eventInfoFloat #projectEvInfo .content .box > span {
    float: left;
    display: block;
}

#eventInfoFloat #projectEvInfo .content .box > span:nth-of-type(1) {
    width: 85px;
    color: #7a7a7a;
    text-align: right;
    line-height: 28px;
}

#eventInfoFloat #projectEvInfo .content .box > span:nth-of-type(2) {
    width: 405px;
    color: #333;
    margin-left: 15px;
    line-height: 28px;
    word-wrap: break-word;
}

#eventInfoFloat #projectEvInfo .content .box .evInfoBtn {
    height: 28px;
    line-height: 28px;
    width: 80px;
    margin-left: 20px;
}

#eventInfoFloat #projectEvInfo .content .box .pic {
    float: left;
    width: 405px;
    margin-left: 15px;
    height: auto;
}

#eventInfoFloat #projectEvInfo .content .box .pic div {
    width: 195px;
    height: 205px;
    overflow: hidden;
    float: left;
}

#eventInfoFloat #projectEvInfo .content .box .pic div img {
    width: 195px;
}

#eventInfoFloat #projectEvInfo .content .box .pic > div:nth-of-type(even) {
    margin-left: 15px;
}

#eventInfoFloat #projectEvInfo .content .box:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

#eventInfoFloat #groupEvInfo {
    width: 530px;
    height: 100%;
    padding: 0 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#eventInfoFloat #groupEvInfo .head {
    padding: 10px 0 20px 0;
    height: auto;
    width: 100%;
    border-bottom: 2px dashed #f7f7f7;
}

#eventInfoFloat #groupEvInfo .box {
    margin-top: 20px;
    min-height: 14px;
    line-height: 14px;
    height: auto;
    position: relative;
    width: 100%;
}

#eventInfoFloat #groupEvInfo .box span {
    float: left;
    display: block;
    word-wrap: break-word;
}

#eventInfoFloat #groupEvInfo .box > span:nth-of-type(1) {
    width: 85px;
    text-align: right;
    margin-right: 15px;
    color: #6f6f6f;
}

#eventInfoFloat #groupEvInfo .box > span:nth-of-type(2) {
    width: calc(100% - 120px);
    color: #333;
}

#eventInfoFloat #groupEvInfo .box .pic {
    float: left;
    width: calc(100% - 100px);
    height: auto;
}

#eventInfoFloat #groupEvInfo .box .pic div {
    width: 200px;
    height: 200px;
    overflow: hidden;
    float: left;
}

#eventInfoFloat #groupEvInfo .box .pic div img {
    width: 200px;
}

#eventInfoFloat #groupEvInfo .box .pic > div:nth-of-type(even) {
    margin-left: 10px;
}

#eventInfoFloat #groupEvInfo .box .toggle {
    position: absolute;
    right: 0;
    color: #7a94ad;
    cursor: pointer;
}

#eventInfoFloat #groupEvInfo .box .toggle div {
    float: left;
}

#eventInfoFloat #groupEvInfo .box .toggle > div:nth-of-type(2) {
    margin-left: 5px;
}

#eventInfoFloat #groupEvInfo .box .toggle .reverse {
    transform: rotate(180deg);
}

#eventInfoFloat #groupEvInfo .pro {
    width: 100%;
    height: auto;
    border: 2px dashed #f7f7f7;
    border-top: none;
    border-bottom: none;
}

#eventInfoFloat #groupEvInfo .pro > div {
    /*display: inline-block;*/
    width: 100%;
    line-height: 40px;
    background: #fcfcfc;
    border-bottom: 2px dashed #f7f7f7;
    position: relative;
}

#eventInfoFloat #groupEvInfo .pro > div > div.MT {
    width: 85px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    color: #6f6f6f;

}
#eventInfoFloat #groupEvInfo .pro > div > div.describe {
    display: inline-block;
}
#eventInfoFloat #groupEvInfo .pro > div > div.describe > div:nth-of-type(1){
    float: left;
    margin-left: 100px;
    width: 300px;
    height: 40px;
    line-height: 40px;
}
#eventInfoFloat #groupEvInfo .pro > div > div.describe > div:nth-of-type(1) > span {
    display: inline-block;
    float: left;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}


#eventInfoFloat #groupEvInfo .pro > div > div.describe > div:nth-of-type(2){
    float: left;
}
#eventInfoFloat #groupEvInfo .pro > div > div.describe > div:nth-of-type(2) .state {
    width: 75px;
    height: 18px;
    background: #eeeeee;
    text-align: center;
    line-height: 18px;
}

#eventInfoFloat #groupEvInfo .pro > div > div.describe > div:nth-of-type(2) {
    float: left;
    /*width: 90px;*/
    height: 40px;
    margin-right: 30px;
    color: #7a94ac;
    line-height: 40px;
    margin-left: 6px;
}

#eventInfoFloat #groupEvInfo .pro > div > div.describe > div:nth-of-type(2) > span {
    margin-left: 10px;
}

#eventInfoFloat #groupEvInfo .pro > div > div.describe > div:nth-of-type(2) > img {
    margin-top: 2px;
}

#eventInfoFloat #groupEvInfo .pro > div > div.describe > div:nth-of-type(2) > img:nth-of-type(1) {
    display: inline-block;
}

#eventInfoFloat #groupEvInfo .pro > div > div.describe > div:nth-of-type(2) > img:nth-of-type(2) {
    display: none;
}

#eventInfoFloat #groupEvInfo .pro > div > div.describe > div:nth-of-type(2):hover {
    color: #546f8a !important;
    cursor: pointer;
}

#eventInfoFloat #groupEvInfo .pro > div > div.describe > div:nth-of-type(2):hover > img:nth-of-type(1) {
    display: none;
}

#eventInfoFloat #groupEvInfo .pro > div > div.describe > div:nth-of-type(2):hover > img:nth-of-type(2) {
    display: inline-block;
}

#textareaErrorTip {
    display: none;
}

/*# sourceMappingURL=eventInfo.css.map */
