
<script src="./js/eventMng/eventManage/model.js"></script>
<script src="./js/eventMng/eventManage/event.js"></script>

<link rel="stylesheet" href="./css/eventMng/group/eventManage.css">

<div id="eventManage" v-show="onPage=='eventManage'">
    
    <ptab-navigation bind="true" id="'eventManageTab'" datasource="eventManageTab" text="name" icon="icon" templateid="eventManageTemplate" sel="selEventTab"></ptab-navigation>
    
</div>





<!-- 集团事件Tab模板Start -->
<script type="text/html" id="eventManageTemplate">

    <ploading-part id="eventMngPart"></ploading-part>

    <!-- 项目预览首页 -->
    <div class="proList" v-show="EvMngCtrPage.wrap === 0 && EvMngCtrPage.list === 0">


        <div class="left">
            <div class="search">
                <div>
                    <psearch-delay id="'eventGPKeyWord'" bind="true" change="proEvSearch" placeholder="'租户名称或租户编号'"></psearch-delay>
                </div>
                <div>
                    <pcombobox-normal id="'eventTypeCombo'" sel="selProEventType" bind="true">
                        <header placeholder="'全部'"></header>
                        <item datasource="allEventType" text="name" id="code"></item>
                    </pcombobox-normal>
                </div>
            </div>
            <div class="content">

                <div class="pro">
                    &nbsp;&nbsp;项目数量&nbsp;<a style="font-weight:700;" v-text="groupEvIndexData.projectTotalCount" :title="groupEvIndexData.projectTotalCount"></a>
                </div>

                <div class="proEv" v-if="$('#eventTypeCombo').psel().index === 0 && groupEvIndexData.waitingHandleCount">
                    <div class="title">待处理事件&nbsp;<a v-text="groupEvIndexData.waitingHandleCount"></a></div>
                    <div class="ev">
                        <div><i>B</i></div>
                        <div>客户报修</div>
                        <div class="MT" v-text="groupEvIndexData.waitingHandleEvents.customerRepairCount"></div>
                    </div>
                    <div class="ev">
                        <div><img src="../images/objFix.png" alt=""></div>
                        <div>工程报修</div>
                        <div class="MT" v-text="groupEvIndexData.waitingHandleEvents.projectRepairCount"></div>
                    </div>
                    <div class="ev">
                        <div><i>:</i></div>
                        <div>总部指派</div>
                        <div class="MT" v-text="groupEvIndexData.waitingHandleEvents.headquartersAssignCount"></div>
                    </div>
                    <div class="ev">
                        <div><img src="../images/errInfo.png" alt=""></div>
                        <div>数据异常</div>
                        <div class="MT" v-text="groupEvIndexData.waitingHandleEvents.dataAnomalyCount"></div>
                    </div>
                </div>

                <div class="proEv" v-if="$('#eventTypeCombo').psel().index === 0 && groupEvIndexData.handlingCount">
                    <div class="title">处理中事件&nbsp;<a v-text="groupEvIndexData.handlingCount"></a></div>
                    <div class="ev">
                        <div><i>B</i></div>
                        <div>客户报修</div>
                        <div class="MT" v-text="groupEvIndexData.handlingEvents.customerRepairCount"></div>
                    </div>
                    <div class="ev">
                        <div><img src="../images/objFix.png" alt=""></div>
                        <div>工程报修</div>
                        <div class="MT" v-text="groupEvIndexData.handlingEvents.projectRepairCount"></div>
                    </div>
                    <div class="ev">
                        <div><i>:</i></div>
                        <div>总部指派</div>
                        <div class="MT" v-text="groupEvIndexData.handlingEvents.headquartersAssignCount"></div>
                    </div>
                    <div class="ev">
                        <div><img src="../images/errInfo.png" alt=""></div>
                        <div>数据异常</div>
                        <div class="MT" v-text="groupEvIndexData.handlingEvents.dataAnomalyCount"></div>
                    </div>
                </div>

                <div class="totalEv" v-if="$('#eventTypeCombo').psel().index != 0 && groupEvIndexData.waitingHandleCount">
                    <div>
                        <div>待处理事件</div>
                        <div class="MT" v-text="groupEvIndexData.waitingHandleCount"></div>
                    </div>
                    <div>
                        <div>处理中事件</div>
                        <div class="MT" v-text="groupEvIndexData.handlingCount"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="right" id="proWrap">
            <pscroll-small templateid="evProListRightTemplate"></pscroll-small>
        </div>

    </div>


    <!-- 项目事件列表 -->
    <div class="proEvList" v-show="EvMngCtrPage.wrap === 0 && EvMngCtrPage.list === 1">
        <div class="nav">
            <span @click="EvMngCtrPage.list = 0">
                <i class="icon">I</i>
            </span>
            <span>
                <a @click="EvMngCtrPage.list = 0">首页</a>/
            </span>
            <span v-text="evMngProject.projectName"></span>
        </div>
        <div class="body">
            <% include ./eventListTem.html %>
        </div>
    </div>


    <!-- 集团事件列表 -->
    <div id="groupEvList" v-show="EvMngCtrPage.wrap === 1 && EvMngCtrPage.group === 0">

        <div class="head">
            未指派事件
            <a v-text="groupListData.num.noAssignCount || 0"></a>
            条，已指派
            <a v-text="groupListData.num.assignedCount || 0"></a>
            条，已关闭
            <a v-text="groupListData.num.closedCount || 0"></a>
            条
        </div>
    
        <div class="neck">
    
            <div class="left">
                <pbutton-white text="'新建事件'" bind="true" id="'createEvBtn'" @click="createNewEvent"></pbutton-white>
            </div>
    
            <div class="right">
                <psearch-delay id="'groupEvSerKey'" bind="true" change="groupEvListSeaKey" placeholder="'搜索关键字'"></psearch-delay>
            </div>
    
            <div class="right2">
                <pcombobox-normal id="'isEvPCombo'" sel="selEvAssignState" bind="true">
                    <header placeholder="'是否已指派'"></header>
                    <item datasource="allEvAssignState" text="name" id="id"></item>
                </pcombobox-normal>
            </div>
    
        </div>
    
        <div class="title">
            <span class="s0">事件描述</span>
            <span class="s1">创建人</span>
            <span class="s2">
                <span>要求开始时间</span>
                <span class="sort" unselectable="on" @click="groupEvListSort(event,'startTime')"><em mgsim="t" class="">t</em><em mgsim="" class=" b">b</em></span>
            </span>
            <span class="s3">
                <span>要求结束时间</span>
                <span class="sort" unselectable="on" @click="groupEvListSort(event,'endTime')"><em mgsim="t" class="">t</em><em mgsim="" class=" b">b</em></span>
            </span>
            <span class="s4">是否已指派</span>
            <span class="s5"></span>
        </div>
    
        <div class="grid">
            <pscroll-small templateid="groupEventListTemplate"></pscroll-small>
            <ploading-part id="groupEvListLoading"></ploading-part>
        </div>
    
        <div class="foot">
            <div>
                <ppage-full bind="true" id="'groupEventPage'" sel="selGroupEventPage"></ppage-full>
            </div>
        </div>

    </div>


    <!-- 新建事件 -->
    <div class="createEv" v-show="EvMngCtrPage.wrap === 1 && EvMngCtrPage.group === 1">

        <div class="head">
            <span @click="EvMngCtrPage.group = 0">
                <i class="icon">I</i>
            </span>
            <span>
                <a @click="EvMngCtrPage.group = 0">首页</a>/
            </span>
            <span>新建事件</span>
        </div>

        <div class="body" id="newGroup">
            <div class="title">事件内容</div>

            <div class="text">
                <ptext-textarea placeholder="请填写事件描述" id="createGroupEventText">
                    <!--<verify errtip="不可超过100字" length="100" friendlyip="" verifytype="space"></verify>-->
                    <verify errtip="不可超过100字" length="100" friendlyip="" verifytype="length"></verify>
                    <verify errtip="不可为空"  verifytype="space"></verify>
                </ptext-textarea>
            </div>
            <div class="img">
                <pupload-img number="4" arrange="horizontal" id="createGroupEventImg"></pupload-img>
            </div>

            <div class="title">要求开始时间</div>

            <div class="sel">
                <pcombobox-normal id="'createGroupEventStart'" sel="groupEventStartSel" bind="true">
                    <header placeholder="'指派后立即开始'"></header>
                    <item datasource="[{name:'指派后立即开始',code:0},{name:'指定时间',code:1}]" text="name" id="code"></item>
                </pcombobox-normal>
            </div>

            <div class="time" v-show="createEv.start === 1">
                <div>要求开始时间</div>
                <div>
                    <ptime-form id="groupEventStartTime" >
                        <panel timetype="yMdhm" startyear="2003" endyear="2018"></panel>
                    </ptime-form>
                </div>
            </div>

            <div class="selTime">
                <span><pswitch-radio text="要求固定时间内完成" id="groupEventEnd" state="true" name="groupEventEnd" change="groupEventEndtSel"></pswitch-radio></span>
                <span><pswitch-radio text="自定义完成时间" state="false" name="groupEventEnd" change="groupEventEndtSel"></pswitch-radio></span>
            </div>

            <div class="time" v-show="createEv.end === 0">
                <div>要求固定时间内完成</div>
                <div class="hour">
                    <ptext-text placeholder="请输入数字" text="小时" id="createGroupEvFixStart">
                        <verify errtip="请输入正数(小数点后最多保留一位)"  verifytype="positivenumber"></verify>
                    </ptext-text>
                </div>
            </div>

            <div class="time" v-show="createEv.end === 1">
                <div>要求完成时间</div>
                <div>
                    <ptime-form id="createGroupEventEndTime">
                        <panel timetype="yMdhm" startyear="2003" endyear="2018"></panel>
                    </ptime-form>
                </div>
            </div>

        </div>

        <div class="box"></div>
        
        <div class="sure">
            <div><pbutton-blue text="'提交'" @click="createEvFin(true)" bind="true"></pbutton-blue></div>
            <div><pbutton-white text="'取消'" @click="createEvFin(false)" bind="true"></pbutton-white></div>
        </div>

    </div>

</script>
<!-- 集团事件Tab模板End -->


<!-- 项目事件列表补充模板Start 同eventListTem.html一同调用实现项目事件列表-->
<% include ./eventListGridTem.html %>
<!-- 项目事件列表补充模板End -->


<!-- 集团事件列表模板Start -->
<script type="text/html" id="groupEventListTemplate">
    <li @click.stop="openGroupEvInfoW(model)" v-for="model in groupListData.data">
        <span class="s0 MT" v-text="model.eventDescribe" :title="model.eventDescribe"></span>
        <span class="s1" v-text="model.createrName" :title="model.createrName"></span>
        <span class="s2" v-text="model.startTime" :title="model.startTime"></span>
        <span class="s3" v-text="model.endTime" :title="model.endTime"></span>
        <span class="s4" v-text="model.groupEventState == 1 ? '已指派' + model.assignCount + '项目' : allEvSta[model.groupEventState]"
        :title="model.groupEventState == 1 ? '已指派' + model.assignCount + '项目' : allEvSta[model.groupEventState]"></span>
        <span class="s5 opearte">
            <span v-show="model.groupEventState == 0" @click.stop="deleteGroupEv(model)">
                <i class="icon">p</i>
                <span>删除</span>
            </span>
            <span v-show="model.groupEventState != '0' && model.groupEventState != '2'"
            @click.stop="closeGroupEv(model)">
                <img src="../images/scrap_blue_btn.png" alt="">
                <span>关闭</span>
            </span>
            <span v-show="model.groupEventState != '2'" @click.stop="openAssignW(model)">
                <i class="icon">U</i>
                <span>指派</span>
            </span>
            <!-- <span v-show="model.groupEventState === '2'">
                <img src="../images/personList.png" alt="">
                <span>详情</span>
            </span> -->
        </span>
    </li>
</script>
<!-- 集团事件列表模板End -->


<!-- 集团事件指派弹窗Start -->
<pwindow-modal id="groupEvAssignW" title="选择项目" templateid="groupEvAssignWTemplate"></pwindow-modal>
<script type="text/html" id="groupEvAssignWTemplate">
    
    <ploading-part id="groupEvAssignProLoading"></ploading-part>

    <div id="groupEvAssignWrap" v-show="groupEvAssignStep === 0">
        <div class="search">
            <psearch-delay id="'groupEvProKey'" bind="true" change="searchThisEvPro" placeholder="'搜索关键字'"></psearch-delay>
        </div>
        <div class="tree">
            <ptree-normal id="'evProListTree'" bind="true" datasource="groupEvProjectList" sel="clickItem" number="2"> 
                <item itemid="partition_project_id" text="partition_project_name" child="contents" issearch="false"></item> 
                <panel width="400" height="450"></panel> 
            </ptree-normal>
        </div>
        <div class="sure">
            <div><pbutton-white text="'取消'" bind="true" @click="groupEvAssignFin(false)"></pbutton-white></div>
            <div><pbutton-blue  text="'下一步'" bind="true" @click="groupEvAssignFin(true)"></pbutton-blue></div>
        </div>
    </div>
    <div id="groupEvAssignTwoWrap" v-show="groupEvAssignStep === 1">
        <div class="search">
            <psearch-delay id="'groupEvDeptKey'" bind="true" change="getGroupEvListOrign" placeholder="'搜索关键字'"></psearch-delay>
        </div>
        <div class="tree">
            <ptree-normal id="'evOrgainTree'" bind="true" datasource="groupEvOrgainTree" sel="" number="2"> 
                <item itemid="obj_id" text="obj_name" child="child_objs" issearch="false"></item> 
                <panel width="400" height="500"></panel> 
            </ptree-normal>
        </div>
        <div class="sure">
            <div><pbutton-white text="'取消'" bind="true" @click="groupEvAssignTwoFin(false)"></pbutton-white></div>
            <div><pbutton-blue  text="'确定'" bind="true" @click="groupEvAssignTwoFin(true)"></pbutton-blue></div>
        </div>
    </div>
</script>
<!-- 集团事件指派弹窗End -->


<!-- 集团事件关闭弹窗Start -->
<pwindow-modal id="groupEvCloseW" title="关闭事件" templateid="groupEvCloseWTemplate"></pwindow-modal>
<script type="text/html" id="groupEvCloseWTemplate">
    <div id="groupEvCloseWrap" xC="a in model">
         <div class="text">还有以下<a v-text="groupEvIngProList.length"></a>个项目未完成事件，是否确认关闭</div>
         <ul class="grid">
            <pscroll-small templateid="groupEvCloseListTemplate"></pscroll-small>
         </ul>
         <div class="text">确认关闭后，不影响已指派项目</div>
         <div class="sure">
             <div><pbutton-white bind="true" @click="closeGroupEvFin(false)" text="'取消'"></pbutton-white></div>
             <div><pbutton-blue  bind="true" @click="closeGroupEvFin(true)" text="'确认关闭'"></pbutton-blue></div>
         </div>
    </div>
</script>
<script type="text/html" id="groupEvCloseListTemplate">
    <li v-for="model in groupEvIngProList" v-text="model.projectName" :title="model.projectName"></li>
</script>
<!-- 集团事件关闭弹窗End -->


<!-- 集团事件删除确认弹窗Start -->
<pwindow-confirm id="deleteGroupEvW">
    <button>
        <pbutton-backred text="确定" click="deleteGroupEvFin(true)"></pbutton-backred>
        <pbutton-white text="取消" click="deleteGroupEvFin(false)"></pbutton-white>
    </button>
</pwindow-confirm>
<!-- 集团事件删除确认弹窗End -->



<!-- 项目列表模板Start -->
<script type="text/html" id="evProListRightTemplate">
    <div class="box" :style="{'width':proBoxWidth}" @click="openProEvList(model)" v-for="model in groupEvIndexData.projectsDetail">
        <div class="title" v-text="model.projectName"></div>
        <div class="bot">
            <div><img src="../images/waitD.png" />待处理事件</div>
            <div class="MT" v-text="model.projectCount.waitingHandleCount">123</div>
        </div>
        <div class="bot">
            <div><i class="blue">G</i>处理中事件</div>
            <div class="MT" v-text="model.projectCount.handlingCount">123</div>
        </div>
    </div>
</script>
<!-- 项目列表模板End -->