<script type="text/html" id="Multiple">
<div pc="" class="per-combobox-basic" @click.stop="" @mouseleave="open=false">
    <div cheader="" class="per-combobox-title" :title="getSelecetedNames || placeholder" @click="open=!open">
        <span cheadertext="" class="per-combobox_name" v-text="getSelecetedNames || placeholder"></span>
        <span class="per-combobox_icon">v</span>
    </div>
    <div class="per-combobox-wrap _combobox_bottom _combobox_left" :style="isOpen">
        <div class="_combobox_flex">
            <div class="per-combobox-con" style="display: inline-block;">
                <div class="per-scrollbar" style="max-width: 298px; max-height: 90px;overflow-y:auto">
                    <div class="per-scrollbar_wrap">
                        <div class="per-scrollbar_actual">
                            <ul>
                                <li level="1" class="per-combobox_item" :class='seleceted.indexOf(item)!=-1?"per-pitch":""' :title="item[attr]" v-for="(item,index) in datasource" @click="handlerClick(item),submit()">
                                    <b v-text="item[attr]"></b>
                                    <i class="per-combobox_item_iconR">Z</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<script>
    Vue.component('multiple', {
        template: '#Multiple',
        data: function () {

            return {
                // datasource: _.range(10).map(item => {
                //     return {
                //         code: "code" + item,
                //         name: "name" + item,
                //     }
                // }),
                // attr: "name",
                // seleceted: [],
                open: false,
            }
        },
        props: ["datasource", "attr", "placeholder", "seleceted", "cb", "arr"],
        methods: {
            // 点击选中按钮返回已选中的列表
            submit: function () {
                var _that = this;
                if (_.isFunction(_that.cb)) _that.cb(_that.seleceted);
            },
            handlerClick: function (item) {
                var _that = this;
                var index = _that.seleceted.indexOf(item);
                // 有则删除无则添加
                index == -1 ? _that.seleceted.push(item) : _that.seleceted.splice(index, 1);
            },
            documentClick: function () {
                this.open = false;
            }
        },
        computed: {
            seleceted: function () {
                return this.arr;
            },
            // 页面上面显示的已选中的名称
            getSelecetedNames: function () {
                var _that = this;
                return _.map(_that.seleceted, _that.attr).join(',');
            },
            isOpen: function () {
                var _that = this;
                return {
                    display: (_that.open ? "block" : "none") + ' !important'
                }
            }
        },
        watch: {

        },
        beforeMount: function () {
            document.addEventListener("click", this.documentClick);
        },
        beforeDestroy: function () {
            document.removeEventListener("click", this.documentClick);
        }
    })
</script>