.aite .aite-bubble {
  width: 360px;
  height: 450px;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3); }
.aite .aite-bubble.click-aite {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 15; }
.aite .aite-title {
  width: 100%;
  height: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  background-color: #f2f2f2;
  line-height: 45px;
  border-bottom: 1px solid #eee; }
  .aite .aite-title img {
    margin-top: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .aite .aite-title span {
    clear: both; }
  .aite .aite-title span.returnImg {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 8px;
    line-height: 30px;
    vertical-align: top;
    text-align: center;
    cursor: pointer; }
.aite .aite-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border-top: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal; }
  .aite .aite-footer > div {
    display: inline; }
  .aite .aite-footer > div:first-of-type {
    margin-right: 15px; }
  .aite .aite-footer .footer-btn-noborder {
    border-top: 1px solid white; }
  .aite .aite-footer .sureBtnDivs {
    display: inline-block;
    vertical-align: top; }
.aite .aite-body {
  position: absolute;
  width: 360px;
  height: 344px;
  background-color: white;
  overflow-y: auto; }
  .aite .aite-body > div {
    width: 100%;
    height: 100%; }
.aite .aite-list {
  width: 100%;
  height: 44px;
  line-height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer; }
.aite .system-major {
  width: 100%;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  font-size: 12px;
  padding: 0 8px 0 14px;
  border-bottom: 1px solid #d9d9d9; }
.aite > div {
  display: inline-block;
  box-sizing: border-box;
  line-height: normal;
  width: auto !important;
  max-width: 125px;
  vertical-align: text-bottom; }
.aite > div:first-of-type {
  color: #888;
  max-width: 78px; }
.aite .tree-body {
  width: 100%;
  height: 100%;
  overflow-y: auto; }
.aite .tree-body.equip-trees {
  width: 100%;
  height: calc(100% - 35px);
  overflow-y: auto; }
.aite .both-all-common .tree-body {
  width: 100%;
  height: 100%; }
.aite .tree-box {
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #cacaca;
  vertical-align: top; }
.aite .last-level-box {
  /*display: inline-block;*/
  width: 50%;
  height: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  overflow-y: auto; }
.aite .selectionOn {
  background-color: #02a9d1;
  color: white; }
.aite .layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
.aite .aite_on, .aite .aite_on:hover {
  background: #02a9d1 !important;
  color: #fff !important; }
.aite .left {
  float: left !important; }

/*# sourceMappingURL=aaa.css.map */
