.pointer {
  cursor: pointer; }

.inline-block {
  display: inline-block;
  cursor: pointer; }

body {
  overflow: hidden; }

.rc {
  color: #f97c7c; }

._font_over, #app .group_home .main .content .contenter .t_body .info .item, #app .group_home .main .content .contenter .t_body .info .item1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch; }

.flex-row, #app .group_home .main .content .contenter .t_header, #app .group_home .main .content .contenter .t_body .info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch; }

.complete, #app, #app .group_home {
  height: 100%;
  width: 100%; }

.border-radius, #app .group_home .main {
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.box-shadow, #app .group_home .main {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.12); }

._item, #app .group_home .main .content .contenter .t_header .item, #app .group_home .main .content .contenter .t_header .item1, #app .group_home .main .content .contenter .t_body .info .item, #app .group_home .main .content .contenter .t_body .info .item1 {
  flex: 1;
  padding-left: 20px; }

#app .toP {
  height: 500px;
  width: 400px; }
  #app .toP .tc {
    height: calc( 100% - 90px );
    overflow: auto; }
    #app .toP .tc .ti {
      height: 50px;
      line-height: 50px;
      padding: 0 20px;
      border-bottom: 1px solid #d9e2e8;
      cursor: pointer; }
      #app .toP .tc .ti .titxt {
        float: left;
        line-height: 50px;
        font-size: 14px; }
      #app .toP .tc .ti .c {
        float: right; }
        #app .toP .tc .ti .c .pcheckbox {
          overflow: hidden;
          color: #637e99;
          line-height: 16px;
          cursor: pointer;
          display: inline-block;
          margin-top: 14px; }
          #app .toP .tc .ti .c .pcheckbox > .pcheckbox_input {
            float: left;
            width: 16px;
            height: 16px;
            border: 1px solid #7a94ad;
            border-radius: 2px;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;
            background: #fff; }
          #app .toP .tc .ti .c .pcheckbox .pswitch_label {
            float: left; }
          #app .toP .tc .ti .c .pcheckbox .pcheckbox-checked {
            background: #7a94ad; }
          #app .toP .tc .ti .c .pcheckbox .pcheckbox-checked.pcheckbox_input:before {
            box-sizing: content-box;
            content: "";
            border: 2px solid #fff;
            border-left: 0;
            border-top: 0;
            height: 7px;
            left: 4px;
            top: 1px;
            transform: rotate(45deg);
            width: 4px;
            transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
            transform-origin: center;
            position: absolute; }
  #app .toP .tb {
    margin: 30px auto;
    text-align: center; }
    #app .toP .tb .btn {
      display: inline-block;
      margin: 0px 10px; }
#app .ctt {
  width: 500px;
  height: 360px; }
  #app .ctt .tn {
    height: 100px;
    text-align: center;
    font-size: 24px;
    line-height: 150px; }
  #app .ctt .ct {
    height: 200px; }
    #app .ctt .ct > div {
      height: 50px;
      line-height: 50px;
      text-align: center; }
      #app .ctt .ct > div > div {
        width: 190px;
        vertical-align: middle;
        display: inline-block; }
  #app .ctt .cb {
    height: 90px;
    text-align: center; }
    #app .ctt .cb > div {
      margin: 0 10px;
      display: inline-block; }
#app .group_home {
  position: relative;
  background: #f8f8f8; }
  #app .group_home .header .left {
    float: left;
    margin-top: 10px;
    margin-right: 20px; }
    #app .group_home .header .left > div {
      width: 140px; }
  #app .group_home .header .right {
    float: right;
    margin: 10px 0;
    height: 30px; }
    #app .group_home .header .right > div {
      width: 90px; }
  #app .group_home .main {
    background: #ffffff;
    width: 100%;
    height: 100%; }
    #app .group_home .main .content {
      margin: 0 20px;
      height: 100%; }
      #app .group_home .main .content .header {
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        margin: 0 -20px;
        border-bottom: 1px solid #d9e2e8;
        box-sizing: border-box; }
      #app .group_home .main .content .contenter {
        width: 100%;
        height: calc(100% - 50px); }
        #app .group_home .main .content .contenter .t_header {
          height: 29px;
          line-height: 29px;
          width: 100%;
          color: #000000; }
          #app .group_home .main .content .contenter .t_header .item:nth-last-child(1) {
            flex: 1.4; }
        #app .group_home .main .content .contenter .t_body {
          max-height: calc(100% - 29px);
          width: 100%;
          overflow: auto;
          overflow: overlay; }
          #app .group_home .main .content .contenter .t_body .info .item {
            color: #333333;
            line-height: 30px; }
            #app .group_home .main .content .contenter .t_body .info .item .ide {
              cursor: pointer; }
              #app .group_home .main .content .contenter .t_body .info .item .ide .icon, #app .group_home .main .content .contenter .t_body .info .item .ide .font {
                color: #637e99; }
              #app .group_home .main .content .contenter .t_body .info .item .ide .icon {
                font-family: "perficon";
                height: 15px;
                width: 15px; }
              #app .group_home .main .content .contenter .t_body .info .item .ide .font {
                margin-right: 10px; }
          #app .group_home .main .content .contenter .t_body .info .item:nth-last-child(1) {
            flex: 1.4; }
          #app .group_home .main .content .contenter .t_body .info .item1 {
            color: #333333;
            line-height: 30px; }
          #app .group_home .main .content .contenter .t_body > :nth-child(2n+1) {
            background: #f8f8f8; }

/*# sourceMappingURL=grouphome.css.map */
