.hashtag-bubble.click-aite {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }

.redMark {
  color: red; }

.hashtag-bubble {
  width: auto;
  height: 450px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  background-color: white; }
  .hashtag-bubble > .all-hashtag {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .hashtag-bubble > .all-hashtag > .hashtag-sop {
      width: 365px;
      height: 450px;
      box-sizing: border-box;
      border: 1px solid #d9d9d9;
      float: left; }
      .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-header {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #f2f2f2;
        border-bottom: 1px solid #e1e1e1; }
        .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-header .sop-header-btn {
          color: #7a94ad;
          font-size: 12px;
          float: right;
          cursor: pointer; }
          .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-header .sop-header-btn > span {
            margin-right: 20px; }
      .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-body {
        position: relative;
        width: 100%;
        height: calc(100% - 100px);
        overflow-y: auto;
        margin: 0;
        padding: 0; }
        .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-body .sop-list .pcheckbox {
          float: right;
          overflow: hidden;
          color: #637e99;
          line-height: 16px;
          cursor: pointer;
          display: inline-block;
          margin-top: 14px; }
          .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-body .sop-list .pcheckbox > .pcheckbox_input {
            float: left;
            width: 16px;
            height: 16px;
            border: 1px solid #7a94ad;
            border-radius: 2px;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;
            background: #fff; }
          .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-body .sop-list .pcheckbox .pswitch_label {
            float: left; }
          .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-body .sop-list .pcheckbox .pcheckbox-checked {
            background: #7a94ad; }
          .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-body .sop-list .pcheckbox .pcheckbox-checked.pcheckbox_input:before {
            box-sizing: content-box;
            content: "";
            border: 2px solid #fff;
            border-left: 0;
            border-top: 0;
            height: 7px;
            left: 4px;
            top: 1px;
            transform: rotate(45deg);
            width: 4px;
            transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
            transform-origin: center;
            position: absolute; }
        .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-body .sop-list > .aite-list {
          width: 100%;
          height: 44px;
          line-height: 44px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-bottom: 1px solid #e4e4e4;
          padding-left: 14px;
          padding-right: 14px;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-body .sop-list > .aite-list .sr {
            float: left;
            width: 310px;
            cursor: pointer; }
        .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-body .sop-nodata {
          width: 100%;
          height: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          position: relative; }
      .hashtag-bubble > .all-hashtag > .hashtag-sop .sop-footer {
        width: 100%;
        height: 60px;
        line-height: 60px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        border-top: 1px solid #d9d9d9;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: normal; }
    .hashtag-bubble > .all-hashtag > .hashtag-filter {
      width: 415px;
      height: 450px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #d9d9d9;
      border-left: none;
      float: right; }
      .hashtag-bubble > .all-hashtag > .hashtag-filter > .sop-header {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #f2f2f2;
        border-bottom: 1px solid #e1e1e1; }
        .hashtag-bubble > .all-hashtag > .hashtag-filter > .sop-header .sop-header-btn {
          color: #7a94ad;
          font-size: 12px;
          float: right;
          cursor: pointer; }
          .hashtag-bubble > .all-hashtag > .hashtag-filter > .sop-header .sop-header-btn > span {
            margin-right: 20px; }
      .hashtag-bubble > .all-hashtag > .hashtag-filter > .filter-body {
        width: 100%;
        height: calc(100% - 40px);
        overflow-y: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px; }
        .hashtag-bubble > .all-hashtag > .hashtag-filter > .filter-body > .filter-box {
          box-sizing: border-box; }
          .hashtag-bubble > .all-hashtag > .hashtag-filter > .filter-body > .filter-box .filter-div {
            width: 100%;
            min-height: 30px;
            margin-bottom: 10px; }
            .hashtag-bubble > .all-hashtag > .hashtag-filter > .filter-body > .filter-box .filter-div .filter-type {
              position: relative;
              width: 80px;
              height: 100%;
              -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              text-align: left;
              display: inline-block;
              vertical-align: top;
              line-height: 35px; }
            .hashtag-bubble > .all-hashtag > .hashtag-filter > .filter-body > .filter-box .filter-div .filter-name {
              width: calc(100% - 85px);
              display: inline-block;
              vertical-align: top;
              line-height: 35px; }
              .hashtag-bubble > .all-hashtag > .hashtag-filter > .filter-body > .filter-box .filter-div .filter-name .sel-span {
                border: 1px solid #14afd4;
                color: #14afd4; }
              .hashtag-bubble > .all-hashtag > .hashtag-filter > .filter-body > .filter-box .filter-div .filter-name .filter-all {
                display: inline-block;
                vertical-align: top;
                width: 40px; }
                .hashtag-bubble > .all-hashtag > .hashtag-filter > .filter-body > .filter-box .filter-div .filter-name .filter-all > span {
                  cursor: pointer;
                  display: inline-block;
                  line-height: normal;
                  vertical-align: top;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
                  padding: 1px 5px;
                  /* border: 1px solid rgba(20,175,212,1); */
                  margin-top: 5px;
                  -webkit-border-radius: 5px;
                  -moz-border-radius: 5px;
                  border-radius: 2px; }
              .hashtag-bubble > .all-hashtag > .hashtag-filter > .filter-body > .filter-box .filter-div .filter-name .filter-other {
                vertical-align: top;
                width: calc(100% - 45px);
                float: right; }
                .hashtag-bubble > .all-hashtag > .hashtag-filter > .filter-body > .filter-box .filter-div .filter-name .filter-other > span {
                  display: inline-block;
                  line-height: normal;
                  vertical-align: top;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
                  padding: 1px 5px;
                  margin-right: 5px;
                  cursor: pointer;
                  margin-top: 5px;
                  -webkit-border-radius: 5px;
                  -moz-border-radius: 5px;
                  border-radius: 2px;
                  max-width: 84px;
                  overflow: hidden;
                  white-space: nowrap;
                  word-break: keep-all;
                  text-overflow: ellipsis; }

/*# sourceMappingURL=hashtag.css.map */
