.pointer {
  cursor: pointer; }

.inline-block {
  display: inline-block;
  cursor: pointer; }

body {
  overflow: hidden; }

.rc {
  color: #f97c7c; }

._font_over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch; }

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch; }

.complete {
  height: 100%;
  width: 100%; }

.border-radius {
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.box-shadow {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.12); }

.aite-list {
  width: 100%;
  height: 44px;
  line-height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #e4e4e4;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.aite-bubble.idepoint {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 15;
  width: 360px;
  height: 450px;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3); }
  .aite-bubble.idepoint .aite-title {
    width: 100%;
    height: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background-color: #f2f2f2;
    line-height: 45px;
    border-bottom: 1px solid #eee; }
    .aite-bubble.idepoint .aite-title img {
      /*float: left;*/
      margin-top: 8px;
      /*margin-left: 15px;*/
      /*cursor: pointer;*/
      /*position: absolute;*/
      /*left: 14px;*/
      /*left: 0;*/
      /*top: 0;*/
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      /*padding: 8px 6px 8px 15px;*/ }
    .aite-bubble.idepoint .aite-title span {
      clear: both; }
    .aite-bubble.idepoint .aite-title span.returnImg {
      display: inline-block;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0;
      top: 8px;
      line-height: 30px;
      vertical-align: top;
      text-align: center;
      /*float: left;*/
      /*margin-top: 8px;*/
      cursor: pointer; }
  .aite-bubble.idepoint .aite-body {
    width: 100%;
    height: calc(100% - 105px);
    overflow-y: auto;
    background-color: white;
    position: relative; }
    .aite-bubble.idepoint .aite-body .list-body {
      width: 100%;
      height: 100%; }
      .aite-bubble.idepoint .aite-body .list-body .customize .customizename {
        line-height: 50px;
        padding-left: 20px; }
      .aite-bubble.idepoint .aite-body .list-body .customize .customizetitle {
        line-height: 30px;
        padding-left: 20px; }
        .aite-bubble.idepoint .aite-body .list-body .customize .customizetitle .small {
          color: #637e99;
          font-size: 12px;
          line-height: 1.2em; }
      .aite-bubble.idepoint .aite-body .list-body .customize .customizebody {
        height: calc(100% - 50px);
        display: flex;
        flex-flow: column nowrap; }
        .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input {
          margin-top: 10px;
          line-height: 30px;
          padding: 0 30px;
          position: relative; }
          .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start; }
            .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong .qj {
              width: 126px;
              margin: 0 10px; }
            .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong .ty {
              flex: 2;
              margin: 0 10px; }
            .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong .i {
              flex: 1;
              text-align: center;
              margin: 0 10px; }
            .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong .right {
              display: flex;
              flex-flow: row nowrap;
              justify-content: flex-end; }
            .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong .idetotal {
              flex: 5;
              margin: 0 10px; }
            .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong .icon {
              position: absolute;
              top: 0;
              right: 0;
              height: 30px;
              width: 30px;
              line-height: 30px;
              text-align: center;
              font-family: "perficon";
              color: red; }
            .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong .pcheckbox {
              margin-top: 7 !important; }
            .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong .pcheckbox {
              overflow: hidden;
              color: #637e99;
              line-height: 16px;
              cursor: pointer;
              display: inline-block;
              margin-top: 14px; }
              .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong .pcheckbox > .pcheckbox_input {
                float: left;
                width: 16px;
                height: 16px;
                border: 1px solid #7a94ad;
                border-radius: 2px;
                box-sizing: border-box;
                position: relative;
                cursor: pointer;
                background: #fff; }
              .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong .pcheckbox .pswitch_label {
                float: left; }
              .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong .pcheckbox .pcheckbox-checked {
                background: #7a94ad; }
              .aite-bubble.idepoint .aite-body .list-body .customize .customizebody .selection-input .wrong .pcheckbox .pcheckbox-checked.pcheckbox_input:before {
                box-sizing: content-box;
                content: "";
                border: 2px solid #fff;
                border-left: 0;
                border-top: 0;
                height: 7px;
                left: 4px;
                top: 1px;
                transform: rotate(45deg);
                width: 4px;
                transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 0.05s;
                transform-origin: center;
                position: absolute; }
  .aite-bubble.idepoint .aite-footer {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    border-top: 1px solid #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal; }
    .aite-bubble.idepoint .aite-footer > div {
      display: inline;
      /*vertical-align: top;*/ }
    .aite-bubble.idepoint .aite-footer > div:first-of-type {
      margin-right: 15px; }
    .aite-bubble.idepoint .aite-footer .sureBtnDivs {
      display: inline-block;
      vertical-align: top; }

/*# sourceMappingURL=idepoint.css.map */
