.pointer {
  cursor: pointer; }

.inline-block {
  display: inline-block;
  cursor: pointer; }

body {
  overflow: hidden; }

.rc {
  color: #f97c7c; }

._font_over {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch; }

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch; }

.complete, #app, #app .monitoring_plan {
  height: 100%;
  width: 100%; }

.border-radius, #app .monitoring_plan .main {
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.box-shadow, #app .monitoring_plan .main {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.12); }

#app .monitoring_plan {
  position: relative;
  background: #f8f8f8; }
  #app .monitoring_plan .main {
    background: #ffffff;
    width: 100%;
    height: 100%; }
    #app .monitoring_plan .main .content {
      margin: 0 20px;
      height: 100%; }
      #app .monitoring_plan .main .content .header {
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        margin: 0 -20px;
        border-bottom: 1px solid #d9e2e8;
        box-sizing: border-box; }
      #app .monitoring_plan .main .content .contenter {
        width: 100%;
        height: calc(100% - 50px); }
        #app .monitoring_plan .main .content .contenter .search_view {
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: flex-start;
          height: 50px;
          line-height: 50px; }
          #app .monitoring_plan .main .content .contenter .search_view .font {
            font-size: 14px;
            margin-left: 20px; }
            #app .monitoring_plan .main .content .contenter .search_view .font:first-child {
              margin-left: 0; }
          #app .monitoring_plan .main .content .contenter .search_view .cbx {
            display: inline-block;
            width: 140px;
            vertical-align: middle; }
          #app .monitoring_plan .main .content .contenter .search_view .timetype {
            background: #f8f8f8;
            width: 300px;
            line-height: 30px;
            height: 30px;
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: center;
            margin-left: 6px;
            border-radius: 2px; }
            #app .monitoring_plan .main .content .contenter .search_view .timetype .item {
              height: 30px;
              width: 60px;
              box-sizing: border-box;
              text-align: center;
              border-radius: 2px;
              border: 1px solid #f8f8f8; }
            #app .monitoring_plan .main .content .contenter .search_view .timetype .on {
              color: #02a9d1;
              border: 1px solid #02a9d1; }
        #app .monitoring_plan .main .content .contenter .status_view {
          line-height: 50px;
          padding-left: 20px;
          border: 1px solid #d9e2e8;
            border-bottom: 0px;
          background: #f8f8f8;
          font-size: 16px;
          box-sizing: border-box;
          position: relative;
          zoom: 1; }
          #app .monitoring_plan .main .content .contenter .status_view:after {
            content: "\0020";
            display: block;
            height: 0;
            clear: both; }
          #app .monitoring_plan .main .content .contenter .status_view .name {
            display: block;
            position: absolute;
            top: calc(50% - 8px);
            height: 16px;
            left: 20px;
            width: 130px;
            line-height: 16px; }
          #app .monitoring_plan .main .content .contenter .status_view .total_count {
            padding: 5px;
            color: #637e99;
            font-size: 12px;
            height: 14px;
            top: calc(50% - 12px);
            left: 160px;
            max-width: 260px;
            position: absolute;
            background: #E9EFF0;
            line-height: 14px; }
            #app .monitoring_plan .main .content .contenter .status_view .total_count .hoverList {
              display: none;
              width: 100%;
              height: 300px;
              border: 1px solid #d9e2e8;
              position: absolute; }
              #app .monitoring_plan .main .content .contenter .status_view .total_count .hoverList > div {
                background: #999999;
                width: 100%;
                height: 30px;
                line-height: 30px;
                font-size: 14px;
                color: white;
                text-align: center; }
              #app .monitoring_plan .main .content .contenter .status_view .total_count .hoverList ul {
                width: 100%;
                height: 270px;
                overflow-x: hidden;
                background: white;
                overflow-y: auto; }
                #app .monitoring_plan .main .content .contenter .status_view .total_count .hoverList ul li {
                  padding: 0 10px 0;
                  width: calc(100% - 20px);
                  height: 20px;
                  line-height: 20px;
                  font-size: 12px; }
                #app .monitoring_plan .main .content .contenter .status_view .total_count .hoverList ul li:nth-of-type(even) {
                  background: #f7f9fb; }
            #app .monitoring_plan .main .content .contenter .status_view .total_count:hover .hoverList {
              display: block;
              left: 0;
              top: 20px; }
          #app .monitoring_plan .main .content .contenter .status_view .icons {
            float: right;
            width: calc(100% - 430px);
            height: auto;
            min-height: 50px;
            display: flex;
            align-items: center;
            flex-wrap: wrap; }
            #app .monitoring_plan .main .content .contenter .status_view .icons > div {
              height: 25px;
              line-height: 25px;
              font-size: 14px;
              margin-right: 20px; }
              #app .monitoring_plan .main .content .contenter .status_view .icons > div img {
                width: 12px;
                height: 12px;
                margin-right: 10px;
                margin-top: 6px; }
            #app .monitoring_plan .main .content .contenter .status_view .icons > div:nth-of-type(1) div {
              float: left;
              width: 12px;
              height: 12px;
              margin-top: 5px;
              background: #f8f8f8;
              border: 1px solid #7a94ae;
              margin-right: 10px; }
        #app .monitoring_plan .main .content .contenter .t_header {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          height: 60px;
          line-height: 60px;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid #d9e2e8;
          background: #f7f9fb; }
          #app .monitoring_plan .main .content .contenter .t_header .header_name {
            height: 59px;
            border-right: 1px solid #d9e2e8;
            box-sizing: border-box;
            color: #6d6d6d;
            text-align: center; }
            #app .monitoring_plan .main .content .contenter .t_header .header_name:nth-child(1) {
              text-align: left;
              padding-left: 20px;
              width: 230px; }
            #app .monitoring_plan .main .content .contenter .t_header .header_name:nth-child(2) {
              padding: 10px 2px;
              line-height: 20px;
              width: 74px; }
            #app .monitoring_plan .main .content .contenter .t_header .header_name:nth-child(3) {
              width: 64px; }
            #app .monitoring_plan .main .content .contenter .t_header .header_name:nth-child(4), #app .monitoring_plan .main .content .contenter .t_header .header_name:nth-child(5), #app .monitoring_plan .main .content .contenter .t_header .header_name:nth-child(6) {
              width: 62px; }
          #app .monitoring_plan .main .content .contenter .t_header .month_title {
            flex: 1;
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch; }
            #app .monitoring_plan .main .content .contenter .t_header .month_title .row {
              line-height: 30px;
              height: 30px;
              text-align: center;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: stretch; }
              #app .monitoring_plan .main .content .contenter .t_header .month_title .row:nth-child(1) {
                box-sizing: border-box;
                background: #ffffff;
                border-bottom: 1px solid #d9e2e8; }
              #app .monitoring_plan .main .content .contenter .t_header .month_title .row .item {
                flex: 1;
                text-align: center;
                line-height: 30px;
                background: #f7f9fb; }
        #app .monitoring_plan .main .content .contenter .t_bodyer {
          max-height: calc(100% - 162px - 9px); }
        #app .monitoring_plan .main .content .contenter .t_bodyer1 {
          max-height: calc(100% - 212px - 9px); }
        #app .monitoring_plan .main .content .contenter .t_bodyer, #app .monitoring_plan .main .content .contenter .t_bodyer1 {
          display: flex;
          flex-flow: row wrap;
          justify-content: flex-start;
          line-height: 30px;
          width: 100%;
          box-sizing: border-box;
          border: 1px solid #d9e2e8;
          border-top: none;
          border-bottom: none;
          overflow-y: hidden;
          overflow: overlay; }
          #app .monitoring_plan .main .content .contenter .t_bodyer .line, #app .monitoring_plan .main .content .contenter .t_bodyer1 .line {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            border-bottom: 1px solid #d9e2e8;
            width: 100%; }
            #app .monitoring_plan .main .content .contenter .t_bodyer .line .body_name, #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .body_name {
              border-right: 1px solid #d9e2e8;
              box-sizing: border-box;
              color: #637e99;
              text-align: center;
              justify-content: center;
              align-items: stretch; }
              #app .monitoring_plan .main .content .contenter .t_bodyer .line .body_name:nth-child(1), #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .body_name:nth-child(1) {
                text-align: left;
                padding-left: 20px;
                width: 230px; }
              #app .monitoring_plan .main .content .contenter .t_bodyer .line .body_name:nth-child(2), #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .body_name:nth-child(2) {
                width: 74px;
                color: #333; }
              #app .monitoring_plan .main .content .contenter .t_bodyer .line .body_name:nth-child(3), #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .body_name:nth-child(3) {
                width: 64px; }
              #app .monitoring_plan .main .content .contenter .t_bodyer .line .body_name:nth-child(4), #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .body_name:nth-child(4) {
                width: 62px;
                color: #333; }
              #app .monitoring_plan .main .content .contenter .t_bodyer .line .body_name:nth-child(4), #app .monitoring_plan .main .content .contenter .t_bodyer .line .body_name:nth-child(5), #app .monitoring_plan .main .content .contenter .t_bodyer .line .body_name:nth-child(6), #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .body_name:nth-child(4), #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .body_name:nth-child(5), #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .body_name:nth-child(6) {
                width: 62px; }
            #app .monitoring_plan .main .content .contenter .t_bodyer .line .row, #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .row {
              flex: 1;
              text-align: center;
              display: flex;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: stretch;
              flex-direction: column; }
              #app .monitoring_plan .main .content .contenter .t_bodyer .line .row .item, #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .row .item {
                text-align: center;
                display: flex;
                line-height: 30px;
                height: 30px; }
                #app .monitoring_plan .main .content .contenter .t_bodyer .line .row .item > div, #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .row .item > div {
                  line-height: 30px;
                  height: 30px;
                  border-right: 1px solid #d9e2e8;
                  border-bottom: 1px solid #d9e2e8; }
                  #app .monitoring_plan .main .content .contenter .t_bodyer .line .row .item > div div, #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .row .item > div div {
                    width: 100%;
                    height: 100%; }
                    #app .monitoring_plan .main .content .contenter .t_bodyer .line .row .item > div div:hover, #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .row .item > div div:hover {
                      cursor: pointer; }
                    #app .monitoring_plan .main .content .contenter .t_bodyer .line .row .item > div div div, #app .monitoring_plan .main .content .contenter .t_bodyer1 .line .row .item > div div div {
                      background: #d9e2e8; }

/*# sourceMappingURL=monitoringPlan.css.map */
