.organizationList{
    width:100%;
    height:100%;
   
}
.organizationList > .title{
    width:100%;
    height:48px;
    line-height:48px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cancel,.keep {
    overflow: hidden;
    display: flex;
    align-items: center;
}
.organizationList .organizationBox{
    width: 100%;
    height: calc(100% - 50px);
    border:1px solid #d9e2e8;
    /* margin: 0 20px 10px 20px; */
    background: #f7f7f7;
    /* border-radius:4px; */
    overflow-y: auto;
    padding:20px 20px 20px 20px;
    box-sizing: border-box;
}
.inputPrompt{
    color: #f00;
    vertical-align: middle;
    position: absolute;
    right: 15px;
    top: -1px;
    display: none;
}
/* #selectedProject .per-combobox-con,#selectedMajor .per-combobox-con,#selectedJurisdiction .per-combobox-con{
    overflow-y: scroll;
} */
input::-ms-clear{
    display:none;
}
input:disabled, textarea:diabled {
    /* color: red; */
    opacity: 1;
    -webkit-opacity: 1;
    -webkit-text-fill-color: #000;
}
.buttonBlue{
    background: #7a94ad;
    color: #fff;
    border: 1px solid #7a94ad;
    padding: 0 14px;
    font-size: 14px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 80px;
}
.buttonWhite{
    background: #fff;
    border: 1px solid #cecece;
    color: #637e99;
    padding: 0 14px;
    font-size: 14px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 80px;
}
/* 中心部门 */
.organizationBox .centerDepartment{
    min-height:120px;
    width:100%;
    background: #fff;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.04);
}
.organizationBox .centerDepartment >.top{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}
.organizationBox .centerDepartment >.top >.title{
    color:#333;
    font-weight:bold;
}
.organizationBox .centerDepartment >.top > .operat{
    display: flex;
    flex-flow: row nowrap;
}
.organizationBox .centerDepartment >.top > .operat >.edit{
    margin-right:20px;
}
.organizationBox .centerDepartment >.centerDepartmentUl{
    border:1px solid #d9e2e8;
    overflow: hidden;
}
.organizationBox .centerDepartment .centerDepartmentUl .organizationTreeBoxName{
    width:100%;
    height:50px;
    line-height:50px;
    box-sizing: content-box;
    border: 1px solid transparent;
    border-bottom:1px dashed #d9e2e8;
    position: relative;
    overflow: hidden;
}
.organizationBox .centerDepartment .centerDepartmentUl .organizationTreeBoxName input{
    display:block;
    width: 100%;
    border:  1px solid transparent;
    cursor: default;
    /* transform: translate(-1px,-2px); */
    height: 100%;
    box-sizing: border-box;
    background: #fff;
}
/* 项目通用部门 */

.organizationBox .projectCommon{
    min-height:120px;
    width:100%;
    background: #fff;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    margin-top:20px;
    border-radius: 4px;
    box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.04);
}
.organizationBox .projectCommon >.top{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}
.organizationBox .projectCommon >.top >.title{
    color:#333;
    font-weight:bold;
}
.organizationBox .projectCommon >.top > .operat{
    display: flex;
    flex-flow: row nowrap;
}
.organizationBox .projectCommon >.projectCommonUl{
    border:1px solid #d9e2e8;
}
.organizationBox .projectCommon .projectCommonUl .organizationTreeBoxName{
    width:100%;
    height:50px;
    line-height:50px;
    border: 1px solid transparent;
    border-bottom:1px dashed #d9e2e8;
    position: relative;
}
.organizationBox .projectCommon .projectCommonUl .organizationTreeBoxName input{
    display:block;
    width: 99%;
    border:  1px solid transparent;
    cursor: default;
    /* transform: translate(-1px,-2px); */
    height: 96%;
    background: #fff;
}

.organizationBox .otherDepartment{
    min-height:40px;
    width:100%;
    background: #fff;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    margin-top:20px;
}
.organizationBox .otherDepartment span{
    font-weight:bold;
    display:block;
    padding-top:10px;
}
.frameWrap_{
    position: absolute;
    background: #fff;
    border: 1px solid #d9e2e8;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    border-radius: 6px 6px 0 0;
    overflow: hidden;
}
.organizationBox{
    width: 100%;
    height: calc(100% - 50px);
    border: 1px solid #d9e2e8;
    background: #f7f7f7;
    overflow-y: auto;
    box-sizing: border-box;
}
.operation{
    margin-bottom: 10px
}
.operation>div{
    display: inline-block;
    color:#637e99;
    margin-right: 20px;
    cursor: pointer;
}
.operation button{
    cursor: pointer;
    background: #fff;
}
.operation .btnGray_{
    cursor: default;
}
.operation>.btnGray{
    opacity: 0.3;
    cursor: default;
}
.imgOp{
    width: 18px;
    vertical-align: text-top;
    margin-right: 5px;
}
/* 快速添加中心部门人员 */
.essentialInformation{
    border-left: 4px solid #02a9d1;
    padding-left: 10px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}
.itemFastAdd{
    vertical-align: middle;
    padding: 12px 0;
}
.itemFastAdd>span{
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    color: #666;
}    
.conItem{
    display: inline-block;
    width: 185px;
    vertical-align: middle;
    position: relative;
}
.starSymbol{
    font-size: 22px;
    display: inline-block;
    transform: translateY(7px);
    color: #02a9d1;
    padding-right: 4px;
}
.conFastAdd{
    min-width: 455px;
    padding: 24px;
    box-sizing: border-box;
    height: 100%;
    overflow: scroll;
}
.conKeep{
    position: fixed;
    bottom: 0px;
    border-top: 1px solid #d9d9d9;
    width: 455px;
    text-align: center;
    height: 60px;
    z-index: 4;
}
.conKeepIn{
    width: 100%;
    height: 100%;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
}
.projectList span:hover, .projectList1 span:hover,.projectList2 span:hover,.projectList3 span:hover{
    background: #f8f8f8;
}
.projectList span{
    width: 100%;
    border: none;
    /* border-bottom: 1px solid #ddd; */
    padding: 7px 0;
    color: #333;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
}
.selected{
    /* background: #f8f8f8; */
}
.disabled{
    opacity: 0.3;
}
.projectList1 span{
    width: 100%;
    border: none;
    /* border-bottom: 1px solid #ddd; */
    padding: 7px 0;
    color: #333;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    padding-right: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.projectList2 span{
    width: 100%;
    border: none;
    /* border-bottom: 1px solid #ddd; */
    padding: 7px 0;
    color: #333;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
}
.projectList3 span{
    width: 100%;
    border: none;
    /* border-bottom: 1px solid #ddd; */
    padding: 7px 0;
    color: #333;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
}
#searchAccountInfo {
    width: 184px;
    display: inline-block;
    vertical-align: middle;
}
#searchAccountInfo > input{
    font-size: 14px;
    padding: 7px;
    line-height: 10px;
}
#searchAccountInfo .options{
    position: relative;
    z-index: 3;
}
#searchAccountInfo .options ul{
    border: 1px solid #ddd;
    width: 100%;
    position: absolute;
    max-height: 212px;
    overflow-y: scroll;
}
#searchAccountInfo .options li{
    padding:5px;
    /* border-bottom: 1px solid #ddd; */
    background:#fff;
    cursor: default;
}
#searchAccountInfo .options li:hover{
    background:#f8f8f8;
}
#jurisdictionList{
    color:#cacaca; 
    width: 184px;
    word-wrap: unset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.conKeepIn>div{
    width: 200px;
}
.promptForm{
    font-size: 12px;
    height: 22px;
    line-height: 24px;
    color: #f97c7c;
    white-space: nowrap;
    position: absolute;
    bottom: -22px;
    /* display: none; */
}
.buttonArea{
    padding: 12px 0;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.yesBtu{
    background: #7a94ad;
    color: #fff;
    border: 1px solid #7a94ad;
    padding: 0 14px;
    font-size: 14px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 80px;
}
.cancelBtu{
    background: #fff;
    border: 1px solid #cecece;
    color: #637e99;
    padding: 0 14px;
    font-size: 14px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 80px;
}
.selArea{
    height: 189px;
    overflow-y: scroll;
    position: relative;
    top: 0px;
}
.centermodel{
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    box-sizing: border-box;
    background: #f8f8f8;
    width: 100%;
    text-indent: 24px;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    z-index: 5;
}
.selectedMul{
    display: block;
    width: 20px;
    background: url(../../../images/permissionChecked.png) no-repeat center;
    position: absolute;
    top: 0;
    height: 100%;
    left: 145px;
}
.organizationTreeBoxName{
    position: relative;
}
#projectMotai{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(79,79,79,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}
#projectMotai>div{
    width: 400px;
    height: 550px;
    background: #fff;
    position: relative;
}
#projectMotai .selArea{
    height: 450px;
    overflow-y: scroll;
    position: relative;
    top: 0px;
}
#projectMotai .projectTitle{
    height: 50px;
    width: 100%;
    background: #6985a1;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    border-radius: 2px 2px 0 0;
}
#projectMotai .buttonArea {
    padding: 10px 0;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #d9e2e8;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#projectMotai .projectList span{
    text-indent: 72px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #d9e2e8;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

#projectMotai .projectList span.selected{
    color: #02a9d1;
}
#selectedStr{
    display: inline-block;
    width: 114px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #eee;
    box-sizing: border-box;
    vertical-align: middle;
}
#addProject{
    width: 64px;
    display: inline-block;
    border: 1px solid #cacaca;
    color: #7a94ad;
    text-align: center;
    line-height: 30px;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
}