<div class="hashtag-bubble" :class="{'click-aite':true}">
    <div class="all-hashtag">
        <div class="hashtag-sop">
            <div class="sop-header">
                <span>选择标准操作</span>
                <div class="sop-header-btn sopHeaderBtns">
                    <span>筛选</span>
                    <span>收起</span>
                </div>
            </div>
            <div class="sop-body">
                <div class="sop-list" v-show="true">
                    <!-- <div class="aite-list" v-for="(model, index) in commonData.publicModel.curLevelList" :index="index" :title="model.sop_name"
                        @click="publicMethod.detailSop(model, $event)"> -->
                    <div class="aite-list" :index="'index'" :title="'model.sop_name'">
                        <div>
                            <!--<span v-text="model.sop_name" @click="publicMethod.detailSop(model, $event)"></span>-->
                            <span>
                                <!-- <em v-for="charObj in model.sop_name_arr" v-text="charObj.char" :class="charObj.mark ? 'redMark' : ''"></em> -->
                                <em v-text="'charObj.char'" :class="true ? 'redMark' : ''"></em>
                            </span>
                        </div>
                        <div>

                            <!--<pswitch-checkbox bind="true" id="model.sop_id" click="publicMethod.checkSop"></pswitch-checkbox>-->
                            <div :id="model.sop_id" class="pcheckbox">
                                <span class="pcheckbox_input" :class="true ? 'pcheckbox-checked' : ''"></span>
                                <span class="pswitch_label"></span>
                            </div>

                        </div>
                    </div>
                </div>
                <!--搜索无结果-->
                <div class="sop-nodata" v-show="true">
                    <pnotice-nodata text="暂无数据" subtitle="哎呀，什么都没有找到！" icon="../images/sassNodata.png"></pnotice-nodata>
                </div>
                <div class="sop-nodata" v-show="true">
                    <pnotice-nodata text="暂无推荐" subtitle="请搜索您需要的标准操作" icon="../images/sassNodata.png"></pnotice-nodata>
                </div>
                <!--loading-->
                <ploading-part data-loading="hashPopLoading" text="加载中..."></ploading-part>
            </div>
            <div class="sop-footer">
                <pbutton-blue text="确定" id="able-btn"></pbutton-blue>
            </div>
        </div>
        <div class="hashtag-filter">
            <div class="sop-header">
                <span>筛选条件</span>
                <div class="sop-header-btn">
                    <span>清空已选</span>
                    <span>确定</span>
                </div>
            </div>
            <div class="filter-body">
                <div class="filter-box">
                    <div class="filter-div" v-show="true">
                        <div class="filter-type">
                            <span>品牌:</span>
                        </div>
                        <div class="filter-name">
                            <div class="filter-all">
                                <span class="sel-all all_brands">全部</span>
                            </div>
                            <div class="filter-other">
                                <!-- <span v-for="item in commonData.publicModel.sopCriteria.brandsArr" v-text="item.name" :title="item.name" @click="publicMethod.selBrand(item, $event)"
                                    :class="item.selected ? 'sel-span' : ''">品牌1</span> -->
                                <span v-text="'item.name'" :title="'item.name'" :class="true ? 'sel-span' : ''">品牌1</span>
                            </div>

                        </div>
                    </div>
                    <div class="filter-div" v-show="true">
                        <div class="filter-type">
                            <span>工单类型:</span>
                        </div>
                        <div class="filter-name">
                            <div class="filter-all">
                                <span class="sel-all all_order_type">全部</span>
                            </div>
                            <div class="filter-other">
                                <!-- <span v-for="item in commonData.publicModel.sopCriteria.order_type" v-text="item.name" :title="item.name" @click="publicMethod.selOrderType(item, $event)"
                                    :class="item.selected ? 'sel-span' : ''"></span> -->
                                <span v-text="'item.name'" :title="'item.name'" :class="true ? 'sel-span' : ''"></span>
                            </div>

                        </div>
                    </div>
                    <div class="filter-div" v-show="true">
                        <div class="filter-type">
                            <span>适用对象:</span>
                        </div>
                        <div class="filter-name">
                            <div class="filter-all">
                                <span class="sel-all all_fit_objs">全部</span>
                            </div>
                            <div class="filter-other">
                                <!-- <span v-for="item in commonData.publicModel.sopCriteria.fit_objs" v-text="item.obj_name" :title="item.obj_name" @click="publicMethod.selFitObj(item, $event)"
                                    :class="item.selected ? 'sel-span' : ''"></span> -->
                                <span v-text="'item.obj_name'" :title="'item.obj_name'" :class="true ? 'sel-span' : ''"></span>
                            </div>

                        </div>
                    </div>
                    <div class="filter-div" v-show="true">
                        <div class="filter-type">
                            <span>自定义:</span>
                        </div>
                        <div class="filter-name">
                            <div class="filter-all">
                                <span class="sel-all all_labels" onclick="publicMethod.toggleAllTag(event, 4)">全部</span>
                            </div>
                            <div class="filter-other">
                                <!-- <span v-for="item in commonData.publicModel.sopCriteria.labelsArr" v-text="item.name" :title="item.name" @click="publicMethod.selLabel(item, $event)"
                                    :class="item.selected ? 'sel-span' : ''"></span> -->
                                <span v-text="'item.name'" :title="'item.name'" :class="true ? 'sel-span' : ''"></span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>