<script type="text/html" id="addcontent">
<div class="alert-all" @click="cb()">
    <div class="alert-shade">
        <div class="alert-box" @click.stop="void 0">
            <div class="alert-content">
                <div class="alert-container">
                    <div class="alert-header">
                        <div class="matter-title">
                            <div class="matter-title-div">
                                <input type="text" v-model="desc_work.work_name" maxlength="100" placeholder="请输入作业简称" />
                                <span class="counter" :class="{'errorNumber':true}">
                                    <b v-text="desc_work.work_name.length"></b>/100</span>
                            </div>
                        </div>
                    </div>
                    <div class="alert-body">
                        <div class="import-box">

                            <!-- 作业检查项 Start -->
                            <div class="content-prev">
                                <div class="prev-title" onclick="">
                                    <div class="title-tip-div">
                                        <span>作业前检查项</span>
                                        <img src="../images/question.png" class="question" />
                                        <p>可在此设置执行本条作业前的各项必要检查工作，工程师检查并确认后方可继续执行工单。</p>
                                    </div>
                                    <div class="edit-clear-div">
                                        <div class="edit-div" v-show="!view.pre_conform" @click.capture="view.pre_conform=true">
                                            <pbutton-blue text="编辑" icon="e" isborder="false"></pbutton-blue>
                                        </div>
                                        <div class="clear-div" v-show="view.pre_conform" @click.capture="$('#bubble').pshow()">
                                            <img src="../images/clear_03.png" alt="清空图标" />
                                            <pbutton-blue text="清空" isborder="false"></pbutton-blue>
                                        </div>
                                        <!-- 清空按钮弹窗 Start --> 
                                        <pwindow-bubble id="bubble" title='确定要清空此条内容吗？' subtitle='被清空的内容将不可恢复'>
                                            <button>
                                                <pbutton-backred text="清空" click="clear_pre_conform(),$('#bubble').phide()"></pbutton-backred>
                                                <pbutton-white text="取消" click="$('#bubble').phide()"></pbutton-white>
                                            </button>
                                        </pwindow-bubble>
                                        <!-- 清空按钮弹窗 End -->
                                    </div>
                                </div>
                                <!-- 输入区域 Start -->
                                <div class="prev-body" v-show="view.pre_conform">
                                    <div class="slide-div">
                                        <textarea maxlength="100" v-model="desc_work.pre_conform"></textarea>
                                        <span class="counter" :class="{'errorNumber':false}">
                                            <b class="counterNum" v-text="desc_work.pre_conform.length"></b>/100</span>
                                    </div>
                                </div>
                                <!-- 输入区域 End -->
                            </div>
                            <!-- 作业检查项 End   -->

                            <!-- 标准操作要求 Start -->
                            <div class="content-prev standard-content">
                                <div class="prev-title" onclick="">
                                    <div class="title-tip-div">
                                        <span class="starSymbol">*</span>
                                        <span>标准操作要求</span>
                                        <img src="../images/question.png" class="question" />
                                        <p>设置工单的操作内容明确的完成标准，工人执行时需按此内容逐步确认。</p>
                                    </div>
                                    <div class="edit-clear-div">
                                        <div class="edit-div" v-show="!view.content" @click.capture="view.content=true">
                                            <!--<pbutton-white text="编辑" icon="e" isborder="false" click="yn_method.editable"></pbutton-white>-->
                                            <pbutton-blue text="编辑" icon="e" isborder="false" click=""></pbutton-blue>
                                        </div>
                                        <div class="clear-div" v-show="view.content">
                                            <img src="../images/clear_03.png" alt="清空图标" />
                                            <pbutton-blue text="清空" isborder="false" click="$('#content_bubble').pshow()"></pbutton-blue>
                                        </div>
                                        <!-- 清空按钮弹窗 Start -->
                                        <pwindow-bubble id="content_bubble" title='确定要清空此条内容吗？' subtitle='被清空的内容将不可恢复'>
                                            <button>
                                                <pbutton-backred text="清空" click="clear_content(),$('#content_bubble').phide()"></pbutton-backred>
                                                <pbutton-white text="取消" click="$('#content_bubble').phide()"></pbutton-white>
                                            </button>
                                        </pwindow-bubble>
                                        <!-- 清空按钮弹窗 End -->
                                    </div>
                                </div>
                                <!-- 输入区域 Start -->
                                <div class="prev-body" v-show="view.content">
                                    <div class="slide-div operate">
                                        <div class="textarea-div">
                                            <textarea id="content-textarea" v-model="desc_work.content" maxlength="200" placeholder="例如：从@低压侧负荷分开关 开始停电，然后再停@变压器低压侧总开关 和@高压侧总开关 。监护人需穿@戴绝缘手套 @绝缘鞋 。"></textarea>
                                            <!-- @blur="publicMethod.blurContentItemOpe"-->
                                            <!--v-bind:class="{'textcontentError':workContent.content.length>200}"-->
                                            <!--边框标红报错去掉，改为计数器标红-->

                                            <!--<div class="obj-fragment-div" onclick="yn_method.contentAiteShow(this,event)">-->
                                            <div class="obj-fragment-div">
                                                <span class="aite-btn" @click="content_str='@'" :class="content_str ? 'eleDisable' : ''">@对象/部件/工具</span>
                                                <span class="counter" :class="{'errorNumber':false}">
                                                <b v-text="desc_work.content.length">0</b>/200</span>
                                            </div>
                                            <div class="textareadiv"></div>
                                            <div class="" v-if="content_str">
                                                <aite :str="content_str" ref="aite" :cb="get_content_Obj" v-if="content_str"></aite>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- 输入区域 End -->
                            </div>
                            <!-- 标准操作要求 End -->

                            <!-- 注意事项 Start -->
                            <div class="content-prev">
                                <div class="prev-title">
                                    <div class="title-tip-div">
                                        <span>注意事项</span>
                                    </div>
                                    <div class="edit-clear-div">
                                        <div class="edit-div" v-show="!view.notice" @click.capture="view.notice=true">
                                            <!--<pbutton-white text="编辑" icon="e" isborder="false" click="yn_method.editable"></pbutton-white>-->
                                            <pbutton-blue text="编辑" icon="e" isborder="false" click=""></pbutton-blue>
                                        </div>
                                        <div class="clear-div" v-show="view.notice">
                                            <img src="../images/clear_03.png" alt="清空图标" />
                                            <pbutton-blue text="清空" isborder="false" click="$('#notice_bubble').pshow()"></pbutton-blue>
                                        </div>
                                        <!-- 清空按钮弹窗 Start -->
                                        <pwindow-bubble id="notice_bubble" title='确定要清空此条内容吗？' subtitle='被清空的内容将不可恢复'>
                                            <button>
                                                <pbutton-backred text="清空" click="clear_notice(),$('#notice_bubble').phide()"></pbutton-backred>
                                                <pbutton-white text="取消" click="$('#notice_bubble').phide()"></pbutton-white>
                                            </button>
                                        </pwindow-bubble>
                                        <!-- 清空按钮弹窗 End -->
                                    </div>
                                </div>
                                <!-- 输入区域 Start -->
                                <div class="prev-body" v-show="view.notice">
                                    <div class="slide-div">
                                        <textarea v-model="desc_work.notice"></textarea>
                                    </div>
                                </div>
                                <!-- 输入区域 End -->
                            </div>
                            <!-- 注意事项 End -->

                            <!-- 操作记录要求 Start -->
                            <div class="content-prev contentResult">
                                <div class="prev-title" onclick="">
                                    <div class="title-tip-div">
                                        <span>操作记录要求</span>
                                        <img src="../images/question.png" class="question" />
                                        <p>可在此明确工人执行工单过程中，需要记录或反馈的操作结果。</p>
                                    </div>
                                    <div class="edit-clear-div">
                                        <div class="edit-div" v-show="!view.confirm_result" @click.capture="view.confirm_result=true">
                                            <!--<pbutton-white text="编辑" icon="e" isborder="false" click="yn_method.editable"></pbutton-white>-->
                                            <pbutton-blue text="编辑" icon="e" isborder="false" click=""></pbutton-blue>

                                        </div>
                                        <div class="clear-div" v-show="view.confirm_result">
                                            <img src="../images/clear_03.png" alt="清空图标" />
                                            <pbutton-blue text="清空" isborder="false" click="$('#confirm_result_bubble').pshow()"></pbutton-blue>
                                        </div>
                                        <!-- 清空按钮弹窗 Start -->
                                        <pwindow-bubble id="confirm_result_bubble" title='确定要清空此条内容吗？' subtitle='被清空的内容将不可恢复'>
                                            <button>
                                                <pbutton-backred text="清空" click="clear_confirm_result(),$('#confirm_result_bubble').phide()"></pbutton-backred>
                                                <pbutton-white text="取消" click="$('#confirm_result_bubble').phide()"></pbutton-white>
                                            </button>
                                        </pwindow-bubble>
                                        <!-- 清空按钮弹窗 End -->
                                    </div>
                                </div>
                                <!-- 输入区域 Start -->
                                <div class="prev-body confirmSlideBody" v-show="view.confirm_result">
                                    <div class="slide-div result">
                                        <div class="objs">
                                            <!-- <div class="obj-div" v-show="true"
                                                 v-for="(confirmObj, index1) in commonData.publicModel.workContent.confirm_result"> -->
                                            <div class="obj-div" v-for="(item, index) in desc_work.confirm_result">
                                                <div class="obj-name">
                                                    <span v-text="item.obj_name">对象名称1</span>
                                                    <em v-text="getParentsLinks(item.parents)">(建筑-楼层-空间名称/专业-系统/)</em>
                                                    <a href="javascript:void (0)" @click="desc_work.confirm_result.splice(index,1)">
                                                        <i>p</i>删除对象</a>
                                                </div>
                                                <div class="obj-info-self">
                                                    <!--选择的信息点列表 Start-->
                                                    <div class="obj-info">
                                                        <div class="info-dot" v-for="(point, index2) in item.info_points">
                                                            <span v-text="'point.name'" :title="'point.name'">信息点1</span>
                                                            <img src="../images/info_close.png" alt="删除图标x" @click="item.info_points.splice(index2,1)" />
                                                        </div>
                                                    </div>
                                                    <!--选择的信息点列表 End -->
                                                    <!--自定义的信息点列表 Start-->
                                                    <div class="obj-self">
                                                        <div class="single-self">
                                                            <div class="self-div" v-for="(custom, index3) in item.customs">
                                                                <img src="../images/del.png" alt="删除图标-" @click="item.customs.splice(index3,1)">
                                                                <div class="info-dot">
                                                                    <span v-text="'custom.name'" :title="'custom.name'"></span>
                                                                </div>
                                                                <div class="info-dot">
                                                                    <pcombobox-normal id="'custom-sel-sep'" isborder="false" bind="true" sel="">
                                                                        <header placeholder="请选择"></header>
                                                                        <item datasource="controlsList" text="name"></item>
                                                                    </pcombobox-normal>
                                                                </div>
                                                                <span v-show="custom.type=='2' || custom.type=='3'">选项:</span>
                                                                <span v-show="custom.type=='5'">单位:</span>
                                                                <div class="info-dot" v-show="true">
                                                                    <!-- <input type="text" :value="custom.unit" v-model="custom.unit" style="width: 139px;" @keyup="" /> -->
                                                                    <!-- <input type="text" :value="'unit'" v-model=".unit" style="width: 139px;" /> -->
                                                                    <input type="text" :value="'unit'" style="width: 139px;" />
                                                                </div>
                                                                <!-- <div class="info-dot" v-show="true" v-for="(item, index3) in custom.items"> -->
                                                                <div class="info-dot" v-show="true">
                                                                    <!-- <input type="text" :value="item" v-model="item" class="info-self-input" maxlength="100" @keyup="" /> -->
                                                                    <input type="text" class="info-self-input" maxlength="100" @keyup="" />
                                                                    <img src="../images/info_close.png" alt="删除图标x" @click="" />
                                                                </div>
                                                                <div class="add-sel-div">
                                                                    <div class="add-sel-btn" @click="" v-show="true">
                                                                        <span class="sel-btn">添加选项</span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!--自定义的信息点列表 End-->

                                                    <!--  -->
                                                    <div class="add-info-btn">
                                                        <span class="info-btn" @click="onItem=item">添加信息点</span>
                                                        
                                                        <!-- 添加信息点面板 Start -->
                                                        <!--  判断当前是否显示 -->
                                                        <div class="aite-bubble" v-if="onItem == item">
                                                            <div class="aite-title">
                                                                <span class="returnImg">
                                                                    <img src="../images/return_left.png" alt="返回图片" @click="queryInfoPointForObject()"/>
                                                                </span>
                                                                <span>
                                                                    <em v-show="InfoPointForObject.argu == item">选择</em>
                                                                    <em v-show="InfoPointForObject.argu != item">自定义</em>
                                                                </span>
                                                            </div>
                                                            <div class="list-search" v-show="InfoPointForObject.argu == item">
                                                                <div class="info-search-box">
                                                                    <input type="text" class="keyinput" v-model="searchKey">
                                                                    <div class="icon-div">
                                                                        <i @click="searchKey=''">x</i>
                                                                        <i @click="search()">f</i>
                                                                    </div>
                                                                </div>
                                                                <div class="search-result">
                                                                    <div class="key-result">
                                                                        <span>共搜索到
                                                                            <em class="search-num" v-text="InfoPoints.length"></em>个相关结果</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="aite-body" :class="{'result-aite-body-nosearch': true,'custom-no-searchAll':true}">
                                                                <!--:class="commonData.publicModel.searchResultLength ? '':'result-aite-body-nosearch'">-->
                                                                <div class="list-body">
                                                                    <!--无级别 只有复选-->
                                                                    <div class="only-checkbox" v-show="InfoPointForObject.argu == item">
                                                                        <div class="aite-list" v-for="(info,index) in InfoPoints" @click="info.selected =! info.selected">
                                                                            <div :title="info.name">
                                                                                <span v-text="info.name"></span>
                                                                                 <div :id="'classSelectInfoPoint'" class="pcheckbox">
                                                                                    <span class="pcheckbox_input" :class="info.selected ? 'pcheckbox-checked' : ''"></span>
                                                                                    <span class="pswitch_label"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <!--自定义-->
                                                                    <div class="customize" v-show="InfoPointForObject.argu != item">
                                                                        <div>
                                                                            <p>说明文字</p>
                                                                            <ptext-text placeholder="'请输入要采集内容的说明或介绍'" bind="true" value="customize.name">
                                                                                <verify errtip="请输入自定义内容" verifytype="space"></verify>
                                                                                <verify errtip="最多只能输入40个字符" length="40" verifytype="length"></verify>
                                                                            </ptext-text>
                                                                        </div>
                                                                        <div>
                                                                            <p>使用控件</p>
                                                                            <div>
                                                                                <pcombobox-normal bind="true" id="'sel-controller'" sel="changeCustomizeType">
                                                                                    <header placeholder="请选择"></header>
                                                                                    <item datasource="controlsList" text="name"></item>
                                                                                </pcombobox-normal>
                                                                            </div>
                                                                        </div>
                                                                        <div v-show="customize.type!='1'">
                                                                            <div class="single-select-input">
                                                                                <div class="selection-input" v-show="customize.type=='5'">
                                                                                    <p>
                                                                                        <span>单位</span>
                                                                                        <em></em>
                                                                                    </p>
                                                                                    <div class="unit-div">
                                                                                        <ptext-text bind="true" value="customize.unit" placeholder="'请输入要采集数据的单位'">
                                                                                            <verify errtip="请输入单位" verifytype="space"></verify>
                                                                                        </ptext-text>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="selection-input" v-for="(i,index) in customize.items" v-show="customize.type=='2' || customize.type=='3'">
                                                                                    <p>
                                                                                        <span>选项</span>
                                                                                        <em v-text="index+1"></em>
                                                                                    </p>
                                                                                    <div>
                                                                                        <ptext-text bind="true" value="i.str">
                                                                                            <verify errtip="'最多只能输入100个字符'" length="100" verifytype="length"></verify>
                                                                                        </ptext-text>
                                                                                        <i @click="customize.items.splice(index,1)">p</i>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="self-add-select" v-show="customize.type=='2' || customize.type=='3'">
                                                                                <div class="self-add-btn" @click="customize.items.push({ str: '' })">
                                                                                    <i>J</i>添加选项
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--搜索无结果-->
                                                                    <div class="sop-nodata" v-show="InfoPointForObject.argu == item && !InfoPoints.length">
                                                                        <pnotice-nodata text="暂无数据" subtitle="哎呀，什么都没有找到！" icon="../images/sassNodata.png"></pnotice-nodata>
                                                                    </div>
                                                                    <!--loading-->
                                                                    <ploading-part data-loading="resultPopLoading" text="加载中..."></ploading-part>
                                                                </div>
                                                            </div>
                                                            <div class="aite-footer" id="abc">
                                                                <div class="customize-btn-div" v-show="InfoPointForObject.argu==item" @click.capture="queryInfoPointForObject()">
                                                                    <pbutton-white text="自定义"></pbutton-white>
                                                                </div>
                                                                <div class="sureBtnDivs">
                                                                    <pbutton-blue text="确定" id="sureBtn"></pbutton-blue>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- 添加信息点面板 End -->

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="obj-info-btn">
                                            <span class="aite-btn" onclick="yn_method.infoBubbleShow(this,event)">+ 添加对象和信息点</span>
                                            <div class="aite-bubble" style="display: none" onclick="yn_method.preventBubbleFn(event)">
                                                <div class="aite-title">
                                                    <span class="returnImg">
                                                        <img src="../images/return_left.png" alt="返回图片" onclick="yn_method.defaultPageContent(this,event)" v-show="true" />
                                                    </span>

                                                    <span>
                                                        <em v-show="true">选择</em>
                                                        <em v-text="true"></em>
                                                    </span>
                                                </div>
                                                <div class="list-search" v-show="true">
                                                    <div class="info-search-box">
                                                        <input type="text" class="keyinput" oninput="publicMethod.changeKeyword(this)">
                                                        <div class="icon-div">
                                                            <i onclick="publicMethod.clearInfoPointKeyword(this,1)">x</i>
                                                            <i onclick="myWorkOrderController.searchInfoPoint(this)">f</i>
                                                        </div>
                                                    </div>
                                                    <!--<div class="search-result" v-show="commonData.publicModel.curObjType2!='init' && commonData.publicModel.curObjType2!='custom' && commonData.publicModel.searchResultLength">&lt;!&ndash; v-show="commonData.publicModel.searchResultLength"&ndash;&gt;-->
                                                    <div class="search-result" v-show="true">
                                                        <div class="key-result">
                                                            <span>共搜索到
                                                                <em class="search-num" v-text="true"></em>个相关结果</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="aite-body" :class="{'result-aite-body-nosearch': true,'custom-no-searchAll':true}">
                                                    <div class="list-body">
                                                        <!--无复选、搜索，大类-->
                                                        <div class="none-both initTab">
                                                            <div class="aite-list" onclick="myWorkOrderController.queryBuild(this, true)">
                                                                <div>
                                                                    <span>建筑体</span>
                                                                </div>
                                                            </div>
                                                            <div class="aite-list" onclick="myWorkOrderController.queryFloor(this,true,true)">
                                                                <div>
                                                                    <span>楼层</span>
                                                                </div>
                                                            </div>
                                                            <div class="aite-list" onclick="myWorkOrderController.queryFloor(this,false,true)">
                                                                <div>
                                                                    <span>房间</span>
                                                                </div>
                                                            </div>
                                                            <div class="aite-list" onclick="myWorkOrderController.querySystemResult(this,true,event)">
                                                                <div>
                                                                    <span>系统</span>
                                                                </div>
                                                            </div>
                                                            <div class="aite-list" onclick="myWorkOrderController.queryBuildFloorSpaceTreeResult(this,event)">
                                                                <div>
                                                                    <span>设备</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--树1-3级，专业、系统搜索、复选-->
                                                        <div class="both-all">
                                                            <!-- v-show="false"-->
                                                            <div class="tree-body">
                                                                <div class="tree-box" v-show="true">
                                                                    <ptree-normal bind="true" id="'result-equip-tree'" datasource="[]">
                                                                        <item text="obj_name" issearch="false" child="content"></item>
                                                                    </ptree-normal>
                                                                </div>
                                                                <div class="last-level-box" :style="'width: ' + (true ? 50 : 100/3) + '%;'">
                                                                    <!-- <div class="aite-list result-center-level" v-show="commonData.publicModel.curLevelList.length!=0" v-for="(obj,index) in commonData.publicModel.curLevelList"
                                                                        @click="publicMethod.getInfoPointForObject(obj, index, $event, 0)"> -->
                                                                    <div class="aite-list result-center-level" v-show="true">
                                                                        <div :title="'obj.obj_name'">
                                                                            <span v-text="'obj.obj_name'">建筑体</span>
                                                                        </div>
                                                                        <div></div>
                                                                    </div>
                                                                </div>
                                                                <div class="info-level-box" :style="'width: ' + (true ? 50 : 100/3) + '%;'">
                                                                    <!-- <div class="aite-list" v-for="(info,index) in commonData.publicModel.infoArray" @click="publicMethod.checkInfoPoint(info, index, 0)"> -->
                                                                    <div class="aite-list" @click="void 0">
                                                                        <div :title="'info.name'">
                                                                            <span v-text="'info.name'">建筑体</span>
                                                                        </div>
                                                                        <div>
                                                                            <div :id="'classSelectInfoPoint'" class="pcheckbox">
                                                                                <!--@click="publicMethod.checkInfoPoint(info, index, 0)"-->
                                                                                <span class="pcheckbox_input" :class="true ? 'pcheckbox-checked' : ''"></span>
                                                                                <span class="pswitch_label"></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--及时搜索，只有复选-->
                                                        <div class="timely-checkbox" v-show="true">
                                                            <!-- <div class="aite-list" v-for="(model, index) in commonData.publicModel.curLevelList" @click="publicMethod.checkInfoPoint(model, index, 0, 1)"> -->
                                                            <div class="aite-list">
                                                                <div>
                                                                    <p v-if="true" :title="'model.info_point.name'">
                                                                        <!-- <span v-if="model.info_point.name_arr" v-for="charObj in model.info_point.name_arr" v-text="charObj.char" :class="charObj.mark ? 'redMark' : ''">空间1</span> -->
                                                                        <span v-if="true" v-text="'charObj.char'" :class="true ? 'redMark' : ''">空间1</span>
                                                                        <span v-if="true" v-text="'model.info_point.name'"></span>
                                                                    </p>
                                                                    <!-- <p v-for="parent in model.parents" v-text="parent.linked_names" :title="parent.linked_names"></p> -->
                                                                    <p v-text="'parent.linked_names'" :title="'parent.linked_names'"></p>
                                                                </div>
                                                                <div>
                                                                    <div :id="'searchInfoPointCb'" class="pcheckbox">
                                                                        <!--@click="publicMethod.checkInfoPoint(model, index, 0, 1)"-->
                                                                        <span class="pcheckbox_input" :class="true ? 'pcheckbox-checked' : ''"></span>
                                                                        <span class="pswitch_label"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--自定义-->
                                                        <div class="customize">
                                                            <div>
                                                                <p>说明文字</p>
                                                                <ptext-text placeholder="请输入要采集内容的说明或介绍">
                                                                    <verify errtip="请输入自定义内容" verifytype="space"></verify>
                                                                    <verify length="40" errtip="最多只能输入40个字符" verifytype="length"></verify>
                                                                </ptext-text>
                                                            </div>
                                                            <div>
                                                                <p>使用控件</p>
                                                                <div>
                                                                    <pcombobox-normal bind="true" id="'controlSel'">
                                                                        <header placeholder="'请选择'"></header>
                                                                        <item datasource="[]" text="name"></item>
                                                                    </pcombobox-normal>
                                                                </div>
                                                            </div>
                                                            <div v-show="true">
                                                                <div class="single-select-input">
                                                                    <div class="selection-input" v-show="true">
                                                                        <p>
                                                                            <span>单位</span>
                                                                            <em></em>
                                                                        </p>
                                                                        <div class="unit-div">
                                                                            <ptext-text bind="true" placeholder="'请输入要采集数据的单位'">
                                                                                <verify errtip="请输入单位" verifytype="space"></verify>
                                                                            </ptext-text>
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="selection-input" v-show="true"
                                                                        v-for="(model, index) in commonData.publicModel.customItem.items"> -->
                                                                    <div class="selection-input" v-show="true">
                                                                        <p>
                                                                            <span>选项</span>
                                                                            <em v-text="'index1'">1</em>
                                                                        </p>
                                                                        <div>
                                                                            <ptext-text bind="true" value="model">
                                                                                <verify errtip="最多只能输入100个字符" length="100" verifytype="length"></verify>
                                                                            </ptext-text>
                                                                            <i @click="void 0">p</i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="self-add-select" v-show="true">
                                                                    <div class="self-add-btn">
                                                                        <i>J</i>添加选项
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!--搜索无结果-->
                                                        <div class="sop-nodata">
                                                            <pnotice-nodata text="暂无数据" subtitle="哎呀，什么都没有找到！" icon="../images/sassNodata.png"></pnotice-nodata>
                                                        </div>
                                                        <!--loading-->
                                                        <ploading-part data-loading="resultPopLoading" text="加载中..."></ploading-part>
                                                    </div>
                                                </div>
                                                <div class="aite-footer" :class="true?'footer-btn-noborder':''">
                                                    <div class="customize-btn-div" v-show="true">
                                                        <pbutton-white text="'自定义'" click="void 0" bind="true" disabled="true"></pbutton-white>
                                                    </div>
                                                    <div v-show="true" class="sureBtnDivs">
                                                        <pbutton-blue text="'确定'" id="'sureBtn'" bind="true" disabled="true" click="void 0"></pbutton-blue>
                                                    </div>
                                                    <div v-show="true" class="sureBtnDivs">
                                                        <pbutton-blue text="'确定'" id="'sureBtn'" bind="true" disabled="true" click="void 0"></pbutton-blue>
                                                    </div>
                                                    <div v-show="true" class="sureBtnDivs">
                                                        <pbutton-blue text="确定" id="sureBtn" click="void 0"></pbutton-blue>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 输入区域 End -->
                            </div>
                            <!-- 操作记录要求 End -->

                            <!-- 专业限定 Start -->
                            <div class="content-prev">
                                <div class="prev-title">
                                    <div class="title-tip-div workcontent-major">
                                        <span>专业限定</span>
                                        <img src="../images/question.png" class="question" />
                                        <p>若本条作业需要限定专业人员，请在此选定。</p>
                                    </div>
                                    <div class="edit-clear-div">
                                        <div class="edit-div" v-show="!view.domain" @click.capture="view.domain=true">
                                            <pbutton-blue text="编辑" icon="e" isborder="false"></pbutton-blue>

                                        </div>
                                        <div class="clear-div" v-show="view.domain">
                                            <img src="../images/clear_03.png" alt="清空图标" />
                                            <pbutton-blue text="清空" isborder="false" click="$('#domain_bubble').pshow()"></pbutton-blue>
                                        </div>
                                        <!-- 清空按钮弹窗 Start -->
                                        <pwindow-bubble id="domain_bubble" title='确定要清空此条内容吗？' subtitle='被清空的内容将不可恢复'>
                                            <button>
                                                <pbutton-backred text="清空" click="clear_domain(),$('#domain_bubble').phide(),$('#add-major').precover()"></pbutton-backred>
                                                <pbutton-white text="取消" click="$('#domain_bubble').phide()"></pbutton-white>
                                            </button>
                                        </pwindow-bubble>
                                        <!-- 清空按钮弹窗 End -->
                                    </div>
                                </div>
                                <!-- 输入区域 Start -->
                                <div class="prev-body" v-show="view.domain">
                                    <div class="slide-div">
                                        <div class="major-sel">
                                            <pcombobox-normal bind="true" id="'add-major'" sel="domainSel">
                                                <header placeholder="选择专业"></header>
                                                <item datasource="GeneralDictByKey" text="name"></item>
                                            </pcombobox-normal>
                                        </div>
                                    </div>
                                </div>
                                <!-- 输入区域 End -->
                            </div>
                            <!-- 专业限定 End -->
                        </div>
                    </div>
                    <div class="alert-footer">
                        <!--<pbutton-blue text="确定" click="yn_method.addWorkContent"></pbutton-blue>-->
                        <pbutton-blue text="确定"></pbutton-blue>
                    </div>
                </div>
            </div>
            <div class="alert-close">
                <img src="/images/alert_close_btn.png" />
            </div>
        </div>
    </div>
</div>
</script>