<script type="text/html" id="addcontent">
<div class="alert-all" @click="cb()">
    <div class="alert-shade">
        <!-- 冒泡点消失弹窗 -->
        <div class="alert-box" @click.stop="onItem='',onPoint='',get_content_Obj([])">
            <div class="alert-content">
                <div class="alert-container">
                    <div class="alert-header">
                        <div class="matter-title">
                            <div class="matter-title-div">
                                <input type="text" v-model="desc_work.work_name" maxlength="100" placeholder="请输入作业简称" />
                                <span class="counter" :class="{'errorNumber':true}">
                                    <b v-text="desc_work.work_name.length"></b>/100</span>
                            </div>
                        </div>
                    </div>
                    <div class="alert-body">
                        <div class="import-box">

                            <!-- 作业检查项 Start -->
                            <div class="content-prev">
                                <div class="prev-title" onclick="">
                                    <div class="title-tip-div">
                                        <span>作业前检查项</span>
                                        <img src="../images/question.png" class="question" />
                                        <p>可在此设置执行本条作业前的各项必要检查工作，工程师检查并确认后方可继续执行工单。</p>
                                    </div>
                                    <div class="edit-clear-div">
                                        <div class="edit-div" v-show="!view.pre_conform" @click.capture="view.pre_conform=true">
                                            <pbutton-blue text="编辑" icon="e" isborder="false"></pbutton-blue>
                                        </div>
                                        <div class="clear-div" v-show="view.pre_conform" @click.capture="$('#bubble').pshow()">
                                            <img src="../images/clear_03.png" alt="清空图标" />
                                            <pbutton-blue text="清空" isborder="false"></pbutton-blue>
                                        </div>
                                        <!-- 清空按钮弹窗 Start -->
                                        <pwindow-bubble id="bubble" title='确定要清空此条内容吗？' subtitle='被清空的内容将不可恢复'>
                                            <button>
                                                <pbutton-backred text="清空" click="clear_pre_conform(),$('#bubble').phide()"></pbutton-backred>
                                                <pbutton-white text="取消" click="$('#bubble').phide()"></pbutton-white>
                                            </button>
                                        </pwindow-bubble>
                                        <!-- 清空按钮弹窗 End -->
                                    </div>
                                </div>
                                <!-- 输入区域 Start -->
                                <div class="prev-body" v-show="view.pre_conform">
                                    <div class="slide-div">
                                        <textarea maxlength="100" v-model="desc_work.pre_conform"></textarea>
                                        <span class="counter" :class="{'errorNumber':false}">
                                            <b class="counterNum" v-text="desc_work.pre_conform.length"></b>/100</span>
                                    </div>
                                </div>
                                <!-- 输入区域 End -->
                            </div>
                            <!-- 作业检查项 End   -->

                            <!-- 标准操作要求 Start -->
                            <div class="content-prev standard-content">
                                <div class="prev-title" onclick="">
                                    <div class="title-tip-div">
                                        <span class="starSymbol">*</span>
                                        <span>标准操作要求</span>
                                        <img src="../images/question.png" class="question" />
                                        <p>设置工单的操作内容明确的完成标准，工人执行时需按此内容逐步确认。</p>
                                    </div>
                                    <div class="edit-clear-div">
                                        <div class="edit-div" v-show="!view.content" @click.capture="view.content=true">
                                            <!--<pbutton-white text="编辑" icon="e" isborder="false" click="yn_method.editable"></pbutton-white>-->
                                            <pbutton-blue text="编辑" icon="e" isborder="false" click=""></pbutton-blue>
                                        </div>
                                        <div class="clear-div" v-show="view.content">
                                            <img src="../images/clear_03.png" alt="清空图标" />
                                            <pbutton-blue text="清空" isborder="false" click="$('#content_bubble').pshow()"></pbutton-blue>
                                        </div>
                                        <!-- 清空按钮弹窗 Start -->
                                        <pwindow-bubble id="content_bubble" title='确定要清空此条内容吗？' subtitle='被清空的内容将不可恢复'>
                                            <button>
                                                <pbutton-backred text="清空" click="clear_content(),$('#content_bubble').phide()"></pbutton-backred>
                                                <pbutton-white text="取消" click="$('#content_bubble').phide()"></pbutton-white>
                                            </button>
                                        </pwindow-bubble>
                                        <!-- 清空按钮弹窗 End -->
                                    </div>
                                </div>
                                <!-- 输入区域 Start -->
                                <div class="prev-body" v-show="view.content">
                                    <div class="slide-div operate">
                                        <div class="textarea-div">
                                            <textarea id="content-textarea" v-model="desc_work.content" maxlength="200" placeholder="例如：从@低压侧负荷分开关 开始停电，然后再停@变压器低压侧总开关 和@高压侧总开关 。监护人需穿@戴绝缘手套 @绝缘鞋 。"></textarea>
                                            <!-- @blur="publicMethod.blurContentItemOpe"-->
                                            <!--v-bind:class="{'textcontentError':workContent.content.length>200}"-->
                                            <!--边框标红报错去掉，改为计数器标红-->

                                            <!--<div class="obj-fragment-div" onclick="yn_method.contentAiteShow(this,event)">-->
                                            <div class="obj-fragment-div">
                                                <span class="aite-btn" @click.stop="content_str='@'" :class="content_str ? 'eleDisable' : ''">@对象/部件/工具</span>
                                                <span class="counter" :class="{'errorNumber':false}">
                                                    <b v-text="desc_work.content.length">0</b>/200</span>
                                            </div>
                                            <div class="textareadiv"></div>
                                            <div class="" v-if="content_str">
                                                <aite :str="content_str" ref="aite" :cb="get_content_Obj" v-if="content_str"></aite>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- 输入区域 End -->
                            </div>
                            <!-- 标准操作要求 End -->

                            <!-- 注意事项 Start -->
                            <div class="content-prev">
                                <div class="prev-title">
                                    <div class="title-tip-div">
                                        <span>注意事项</span>
                                    </div>
                                    <div class="edit-clear-div">
                                        <div class="edit-div" v-show="!view.notice" @click.capture="view.notice=true">
                                            <!--<pbutton-white text="编辑" icon="e" isborder="false" click="yn_method.editable"></pbutton-white>-->
                                            <pbutton-blue text="编辑" icon="e" isborder="false" click=""></pbutton-blue>
                                        </div>
                                        <div class="clear-div" v-show="view.notice">
                                            <img src="../images/clear_03.png" alt="清空图标" />
                                            <pbutton-blue text="清空" isborder="false" click="$('#notice_bubble').pshow()"></pbutton-blue>
                                        </div>
                                        <!-- 清空按钮弹窗 Start -->
                                        <pwindow-bubble id="notice_bubble" title='确定要清空此条内容吗？' subtitle='被清空的内容将不可恢复'>
                                            <button>
                                                <pbutton-backred text="清空" click="clear_notice(),$('#notice_bubble').phide()"></pbutton-backred>
                                                <pbutton-white text="取消" click="$('#notice_bubble').phide()"></pbutton-white>
                                            </button>
                                        </pwindow-bubble>
                                        <!-- 清空按钮弹窗 End -->
                                    </div>
                                </div>
                                <!-- 输入区域 Start -->
                                <div class="prev-body" v-show="view.notice">
                                    <div class="slide-div">
                                        <textarea v-model="desc_work.notice"></textarea>
                                    </div>
                                </div>
                                <!-- 输入区域 End -->
                            </div>
                            <!-- 注意事项 End -->

                            <!-- 操作记录要求 Start -->
                            <div class="content-prev contentResult">
                                <div class="prev-title" onclick="">
                                    <div class="title-tip-div">
                                        <span>操作记录要求</span>
                                        <img src="../images/question.png" class="question" />
                                        <p>可在此明确工人执行工单过程中，需要记录或反馈的操作结果。</p>
                                    </div>
                                    <div class="edit-clear-div">
                                        <div class="edit-div" v-show="!view.confirm_result" @click.capture="view.confirm_result=true">
                                            <!--<pbutton-white text="编辑" icon="e" isborder="false" click="yn_method.editable"></pbutton-white>-->
                                            <pbutton-blue text="编辑" icon="e" isborder="false" click=""></pbutton-blue>

                                        </div>
                                        <div class="clear-div" v-show="view.confirm_result">
                                            <img src="../images/clear_03.png" alt="清空图标" />
                                            <pbutton-blue text="清空" isborder="false" click="$('#confirm_result_bubble').pshow()"></pbutton-blue>
                                        </div>
                                        <!-- 清空按钮弹窗 Start -->
                                        <pwindow-bubble id="confirm_result_bubble" title='确定要清空此条内容吗？' subtitle='被清空的内容将不可恢复'>
                                            <button>
                                                <pbutton-backred text="清空" click="clear_confirm_result(),$('#confirm_result_bubble').phide()"></pbutton-backred>
                                                <pbutton-white text="取消" click="$('#confirm_result_bubble').phide()"></pbutton-white>
                                            </button>
                                        </pwindow-bubble>
                                        <!-- 清空按钮弹窗 End -->
                                    </div>
                                </div>
                                <!-- 输入区域 Start -->
                                <div class="prev-body confirmSlideBody" v-show="view.confirm_result">
                                    <div class="slide-div result">
                                        <div class="objs">

                                            <idepoint :point="onPoint" :cb="idecallback" ref="idepoint" v-if="_.isPlainObject(onPoint)"></idepoint>
                                            <!-- <div class="obj-div" v-show="true"
                                                 v-for="(confirmObj, index1) in commonData.publicModel.workContent.confirm_result"> -->
                                            <div class="obj-div" v-for="(item, index) in desc_work.confirm_result">
                                                <div class="obj-name">
                                                    <span v-text="item.obj_name">对象名称1</span>
                                                    <em v-text="getParentsLinks(item.parents)">(建筑-楼层-空间名称/专业-系统/)</em>
                                                    <a href="javascript:void (0)" @click="desc_work.confirm_result.splice(index,1)">
                                                        <i>p</i>删除对象</a>
                                                </div>
                                                <div class="obj-info-self">
                                                    <!--选择的信息点列表 Start-->
                                                    <div class="obj-info">
                                                        <div class="info-dot" v-for="(point, index2) in item.info_points">
                                                            <span :title="point.name" @click.stop="onPoint=point">
                                                                {{point.name}}
                                                                <em :title="getError(point)" v-text="getError(point)"></em>
                                                            </span>
                                                            <img src="../images/info_close.png" alt="删除图标x" @click="item.info_points.splice(index2,1)" />
                                                        </div>
                                                    </div>
                                                    <!--选择的信息点列表 End -->
                                                    <!--自定义的信息点列表 Start -->
                                                    <div class="obj-info">
                                                        <div class="info-dot" v-for="(custom, index2) in item.customs">
                                                            <span :title="custom.name" @click.stop="onPoint=custom">{{custom.name}}
                                                                <em :title="getError(custom)" v-text="getError(custom)"></em>
                                                            </span>
                                                            <img src="../images/info_close.png" alt="删除图标x" @click="item.customs.splice(index2,1)" />
                                                        </div>
                                                    </div>
                                                    <!--自定义的信息点列表 End -->


                                                    <!--  -->
                                                    <div class="add-info-btn">
                                                        <span class="info-btn" @click.stop="onItem=item">添加信息点</span>
                                                        <point ref="point" :obj_id="onItem.obj_id" :codes="getkeys(item.info_points,'code')" :cb="get_point" v-if="onItem==item && _.isPlainObject(onItem)"></point>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="obj-info-btn">
                                            <span class="aite-btn" @click="showAddObjAndPoint=true">+ 添加对象和信息点</span>
                                            <addinfo v-if="showAddObjAndPoint" :cb="addObjAndPoint" ref="addinfo"></addinfo>
                                        </div>
                                    </div>
                                </div>
                                <!-- 输入区域 End -->
                            </div>
                            <!-- 操作记录要求 End -->

                            <!-- 专业限定 Start -->
                            <div class="content-prev">
                                <div class="prev-title">
                                    <div class="title-tip-div workcontent-major">
                                        <span>专业限定</span>
                                        <img src="../images/question.png" class="question" />
                                        <p>若本条作业需要限定专业人员，请在此选定。</p>
                                    </div>
                                    <div class="edit-clear-div">
                                        <div class="edit-div" v-show="!view.domain" @click.capture="view.domain=true">
                                            <pbutton-blue text="编辑" icon="e" isborder="false"></pbutton-blue>

                                        </div>
                                        <div class="clear-div" v-show="view.domain">
                                            <img src="../images/clear_03.png" alt="清空图标" />
                                            <pbutton-blue text="清空" isborder="false" click="$('#domain_bubble').pshow()"></pbutton-blue>
                                        </div>
                                        <!-- 清空按钮弹窗 Start -->
                                        <pwindow-bubble id="domain_bubble" title='确定要清空此条内容吗？' subtitle='被清空的内容将不可恢复'>
                                            <button>
                                                <pbutton-backred text="清空" click="clear_domain(),$('#domain_bubble').phide(),$('#add-major').precover()"></pbutton-backred>
                                                <pbutton-white text="取消" click="$('#domain_bubble').phide()"></pbutton-white>
                                            </button>
                                        </pwindow-bubble>
                                        <!-- 清空按钮弹窗 End -->
                                    </div>
                                </div>
                                <!-- 输入区域 Start -->
                                <div class="prev-body" v-show="view.domain">
                                    <div class="slide-div">
                                        <div class="major-sel">
                                            <pcombobox-normal bind="true" id="'add-major'" sel="domainSel">
                                                <header placeholder="选择专业"></header>
                                                <item datasource="GeneralDictByKey" text="name"></item>
                                            </pcombobox-normal>
                                        </div>
                                    </div>
                                </div>
                                <!-- 输入区域 End -->
                            </div>
                            <!-- 专业限定 End -->
                        </div>
                    </div>
                    <div class="alert-footer" @click.capture="commit">
                        <!--<pbutton-blue text="确定" click="yn_method.addWorkContent"></pbutton-blue>-->
                        <pbutton-blue text="确定"></pbutton-blue>
                    </div>
                </div>
            </div>
            <div class="alert-close">
                <img src="/images/alert_close_btn.png" />
            </div>
        </div>
    </div>
</div>
</script>