<script type="text/html" id="addinfo">
<div class="aite-bubble addinfo">
    <!-- 头部返回 Strat -->
    <div class="aite-title">
        <span class="returnImg" @click="back()" v-show="onBlock!='index'">
            <img src="../images/return_left.png" alt="返回图片"/>
        </span>

        <span>
            <em v-show="true">选择</em>
            <em v-text="titles[onBlock]">分类</em>
        </span>
    </div>
    <!-- 头部返回 End -->

    <!-- 头部搜索 Start  -->
    <div class="list-search" v-show="true">
        <div class="info-search-box">
            <input type="text" class="keyinput" v-model="searchStr">
            <div class="icon-div">
                <i @click="searchStr=''">x</i>
                <i @click="searchInfoPoint(searchStr),onBlock='search'">f</i>
            </div>
        </div>
        <!--<div class="search-result" v-show="commonData.publicModel.curObjType2!='init' && commonData.publicModel.curObjType2!='custom' && commonData.publicModel.searchResultLength">&lt;!&ndash; v-show="commonData.publicModel.searchResultLength"&ndash;&gt;-->
        <div class="search-result" v-show="onBlock=='search'">
            <div class="key-result">
                <span>共搜索到
                    <em class="search-num" v-text="searchRes.length"></em>个相关结果</span>
            </div>
        </div>
    </div>
    <!-- 头部搜索 End  -->

    <!-- 身体部分 Start -->
    <div class="aite-body" :class="{'result-aite-body-nosearch': true,'custom-no-searchAll':true}">
        <div class="list-body">

            <!-- 搜索 Start -->
            <div class="search" v-if="onBlock=='search'">
                <div class="aite-list" v-for="(item,index) in searchRes" @click="item.selected=!item.selected">
                    <div class="prev">
                        <p class="title" title="item.info_point.name">
                            <span v-for="(info,index2) in item.info_point.name_arr" v-text="info.char" :class="info.mark?'redMark':''"></span>
                        </p>
                        <p class="descript" title="getParentsLinks(item.parents)" v-text="getParentsLinks(item.parents)"></p>
                    </div>
                    <div class="next">
                        <div class="pcheckbox">
                            <span class="pcheckbox_input" :class="item.selected?'pcheckbox-checked':''"></span>
                            <span class="pswitch_label"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 搜索 End -->

            <!--选择大类 Start-->
            <div class="index" v-show="onBlock=='index'">
                <div class="aite-list" @click="handler_class('Build')">
                    <div>
                        <span>建筑体</span>
                    </div>
                </div>
                <div class="aite-list" @click="handler_class('Floor')">
                    <div>
                        <span>楼层</span>
                    </div>
                </div>
                <div class="aite-list" @click="handler_class('Room')">
                    <div>
                        <span>房间</span>
                    </div>
                </div>
                <div class="aite-list" @click="handler_class('System')">
                    <div>
                        <span>系统</span>
                    </div>
                </div>
                <div class="aite-list" @click="handler_class('Equip')">
                    <div>
                        <span>设备</span>
                    </div>
                </div>
            </div>
            <!--选择大类 End-->

            <!-- 建筑体 Start -->
            <div class="build" v-if="onBlock=='Build' ">
                <div class="level-box">
                    <div class="aite-list" v-for="(item,index) in Build" :class="item.selected?'aite_on':''" @click="listClick(Build,item),clickInfoPointsByItem(item,'build')">
                        <div class="left" :title="item.obj_name">
                            <span v-text="item.obj_name"></span>
                        </div>
                    </div>
                </div>
                <div class="level-box">
                    <div class="aite-list" v-for="(model, index) in InfoPoint" @click="model.selected=!model.selected">
                        <div class="name" :title="model.name">
                            <span v-text="model.name"></span>
                        </div>
                        <div class="ck">
                            <div class="pcheckbox">
                                <span class="pcheckbox_input" :class="model.selected?'pcheckbox-checked':''"></span>
                                <span class="pswitch_label"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 建筑体 End -->

            <!-- 楼层 Start -->
            <div class="floor" v-if="onBlock=='Floor' ">
                <div class="level-box">
                    <div class="aite-list" v-for="(item,index) in Floor" :class="item.selected?'aite_on':''" @click="listClick(Floor,item)" >
                        <div class="left" :title="item.obj_name">
                            <span v-text="item.obj_name"></span>
                        </div>
                    </div>
                </div>
                <div class="level-box">
                    <div class="aite-list" v-for="(item,index) in querySelectedContent(Floor)" :class="item.selected?'aite_on':''" @click="listClick(querySelectedContent(Floor),item),clickInfoPointsByItem(item,'floor')">
                        <div class="left" :title="item.obj_name">
                            <span v-text="item.obj_name"></span>
                        </div>
                    </div>
                </div>
                <div class="level-box">
                    <div class="aite-list" v-for="(model, index) in InfoPoint" @click="model.selected=!model.selected">
                        <div class="name" :title="model.name">
                            <span v-text="model.name"></span>
                        </div>
                        <div class="ck">
                            <div class="pcheckbox">
                                <span class="pcheckbox_input" :class="model.selected?'pcheckbox-checked':''"></span>
                                <span class="pswitch_label"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 楼层 End -->

            <!-- 房间 Start -->
            <div class="room" v-if="onBlock=='Room' ">
                <div class="tree-box">
                    <ptree-normal datasource="Room" sel="roomTree">
                        <item text="obj_name" issearch="false" child="content"></item>
                    </ptree-normal>
                </div>
                <div class="last-level-box">
                    <!-- <div class="aite-list" v-for="(obj,index1) in commonData.publicModel.curLevelList" > -->
                    <div class="aite-list" v-for="(item,index) in Space" :class="item.selected?'aite_on':''" @click="listClick(Space,item),clickInfoPointsByItem(item,'space')">
                        <div class="left" :title="item.obj_name">
                            <span v-text="item.obj_name"></span>
                        </div>
                    </div>
                </div>
                <div class="level-box">
                    <div class="aite-list" v-for="(model, index) in InfoPoint" @click="model.selected=!model.selected">
                        <div class="name" :title="model.name">
                            <span v-text="model.name"></span>
                        </div>
                        <div class="ck">
                            <div class="pcheckbox">
                                <span class="pcheckbox_input" :class="model.selected?'pcheckbox-checked':''"></span>
                                <span class="pswitch_label"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 房间 End   -->

            <!-- 系统 Start -->
            <div class="system" v-if="onBlock=='System' ">
                <div class="level-box">
                    <div class="aite-list" v-for="(item,index) in System" :class="item.selected?'aite_on':''" @click="listClick(System,item)">
                        <div class="left" :title="item.obj_name">
                            <span v-text="item.obj_name"></span>
                        </div>
                    </div>
                </div>
                <div class="level-box">
                    <div class="aite-list" v-for="(item,index) in querySelectedContent(System)" :class="item.selected?'aite_on':''" @click="listClick(querySelectedContent(System),item),clickInfoPointsByItem(item,'system')">
                        <div class="left" :title="item.obj_name">
                            <span v-text="item.obj_name"></span>
                        </div>
                    </div>
                </div>
                <div class="level-box">
                    <div class="aite-list" v-for="(model, index) in InfoPoint" @click="model.selected=!model.selected">
                        <div class="name" :title="model.name">
                            <span v-text="model.name"></span>
                        </div>
                        <div class="ck">
                            <div class="pcheckbox">
                                <span class="pcheckbox_input" :class="model.selected?'pcheckbox-checked':''"></span>
                                <span class="pswitch_label"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 系统 End -->

            <!-- 设备 Start -->
            <div class="equip" v-if="onBlock=='Equip' ">
                <!-- <div class="system-major">
                    <div class="title">
                        <span>添加筛选条件:</span>
                    </div>
                    <pcombobox-normal isborder="false" id="'id_GeneralDict'" bind="true" :class="'major-need'" sel="DictSel">
                        <header placeholder="专业"></header>
                        <item datasource="GeneralDict" text="name"></item>
                    </pcombobox-normal>
                    <pcombobox-normal isborder="false" id="'id_GeneralSystem'" bind="true" id="'system'" :class="'major-need'" sel="DictSystemSel">
                        <header placeholder="系统"></header>
                        <item datasource="GeneralSystem" text="system_name"></item>
                    </pcombobox-normal>
                </div> -->
                <div class="tree-body">
                    <div class="tree-box">
                        <ptree-normal id="'id_BuildFloorSpaceTree'" datasource="BuildFloorSpaceTree" sel="QuipTreeSel">
                            <item text="obj_name" issearch="false" child="content"></item>
                        </ptree-normal>
                    </div>
                    <div class="last-level-box">
                        <div class="aite-list" v-for="(item,index) in EquipList" :class="item.selected?'aite_on':''" @click="listClick(EquipList,item),clickInfoPointsByItem(item,'equip')">
                            <div class="left" :title="item.obj_name">
                                <span v-text="item.obj_name"></span>
                            </div>
                        </div>
                    </div>
                    <div class="level-box">
                        <div class="aite-list" v-for="(model, index) in InfoPoint" @click="model.selected=!model.selected">
                            <div class="name" :title="model.name">
                                <span v-text="model.name"></span>
                            </div>
                            <div class="ck">
                                <div class="pcheckbox">
                                    <span class="pcheckbox_input" :class="model.selected?'pcheckbox-checked':''"></span>
                                    <span class="pswitch_label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 设备 End -->
            <!--搜索无结果-->
            <div class="sop-nodata" v-show="onBlock=='search' && !searchRes.length">
                <pnotice-nodata :style="'display:block'" text="暂无数据" subtitle="哎呀，什么都没有找到！" icon="../images/sassNodata.png"></pnotice-nodata>
            </div>
            <!--loading-->
            <ploading-part v-if="isLoading" :style="'display:block'" data-loading="resultPopLoading" text="加载中..."></ploading-part>
        </div>
    </div>
    <!-- 身体部分 End -->

    <div class="aite-footer">
            <div class="sureBtnDivs" v-show="onBlock!='index'" @click.capture="submit">
                <pbutton-blue text="确定" id="sureBtn"></pbutton-blue>
            </div>
    </div>
</div>
</script>