<script type="text/html" id="addinfo">
<div class="aite-bubble aite" @click.stop="void 0" v-if="isShow" :class="{'click-aite':true}">
    <!-- 全局弹窗 Start -->
    <!-- <div class="layer" @click.self="console.log(123),callback([])">

    </div> -->
    <!-- 全局弹窗 End -->

        <!-- 头部返回 Strat -->
        <div class="aite-title">
            <span class="returnImg" @click="back()" v-show="onBlock!='index'">
                <img src="../images/return_left.png" alt="返回图片"/>
            </span>
            <!--<span>请选择</span>-->
            <span>
                <em v-show="true">选择</em>
                <em v-text="titles[onBlock]">分类</em>
            </span>
        </div>
        <!-- 头部返回 End -->

        <div class="aite-body free-aite-pops">
            <!--选择大类 Start-->
            <div class="index" v-show="onBlock=='index'">
                <div class="aite-list" @click="handler_class('Build')">
                    <div>
                        <span>建筑体</span>
                    </div>
                </div>
                <div class="aite-list" @click="handler_class('Floor')">
                    <div>
                        <span>楼层</span>
                    </div>
                </div>
                <div class="aite-list" @click="handler_class('Room')">
                    <div>
                        <span>房间</span>
                    </div>
                </div>
                <div class="aite-list" @click="handler_class('System')">
                    <div>
                        <span>系统</span>
                    </div>
                </div>
                <div class="aite-list" @click="handler_class('Equip')">
                    <div>
                        <span>设备</span>
                    </div>
                </div>
                <div class="aite-list" v-if="true" @click="handler_class('Part')">
                    <div>
                        <span>部件</span>
                    </div>
                </div>
                <div class="aite-list" v-if="true" @click="handler_class('Tool')">
                    <div>
                        <span>工具</span>
                    </div>
                </div>
            </div>
            <!--选择大类 End-->

            <!-- 搜索 Start -->
            <div class="build" v-if="onBlock=='Search'">
                <div class="aite-list" v-for="(model, index) in searchObject" @click="model.selected=!model.selected">
                    <div class="name" :title="model.obj_name">
                        <span v-text="model.obj_name"></span>
                    </div>
                    <div class="ck">
                        <div class="pcheckbox">
                            <span class="pcheckbox_input" :class="model.selected?'pcheckbox-checked':''"></span>
                            <span class="pswitch_label"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 搜索 End -->

            <!-- 建筑体 Start -->
            <div class="build" v-if="onBlock=='Build' ">
                <div class="aite-list" v-for="(model, index) in Build" @click="model.selected=!model.selected">
                    <div class="name" :title="model.obj_name">
                        <span v-text="model.obj_name"></span>
                    </div>
                    <div class="ck">
                        <div class="pcheckbox">
                            <span class="pcheckbox_input" :class="model.selected?'pcheckbox-checked':''"></span>
                            <span class="pswitch_label"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 建筑体 End -->

            <!-- 楼层 Start -->
            <div class="floor" v-if="onBlock=='Floor' ">
                <div class="level-box">
                    <div class="aite-list" v-for="(item,index) in Floor" :class="item.selected?'aite_on':''" @click="listClick(Floor,item)">
                        <div class="left" :title="item.obj_name">
                            <span v-text="item.obj_name"></span>
                        </div>
                    </div>
                </div>
                <div class="level-box">
                    <div class="aite-list" v-for="(item,index) in querySelectedContent(Floor)" @click="item.selected=!item.selected">
                        <div class="name" :title="item.obj_name">
                            <span v-text="item.obj_name"></span>
                        </div>
                        <div class="ck">
                            <div class="pcheckbox">
                                <span class="pcheckbox_input" :class="item.selected ? 'pcheckbox-checked' : ''"></span>
                                <span class="pswitch_label"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 楼层 End -->

            <!-- 房间 Start -->
            <div class="room" v-if="onBlock=='Room' ">
                <div class="tree-box">
                    <ptree-normal datasource="Room" sel="roomTree">
                        <item text="obj_name" issearch="false" child="content"></item>
                    </ptree-normal>
                </div>
                <div class="last-level-box">
                    <!-- <div class="aite-list" v-for="(obj,index1) in commonData.publicModel.curLevelList" > -->
                    <div class="aite-list" v-for="(item,index) in Space" @click="item.selected=!item.selected">
                        <div :title="item.obj_name" class="name">
                            <span v-text="item.obj_name">建筑体</span>
                        </div>
                        <div class="ck">
                            <div :id="'noLeftLevelCheckbox'" class="pcheckbox">
                                <span class="pcheckbox_input" :class="item.selected ? 'pcheckbox-checked' : ''"></span>
                                <span class="pswitch_label"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 房间 End   -->

            <!-- 系统 Start -->
            <div class="system" v-if="onBlock=='System' ">
                <div class="level-box">
                    <div class="aite-list" v-for="(item,index) in System" :class="item.selected?'aite_on':''" @click="listClick(System,item)">
                        <div class="left" :title="item.obj_name">
                            <span v-text="item.obj_name"></span>
                        </div>
                    </div>
                </div>
                <div class="level-box">
                    <div class="aite-list" v-for="(item,index) in querySelectedContent(System)" @click="item.selected=!item.selected">
                        <div class="name" :title="item.obj_name">
                            <span v-text="item.obj_name"></span>
                        </div>
                        <div class="ck">
                            <div class="pcheckbox">
                                <span class="pcheckbox_input" :class="item.selected ? 'pcheckbox-checked' : ''"></span>
                                <span class="pswitch_label"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 系统 End -->

            <!-- 设备 Start -->
            <div class="equip" v-if="onBlock=='Equip' ">
                <div class="system-major">
                    <div class="title">
                        <span>添加筛选条件:</span>
                    </div>
                    <pcombobox-normal isborder="false" id="'id_GeneralDict'" bind="true" :class="'major-need'" sel="DictSel">
                        <header placeholder="专业"></header>
                        <item datasource="GeneralDict" text="name"></item>
                    </pcombobox-normal>
                    <!--<div>+</div>-->
                    <pcombobox-normal isborder="false" id="'id_GeneralSystem'" bind="true" id="'system'" :class="'major-need'" sel="DictSystemSel">
                        <header placeholder="系统"></header>
                        <item datasource="GeneralSystem" text="system_name"></item>
                    </pcombobox-normal>
                </div>
                <div class="tree-body">
                    <div class="tree-box">
                        <ptree-normal id="'id_BuildFloorSpaceTree'" datasource="BuildFloorSpaceTree" sel="QuipTreeSel">
                            <item text="obj_name" issearch="false" child="content"></item>
                        </ptree-normal>
                    </div>
                    <div class="last-level-box">
                        <div class="aite-list" v-for="(item,index) in EquipList" @click="item.selected=!item.selected">
                            <div class="name" :title="item.obj_name">
                                <span v-text="item.obj_name"></span>
                            </div>
                            <div class="ck">
                                <div class="pcheckbox">
                                    <span class="pcheckbox_input" :class="item.selected ? 'pcheckbox-checked' : ''"></span>
                                    <span class="pswitch_label"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 设备 End -->

            <!-- 部件 Start -->
            <div class="build" v-if="onBlock=='Part' ">
                <div class="aite-list" v-for="(model, index) in Part" @click="model.selected=!model.selected">
                    <div class="name" :title="model.obj_name">
                        <span v-text="model.obj_name"></span>
                    </div>
                    <div class="ck">
                        <div class="pcheckbox">
                            <span class="pcheckbox_input" :class="model.selected?'pcheckbox-checked':''"></span>
                            <span class="pswitch_label"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 部件 End -->

            <!-- 工具 Start -->
            <div class="build" v-if="onBlock=='Tool' ">
                <div class="aite-list" v-for="(model, index) in Tool" @click="model.selected=!model.selected">
                    <div class="name" :title="model.obj_name">
                        <span v-text="model.obj_name"></span>
                    </div>
                    <div class="ck">
                        <div class="pcheckbox">
                            <span class="pcheckbox_input" :class="model.selected?'pcheckbox-checked':''"></span>
                            <span class="pswitch_label"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 工具 End -->

            <!--即时搜索，只有复选-->
            <div class="timely-checkbox" v-show="!true">
                <!-- <div class="aite-list" v-for="(model, index) in commonData.publicModel.curLevelList" > -->
                <div class="aite-list">
                    <div>
                        <p :title="'title'">
                            <!-- <span v-for="charObj in model.obj_name_arr"  :class="'redMark'">空</span> -->
                            <span v-text="'空'" :class="'redMark'">空</span>
                        </p>
                        <p :title="'title'">
                            <!-- <em v-for="charObj in parent.linked_names_arr" v-text="charObj.char" :class="charObj.mark ? 'redMark' : ''">建</em> -->
                            <em v-text="'建'" :class="true ? 'redMark' : ''">建</em>
                        </p>
                    </div>
                    <div>
                        <div :id="'searchCheckbox'" class="pcheckbox">
                            <span class="pcheckbox_input" :class="true ? 'pcheckbox-checked' : ''"></span>
                            <span class="pswitch_label"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!--自定义-->
            <div class="customize" v-show="onBlock=='auto' ">
                <div v-show="false" class="customize-tips">
                    <span>未找到相关内容，您输入的内容将被添加为自定义</span>
                </div>
                <div v-show="autoView.error" class="customize-tips">
                    <span class="redMark" :title="autoView.error" v-text="autoView.error"></span>
                </div>
                <div class="customText" v-show="true">
                    <p>自定义</p>
                    <ptext-text id="'selfText'" bind="true" value="auto" placeholder="'请输入自定义内容'">
                        <verify errtip="请输入自定义内容" verifytype="space"></verify>
                        <verify errtip="最多只能输入40个字符" length="40" verifytype="length"></verify>
                    </ptext-text>
                </div>
                <div class="belong">
                    <div class="belong-title">
                        <h4>所属类别
                            <span class="aite-cus-tips" v-text="(_.find(EquipList,{selected:true}) || {}).name"></span>
                        </h4>
                    </div>
                    <div class="belong-category">
                        <div class="category" v-for="(item,index) in typeList" :class="item.selected ? 'selectDiv' : ''" @click="listClick(typeList,item),autoView.error=''">
                            <span v-text="item.name"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!--loading-->
            <ploading-part v-if="isLoading" :style="'display:block'" data-loading="aitePopLoading" text="加载中..."></ploading-part>
        </div>
        <div class="aite-footer">
            <div @click.capture.stop="back(),onBlock='auto'" v-show="onBlock!='auto'">
                <pbutton-white text="自定义"></pbutton-white>
            </div>
            <div class="sureBtnDivs" v-show="onBlock!='index'" @click.capture="submit">
                <pbutton-blue text="确定" id="sureBtn"></pbutton-blue>
            </div>
        </div>

</div>
</script>