<script type="text/html" id="baseinfomation">
<div class="planCreate_page_con_left">
    <div class="planCreate_page_con_left_tit">
        <span>1. 基本信息</span>
    </div>
    
    <div class="planCreate_page_con_left_name">
        <h4>
            <span>*</span>
            <i>计划名称：</i>
            <em v-if="isquote" v-text="addWoPlan.plan_name"></em>
        </h4>
        <div id="plan_name" v-if="!isquote">
            <ptext-text id="'plan_name_text'" placeholder="'请输入计划名称'" bind="true" value="addWoPlan.plan_name">
                <verify errtip="计划名称不能为空" verifytype="space"></verify>
                <verify errtip="集团计划名称不可超过50个字" length="50" verifytype="length"></verify>
            </ptext-text>
        </div>
    </div>
    <div class="planCreate_page_con_left_orderType">
        <h4>
            <span>*</span>
            <i>工单类型：</i>
            <em v-if="isquote" v-text='(_.find(WorkOrderType,{plan_id:addWoPlan.order_type}) || {}).plan_name'></em>
        </h4>
        <div v-if="!isquote">
            <pcombobox-normal bind="true" id="'cbx_id_order_type'" sel="cbx_sel_order_type">
                <header placeholder="(_.find(WorkOrderType,{plan_id:addWoPlan.order_type}) || {plan_name:'请选择工单类型'}).plan_name"></header>
                <item datasource="WorkOrderType" text="plan_name"></item>
                <verify errtip="工单类型不能为空" verifytype="space"></verify>
            </pcombobox-normal>
        </div>
    </div>
    <div class="planCreate_page_con_left_order_level">
        <h4>
            <span>*</span>
            <i>工单紧急程度：</i>
            <em v-if="isquote" v-text="addWoPlan.urgency"></em>
        </h4>
        <div id="orderUrgency" v-if="!isquote">
            <pcombobox-normal bind="true" id="'cbx_id_urgency'" sel="cbx_sel_urgency">
                 <header placeholder="addWoPlan.urgency"></header>
                <item datasource="urgencyType" text="name"></item>
                <verify errtip="工单紧急程度不能为空" verifytype="space"></verify>
            </pcombobox-normal>
        </div>
    </div>
    <div class="planCreate_page_con_left_sendTime">
        <h4>
            <span>*</span>
            <i>工单提前发送时间：</i>
            <em v-if="isquote" v-text="addWoPlan.ahead_create_time+'小时'"></em>
        </h4>
        <div class="aheadCreateTime" v-if="!isquote">
            <ptext-text id="'aheadCreateTime'" value="addWoPlan.ahead_create_time" text="'提前：'" bind="true" placeholder="'请在此输入时间'" align="left">
                <verify errtip="时间不能为空" verifytype="space"></verify>
                <!-- <verify errtip="只能为整数" verifytype="Integer"></verify> -->
                <verify errtip="提前时间只能为0-24小时" verifytype="pisdayhour"></verify>
            </ptext-text>
            <strong>小时</strong>
        </div>
    </div>
    <div class="planCreate_page_con_left_sendTime">
        <h4>
            <span v-if="addWoPlan.robbing_flag || addWoPlan.executie_mode=='execute'">*</span>
            <i class="nomust">建议执行人数：</i>
            <em v-if="isquote" v-text="addWoPlan.suggest_executor_num+'人'"></em>
        </h4>
        <!-- 非抢单的时候不用必填 -->
        <div class="aheadCreateTime" v-if="!isquote && !(addWoPlan.executie_mode=='execute' ||  addWoPlan.robbing_flag)">
            <ptext-text bind="true" value="addWoPlan.suggest_executor_num" id="'peoplenumber'" text="'人'" placeholder="'建议执行人数'" align="right">
                <verify errtip="只能为1位数" verifytype="Digits"></verify>
            </ptext-text>
        </div>
        <!-- 抢单时候不能为空 -->
        <div class="aheadCreateTime" v-if="!isquote && (addWoPlan.executie_mode=='execute' ||  addWoPlan.robbing_flag)">
            <ptext-text bind="true" value="addWoPlan.suggest_executor_num" id="'peoplenumber'" text="'人'" placeholder="'建议执行人数'" align="right">
                <verify errtip="不能为空" verifytype="space"></verify>
                <verify errtip="只能为1位数" verifytype="Digits"></verify>
            </ptext-text>
        </div>
    </div>

    <div class="planCreate_page_con_left_sendTime" v-if="addWoPlan.robbing_flag" v-for="(item,index) in addWoPlan.pit_positions">
        <h4>
            <i class="nomust">位置{{index + 1}}</i>
            <i v-if="isterm && addWoPlan.robbing_flag && isedit" v-text="item.pit_position_ask_names.join()"></i>
        </h4>
        <div class="aheadCreateTime" v-if="!isquote">
            <multiple :ref="'multiple'+index" :arr="getSelected(wotypelistall,item.pit_position_asks, 'code')" :datasource="wotypelistall"
                        :attr="'name'" :placeholder=" '请选择'" :cb="getPositon.bind(this,index)" />
        </div>
    </div>



    <div class="planCreate_page_con_left_order_level">
        <h4>
            <!-- <span>*</span> -->
            <i class="nomust">是否实例化全部对象：</i>
            <em v-if="addWoPlan.instantiated_object_flag!=2 && isterm" v-text='(_.find(instantiatedTypes,{code:addWoPlan.instantiated_object_flag}) || {}).name'></em>
        </h4>
        <!-- <div v-if="!(addWoPlan.instantiated_object_flag && isterm)"> -->
        <div v-if="!(addWoPlan.instantiated_object_flag!=2 && isterm)">
            <pcombobox-normal bind="true" sel="cbx_sel_instantiated_object_flag">
                <header placeholder="(_.find(instantiatedTypes,{code:addWoPlan.instantiated_object_flag}) || {name:'请选择是否实例化全部对象'}).name"></header>
                <item datasource="instantiatedTypes" text="name"></item>
            </pcombobox-normal>
        </div>
    </div>

    <div class="planCreate_page_con_left_order_level">
        <h4>
            <span>*</span>
            <i>计划频率：</i>
            <em v-if="isquote" v-text='(_.find(sendTypes,{code:addWoPlan.plan_freq_type}) || {}).name'></em>
            <em v-if="isquote" v-text='addWoPlan.freq_num + "次/"+ (_.find(freq_cycleType,{code:addWoPlan.freq_cycle}) || {}).name'></em>
        </h4>
        <div id="orderUrgency" v-if="!isquote">
            <pcombobox-normal bind="true" id="'cbx_id_plan_freq_type'" sel="cbx_sel_plan_freq_type" disabled="(!isterm && isedit) || (isterm && isquote && isedit)">
                <header placeholder="(_.find(sendTypes,{code:addWoPlan.plan_freq_type}) || {}).name"></header>
                <item datasource="sendTypes" text="name"></item>
            </pcombobox-normal>
        </div>
    </div>

    <div class="planCreate_page_con_left_planRate" v-show="addWoPlan.plan_freq_type!='3'">

        <div v-if="!isquote">
            <span>每</span>
            <span v-if="isedit" v-text="(_.find(freq_cycleType,{code:addWoPlan.freq_cycle}) || {}).name"></span>
            <pcombobox-normal v-if="!isedit" id="'cbx_id_freq_cycle'" bind="true" sel="cbx_sel_freq_cycle" >
                <header placeholder="(_.find(freq_cycleType,{code:addWoPlan.freq_cycle}) || {}).name"></header>
                <item datasource="freq_cycleType" text="name"></item>
            </pcombobox-normal>


            <pcombobox-normal bind="true" sel="cbx_sel_freq_num" >
                <header placeholder="(_.find(getCount(addWoPlan.freq_cycle),{code:addWoPlan.freq_num}) || {}).name"></header>
                <item datasource="getCount(addWoPlan.freq_cycle)" text="name"></item>
            </pcombobox-normal>
            <p>次</p>
        </div>
        <span id="planRace_error" class="per-input-basic">
            <div err="" class="error-tip" style="display: block;">
                <i>！</i>
                <em errtext="">请选择计划频率</em>
            </div>
        </span>
        <div v-if="_.isPlainObject(limit)">
            <span>(<template v-if="_.isPlainObject(limit)">两次时间间隔不能的小于 {{limit.num}} {{(_.find(freq_cycleType,{code:limit.unit}) || {}).name}}</template>)</span>
        </div>

        <div v-if="addWoPlan.plan_freq_type == '1'">
            <!-- 年 -->
            <ul class="planCreate_page_con_left_planRateList planCreate_page_con_left_planRateList_year" :class="addWoPlan.freq_cycle=='y'?'indexl':''" v-show="addWoPlan.freq_cycle=='y'">
                <li v-for="(item,index) in addWoPlan.freq_times">
                    <span>第<i v-text="index+1"></i>次要求开始时间和结束时间</span>                         
                    
                    <span v-if="isquote && !is2to1" v-text="fill(item.start_time.time_month,2) + '.'+ fill(item.start_time.time_day,2) + ' '+ fill(item.start_time.time_hour,2)+ ':'+ fill(item.start_time.time_minute,2)+'~'+fill(item.end_time.time_month,2) + '.'+ fill(item.end_time.time_day,2) + ' '+ fill(item.end_time.time_hour,2)+ ':'+ fill(item.end_time.time_minute,2)">
                    </span>
                    <section v-if="!isquote || is2to1">
                        <ptime-form bind='true' :index="index" :class="'StartTime'" sel="TimeStartSel" >
                            <panel startyear="2013" endyear="2022" timeType="Mdhm"></panel>
                        </ptime-form>
                        <i>至</i>
                        <ptime-form bind='true' :index="index" :class="'EndTime'" sel="TimeEndSel" >
                            <panel startyear="2013" endyear="2022" timeType="Mdhm"></panel>
                        </ptime-form>
                    </section>
                    <span class="rc" v-show="compare[index]">开始时间大于等于结束时间</span>                     
                    <span class="rc" v-show="(TimeOverlaps[index] && TimeOverlaps[index].isOverlap) && !ignoreTimeOverlaps[index]">时间设置有重复，可能出现工单重复发送！<em class="bc" @click="handlerClick(index)">忽略</em></span>
                </li>
            </ul>
            <!-- 季 -->
            <ul class="planCreate_page_con_left_planRateList planCreate_page_con_left_planRateList_week" :class="addWoPlan.freq_cycle=='q'?'indexl':''" v-show="addWoPlan.freq_cycle=='q'">
                <li v-for="(item,index) in addWoPlan.freq_times">
                    <span>第
                        <i v-text="index+1"></i>次要求开始时间和结束时间</span>
                        
                    <span v-if="isquote && !is2to1" v-text="(_.find(seasonType,{code:+item.start_time.time_season}) || {}).name + ' '+ fill(item.start_time.time_day,2) + ' '+ fill(item.start_time.time_hour,2)+ ':'+ fill(item.start_time.time_minute,2)+'~'+(_.find(seasonType,{code:+item.end_time.time_season}) || {}).name + ' '+ fill(item.end_time.time_day,2) + ' '+ fill(item.end_time.time_hour,2)+ ':'+ fill(item.end_time.time_minute,2)">
                    </span>
                    <section v-if="!isquote || is2to1">
                        <span>
                            <pcombobox-normal :index="index" :class="'StartSeason'" sel="StartSeasonSel" bind="true" >
                                <header placeholder="'第一个月'"></header>
                                <item datasource="seasonType" text="name"></item>
                            </pcombobox-normal>
                            <ptime-form bind='true' :index="index" :class="'StartTime'" sel="TimeStartSel">
                                <panel startyear="2013" endyear="2022" timeType="dhm"></panel>
                            </ptime-form>
                        </span>
                        <i>至</i>
                        <span>
                            <pcombobox-normal :index="index" :class="'EndSeason'" sel="EndSeasonSel" bind="true" >
                                <header placeholder="'第一个月'"></header>
                                <item datasource="seasonType" text="name"></item>
                            </pcombobox-normal>
                            <ptime-form bind='true' :index="index" :class="'EndTime'" sel="TimeEndSel">
                                <panel startyear="2013" endyear="2022" timeType="dhm"></panel>
                            </ptime-form>
                        </span>
                    </section>
                    <span class="rc" v-show="compare[index]">开始时间大于等于结束时间</span>                     
                    <span class="rc" v-show="(TimeOverlaps[index] && TimeOverlaps[index].isOverlap) && !ignoreTimeOverlaps[index]">时间设置有重复，可能出现工单重复发送！<em class="bc" @click="handlerClick(index)">忽略</em></span>
                </li>
            </ul>
            <!-- 月 -->
            <ul class="planCreate_page_con_left_planRateList planCreate_page_con_left_planRateList_month" :class="addWoPlan.freq_cycle=='m'?'indexl':''" v-show="addWoPlan.freq_cycle=='m'">
                <li v-for="(item,index) in addWoPlan.freq_times">
                    <span>第<i v-text="index+1"></i>次要求开始时间和结束时间</span>
                        
                    <span v-if="isquote && !is2to1" v-text="fill(item.start_time.time_day,2) + ' '+ fill(item.start_time.time_hour,2)+ ':'+ fill(item.start_time.time_minute,2)+'~'+ fill(item.end_time.time_day,2) + ' '+ fill(item.end_time.time_hour,2)+ ':'+ fill(item.end_time.time_minute,2)">
                    </span>
                    <section v-if="!isquote || is2to1">
                        <ptime-form bind='true' :index="index" :class="'StartTime'" sel="TimeStartSel" >
                            <panel startyear="2013" endyear="2022" timeType="dhm"></panel>
                        </ptime-form>     
                        <i>至</i>
                        <ptime-form bind='true' :index="index" :class="'EndTime'" sel="TimeEndSel" >
                            <panel startyear="2013" endyear="2022" timeType="dhm"></panel>
                        </ptime-form>
                    </section>
                    <span class="rc" v-show="compare[index]">开始时间大于等于结束时间</span>                     
                    <span class="rc" v-show="(TimeOverlaps[index] && TimeOverlaps[index].isOverlap) && !ignoreTimeOverlaps[index]">时间设置有重复，可能出现工单重复发送！<em class="bc" @click="handlerClick(index)">忽略</em></span>
                </li>
            </ul>
            <!-- 周 -->
            <ul class="planCreate_page_con_left_planRateList planCreate_page_con_left_planRateList_week" :class="addWoPlan.freq_cycle=='w'?'indexl':''" v-show="addWoPlan.freq_cycle=='w'">
                <li v-for="(item,index) in addWoPlan.freq_times">
                    <span>第<i v-text="index+1"></i>次要求开始时间和结束时间</span>
                    <span v-if="isquote && !is2to1" v-text="(_.find(weekType,{code:+item.start_time.time_week}) || {}).name + ' '+ fill(item.start_time.time_hour,2)+ ':'+ fill(item.start_time.time_minute,2)+'~'+(_.find(weekType,{code:+item.end_time.time_week}) || {}).name + ' '+ fill(item.end_time.time_hour,2)+ ':'+ fill(item.end_time.time_minute,2)"></span>
                    <section v-if="!isquote || is2to1">
                        <span>
                            <pcombobox-normal :index="index" :class="'StartWeek'" sel="StartWeekSel" bind="true" >
                                <header placeholder="'周一'"></header>
                                <item datasource="weekType" text="name"></item>
                            </pcombobox-normal>
                            <ptime-form bind='true' :index="index" :class="'StartTime'" sel="TimeStartSel" >
                                <panel startyear="2013" endyear="2022" timeType="hm"></panel>
                            </ptime-form>

                        </span>
                        <i>至</i>
                        <span>
                            <pcombobox-normal sel="EndWeekSel" :index="index" :class="'EndWeek'" bind="true" >
                                <header placeholder="'周一'"></header>
                                <item datasource="weekType" text="name"></item>
                            </pcombobox-normal>
                            <ptime-form bind='true' :index="index" :class="'EndTime'" sel="TimeEndSel" >
                                <panel startyear="2013" endyear="2022" timeType="hm"></panel>
                            </ptime-form>

                        </span>
                    </section>
                    <span class="rc" v-show="compare[index]">开始时间大于等于结束时间</span>                     
                    <span class="rc" v-show="(TimeOverlaps[index] && TimeOverlaps[index].isOverlap) && !ignoreTimeOverlaps[index]">时间设置有重复，可能出现工单重复发送！<em class="bc" @click="handlerClick(index)">忽略</em></span>
                </li>
            </ul>
            <!-- 日 -->
            <ul class="planCreate_page_con_left_planRateList planCreate_page_con_left_planRateList_day" :class="addWoPlan.freq_cycle=='d'?'indexl':''" v-show="addWoPlan.freq_cycle=='d'">
                <li v-for="(item,index) in addWoPlan.freq_times">
                    <span>第
                        <i v-text="index+1"></i>次要求开始时间和结束时间</span>
                         <span v-if="isquote && !is2to1" v-text="fill(item.start_time.time_hour,2)+ ':'+ fill(item.start_time.time_minute,2)+'~'+fill(item.end_time.time_hour,2)+ ':'+ fill(item.end_time.time_minute,2)">
                    </span>
                    <section v-if="!isquote || is2to1">
                        <ptime-form bind='true' :index="index" :class="'StartTime'" sel="TimeStartSel" >
                            <panel startyear="2013" endyear="2022" timeType="hm"></panel>
                        </ptime-form>
                        <i>至</i>
                        <ptime-form bind='true' :index="index" :class="'EndTime'" sel="TimeEndSel" >
                            <panel startyear="2013" endyear="2022" timeType="hm"></panel>
                        </ptime-form>
                    </section>
                    <span class="rc" v-show="compare[index]">开始时间大于等于结束时间</span>                     
                    <span class="rc" v-show="(TimeOverlaps[index] && TimeOverlaps[index].isOverlap) && !ignoreTimeOverlaps[index]">时间设置有重复，可能出现工单重复发送！<em class="bc" @click="handlerClick(index)">忽略</em></span>
                </li>
            </ul>
        </div>
        <div class="freq_limit" v-if="addWoPlan.plan_freq_type == '2'">
            <span class="freq_limit_s">任两次间隔大于</span>
            <div class="freq_limit_c">
                <ptext-text bind="true" id="'num_id'" value="addWoPlan.freq_limit.num" align="right" >
                    <verify errtip="次数不能为空" verifytype="space"></verify>
                    <verify errtip="只能为整数" verifytype="ZInteger"></verify>
                </ptext-text>
            </div>
            <div class="freq_limit_u">
                <pcombobox-normal bind="true" id="'cycleTypes_id'" sel="cycleTypes_sel" >
                    <header placeholder="(_.find(cycleTypes, { code: addWoPlan.freq_limit.unit }) || {}).name"></header>
                    <item datasource="cycleTypes" text="name"></item>
                </pcombobox-normal>
            </div>
        </div>
    </div>

        <!-- 相对设置 Start  -->  
    <div class="planCreate_page_con_left_planRate" v-show="addWoPlan.plan_freq_type=='3'">
        <div>
            <ul class="xd">
                <li class="item">
                    <div class="b day" v-if="!(isterm && isquote)">
                        <ptext-text bind="true"  id="'relatetiveID'" placeholder="'请输入'" value="addWoPlan.freq_time_span.num" text="(_.find(freq_cycleType,{code:addWoPlan.freq_time_span.unit}) || {name:'天'} ).name">
                                <verify errtip="不可为空"  verifytype="space"></verify>
                                <verify errtip="只能为正整数" verifytype="pisPositiveInt"></verify>
                        </ptext-text>
                    </div>
                    <div class="b text" v-if="isterm && isquote">
                        {{addWoPlan.freq_time_span.num + (_.find(freq_cycleType,{code:addWoPlan.freq_time_span.unit}) || {name:'天'} ).name}}
                    </div>
                    <div class="b text">
                        1次
                    </div>
                </li>
                <li class="item">
                    <div class="b tr f">
                        每次要求开始时间
                    </div>
                    <div class="b tr f" v-if="isterm && isquote">
                        {{addWoPlan.freq_time_span.time_hour}}时{{addWoPlan.freq_time_span.time_minute}}分
                    </div>
                    <div class="b tl f" v-if="!(isterm && isquote)">
                        <ptime-form bind='true' id="'ptiemStartTime'" sel="ptiemStartTime" >
                            <panel startyear="2013" endyear="2022" timeType="hm"></panel>
                        </ptime-form>
                    </div>
                </li>
                <li class="item">
                    <div class="b text">
                        持续
                    </div>
                    <div class="b text" v-if="isterm && isquote">
                        {{addWoPlan.freq_time_span.continue}}小时
                    </div>
                    <div class="b day" v-if="!(isterm && isquote)">
                        <ptext-text bind="true" align="right" id="'conterner'" value="addWoPlan.freq_time_span.continue" text="'小时'" >
                                <verify errtip="持续时间不能为空" verifytype="space"></verify>
                                <verify errtip="只能为正整数" verifytype="pisPositiveInt"></verify>
                        </ptext-text>
                    </div>
                </li>
            </ul>

        </div>

    </div>
    <!-- 相对设置 End    -->
    <div class="planCreate_page_con_left_effectTime" v-show="isterm && addWoPlan.plan_freq_type != 3">
        <h4>计划生效时间：</h4>
        <div>
            <span>起</span>
            <pcombobox-normal id="'cbx_id_plan_start_type'" bind="true" sel="cbx_sel_plan_start_type">
                <header placeholder="(_.find(plan_start_type,{code:addWoPlan.plan_start_type})||{}).name"></header>
                <item datasource="plan_start_type" text="name"></item>
            </pcombobox-normal>
        </div>
        <span class="plan_Time_choice" v-if="addWoPlan.plan_start_type==2">
            <ptime-form id="plan_start_time_id" sel="TimeStartTypeTimeSel">
                <panel startyear="2013" endyear="2022" timeType="yMd"></panel>
            </ptime-form>
        </span>
        <section id="choiceStPlanTimeSt_error" class="per-input-basic">
            <div err="" class="error-tip" style="display: block;">
                <i>！</i>
                <em errtext="">计划开始时间需大于当前时间！</em>
            </div>
        </section>
        <section id="choiceStPlanTime_error" class="per-input-basic">
            <div err="" class="error-tip" style="display: block;">
                <i>！</i>
                <em errtext="">计划编辑后最早选择第二天生效！</em>
            </div>
        </section>
        <div>
            <span>止</span>
            <pcombobox-normal id="'cbx_id_plan_end_type'" bind="true" sel="cbx_sel_plan_end_type">
                <header placeholder="(_.find(plan_end_time_type,{code:addWoPlan.plan_end_type})||{}).name"></header>
                <item datasource="plan_end_time_type" text="name"></item>
            </pcombobox-normal>
        </div>

        <span class="plan_Time_choice" id="plan_endTime" v-if="addWoPlan.plan_end_type==2">
            <ptime-form sel="TimeEndTypeTimeSel">
                <panel startyear="2013" endyear="2022" timeType="yMd"></panel>
            </ptime-form>
        </span>
        <section id="choicePlanTime_error" class="per-input-basic">
            <div err="" class="error-tip" style="display: block;">
                <i>！</i>
                <em errtext="">计划结束时间需大于开始时间</em>
            </div>
        </section>
    </div>

    <div  v-show="isterm && addWoPlan.plan_freq_type == 3" class="planCreate_page_con_left_effectTime">
        <h4>计划生效时间：</h4>
        <div>
            <pcombobox-normal bind="true" sel="cbx_sel_end_time">
                <header placeholder="(_.find(years,{end:addWoPlan.plan_end_time})||{}).name"></header>
                <item datasource="years" text="name"></item>
            </pcombobox-normal>
        </div>
    </div>
</div>
</script>