<% include ../../../template/pageHead.html %>
    <script src="../js/workOrder/planMng/lodash.min.js"></script>
    <script src="../js/workOrder/planMng/public.js"></script>

    <!-- 面包屑导航样式 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/sitemap.css">

    <!-- 集团管理公用 -->
    <script src="../js/workOrder/planMng/group/controller.js"></script>
    <script src="../js/workOrder/planMng/group/event.js"></script>
    <script src="../js/workOrder/planMng/group/model.js"></script>

    <!-- 计划管理公用JS -->
    <script src="../js/workOrder/planMng/term/controller.js"></script>
    <!-- 计划管理公用样式 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/term/public.css">

    <!-- 创建/编辑计划  -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/createPlan/planCreate.css">
    <link rel="stylesheet" href="../css/workOrder/planMng/group/createPlan/see_orderDetail.css">
    <script src="../js/workOrder/planMng/createPlan/controller.js"></script>
    <script src="../js/workOrder/planMng/createPlan/event.js"></script>
    <script src="../js/workOrder/planMng/createPlan/model.js"></script>

    <!-- 创建计划预览 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/createPlan/planCreate_next.css">
    <link rel="stylesheet" href="../css/workOrder/planMng/group/createPlan/myWorkOrderCreate.css">
    <script src="../js/workOrder/planMng/createPlanLook/event.js"></script>
    <script src="../js/workOrder/planMng/createPlanLook/model.js"></script>

    <!-- 计划监控 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/monitoringPlan.css">
    <script src="../js/workOrder/planMng/monitoringPlan/event.js"></script>
    <script src="../js/workOrder/planMng/monitoringPlan/model.js"></script>

    <!-- 集团计划首页 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/grouphome.css">
    <script src="../js/workOrder/planMng/grouphome/event.js"></script>
    <script src="../js/workOrder/planMng/grouphome/model.js"></script>

    <!-- 工单管理 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/workOrderList.css">
    <script src="../js/workOrder/planMng/workOrderList/event.js"></script>
    <script src="../js/workOrder/planMng/workOrderList/model.js"></script>

    <!-- 面包屑导航组件 -->
    <%include ./sitemap.html %>

        <!-- 创建计划左侧组件 -->
        <%include ./baseInfomation.html %>
            <script src="/js/workOrder/planMng/baseInfomation/model.js"></script>

            <!--  创建的计划每个事项 Start -->

            <!-- 创建计划标准操作弹窗 -->
            <%include ./hashtag.html %>
                <!-- <link rel="stylesheet" href="/css/workOrder/planMng/group/hashtag.css"> -->
                <script src="/js/workOrder/planMng/hashtag/controller.js"></script>
                <script src="/js/workOrder/planMng/hashtag/model.js"></script>

                <!-- 创建计划@弹窗 -->
                <%include ./aite.html %>
                    <link rel="stylesheet" href="/css/workOrder/planMng/group/aite.css">
                    <script src="/js/workOrder/planMng/aite/controller.js"></script>
                    <script src="/js/workOrder/planMng/aite/model.js"></script>

                    <!-- 添加信息点弹窗 -->
                    <%include ./point.html %>
                        <link rel="stylesheet" href="/css/workOrder/planMng/group/point.css">
                        <script src="/js/workOrder/planMng/point/model.js"></script>

                        <!--  添加对象和信息点  -->
                        <%include ./addinfo.html %>
                            <link rel="stylesheet" href="/css/workOrder/planMng/group/addinfo.css">
                            <script src="/js/workOrder/planMng/addinfo/controller.js"></script>
                            <script src="/js/workOrder/planMng/addinfo/model.js"></script>

                            <!-- 编辑信息点弹窗 -->
                            <%include ./idepoint.html %>
                                <link rel="stylesheet" href="/css/workOrder/planMng/group/idepoint.css">
                                <script src="/js/workOrder/planMng/idepoint/model.js"></script>

                                <!-- 添加工作内容弹窗 -->
                                <%include ./addcontent.html %>
                                    <script src="/js/workOrder/planMng/addcontent/controller.js"></script>
                                    <script src="/js/workOrder/planMng/addcontent/model.js"></script>

                                    <!-- 创建计划@弹窗 -->
                                    <%include ./matter.html %>
                                        <!-- <link rel="stylesheet" href="/css/workOrder/planMng/group/matter.css"> -->
                                        <script src="/js/workOrder/planMng/matter/controller.js"></script>
                                        <script src="/js/workOrder/planMng/matter/model.js"></script>

                                        <!--  创建的计划每个事项 End -->

                                        <ploading-part id='globalloading' text="加载中..."></ploading-part>
                                        <pnotice-message id='globalnotice'></pnotice-message>

                                        <div id="app">
                                            <!-- 工单列表 -->
                                            <%include ./workOrderList.html %>

                                                <!-- 项目计划监控 -->
                                                <%include ./grouphome.html %>
                                                    <!-- 项目计划监控 -->
                                                    <%include ./monitoringPlan.html %>
                                                        <!-- 创建计划  -->
                                                        <%include ./planCreate.html %>
                                                            <!-- 预览计划 -->
                                                            <%include ./planCreate_next.html %>

                                                                <!-- 工单详情 -->
                                                                <% include ./workOrderDetail.html %>

                                                                    <!-- 计划详情 -->
                                                                    <% include ./planInformation.html %>

                                        </div>


                                        <% include ../../../template/pageFoot.html %>