<% include ../../../template/pageHead.html %>
    <script src="../js/workOrder/planMng/lodash.min.js"></script>
    <script src="../js/workOrder/planMng/public.js"></script>

    <!-- 面包屑导航样式 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/sitemap.css">

    <!-- 集团管理公用 -->
    <script src="../js/workOrder/planMng/group/controller.js"></script>
    <script src="../js/workOrder/planMng/group/event.js"></script>
    <script src="../js/workOrder/planMng/group/model.js"></script>

    <!-- 计划管理公用JS -->
    <script src="../js/workOrder/planMng/term/controller.js"></script>
    <!-- 计划管理公用样式 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/term/public.css">

    <!-- 创建/编辑计划  -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/createPlan/planCreate.css">
    <link rel="stylesheet" href="../css/workOrder/planMng/group/createPlan/see_orderDetail.css">
    <script src="../js/workOrder/planMng/createPlan/controller.js"></script>
    <script src="../js/workOrder/planMng/createPlan/event.js"></script>
    <script src="../js/workOrder/planMng/createPlan/model.js"></script>

    <!-- 创建计划预览 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/createPlan/planCreate_next.css">
    <link rel="stylesheet" href="../css/workOrder/planMng/group/createPlan/myWorkOrderCreate.css">
    <script src="../js/workOrder/planMng/createPlanLook/event.js"></script>
    <script src="../js/workOrder/planMng/createPlanLook/model.js"></script>

    <!-- 计划监控 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/monitoringPlan.css">
    <script src="../js/workOrder/planMng/monitoringPlan/event.js"></script>
    <script src="../js/workOrder/planMng/monitoringPlan/model.js"></script>

    <!-- 集团计划首页 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/grouphome.css">
    <script src="../js/workOrder/planMng/grouphome/event.js"></script>
    <script src="../js/workOrder/planMng/grouphome/model.js"></script>

    <!-- 工单管理 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/workOrderList.css">
    <script src="../js/workOrder/planMng/workOrderList/event.js"></script>
    <script src="../js/workOrder/planMng/workOrderList/model.js"></script>

    <!-- 面包屑导航组件 -->
    <%include ./sitemap.html %>

        <!-- 创建计划左侧组件 -->
        <%include ./baseInfomation.html %>
            <script src="/js/workOrder/planMng/baseInfomation/model.js"></script>

            <!--  创建的计划每个事项 Start -->
            <script src="../js/eventMng/addwork/controller.js"></script>
            <link rel="stylesheet" href="/css/workOrder/planMng/group/addinfo.css">
            <link rel="stylesheet" href="/css/workOrder/planMng/group/aite.css">
            <link rel="stylesheet" href="/css/workOrder/planMng/group/hashtag.css">
            <link rel="stylesheet" href="/css/workOrder/planMng/group/addcontent.css">
            <link rel="stylesheet" href="/css/workOrder/planMng/group/point.css">
            <link rel="stylesheet" href="/css/workOrder/planMng/group/matter.css">
            <% include ../../eventMng/matter.html %>
                <% include ../../eventMng/aite.html %>
                    <%include ../../eventMng/hashtag.html %>
                        <%include ../../eventMng/addcontent.html %>
                            <%include ../../eventMng/addinfo.html %>
                                <%include ../../eventMng/point.html %>
                                    <%include ../../eventMng/Multiple.html %>

                                        <!--  创建的计划每个事项 End -->

                                        <ploading-part id='globalloading' text="加载中..."></ploading-part>
                                        <pnotice-message id='globalnotice'></pnotice-message>

                                        <div id="app">
                                            <!-- 工单列表 -->
                                            <%include ./workOrderList.html %>

                                                <!-- 项目计划监控 -->
                                                <%include ./grouphome.html %>
                                                    <!-- 项目计划监控 -->
                                                    <%include ./monitoringPlan.html %>
                                                        <!-- 创建计划  -->
                                                        <%include ./planCreate.html %>
                                                            <!-- 预览计划 -->
                                                            <%include ./planCreate_next.html %>

                                                                <!-- 工单详情 -->
                                                                <% include ./workOrderDetailHead.html %>

                                                                    <!-- 计划详情 -->
                                                                    <% include ./planInformation.html %>

                                                                        <pwindow-modal id="modalWindow" title="选择项目" templateid="windowTemp1"></pwindow-modal>
                                                                        <pwindow-global id="globalWindow" templateid="ct"></pwindow-global>

                                        </div>

                                        <script type="text/html" id="windowTemp1">
                                                    <div class="toP">
                                                        <div class="tc">
                                                            <div class="ti"@click="submitToProjectAllBtn">
                                                                <span class="titxt">项目名称</span>
                                                                <span class="c">
                                                                    <div class="pcheckbox">
                                                                        <span class="pcheckbox_input" :class="(IssueProjectList.length==_.filter(IssueProjectList,{selected:true}).length && IssueProjectList.length)?'pcheckbox-checked':''"></span>
                                                                        <span class="pswitch_label"></span>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="ti" v-for="(item,index) in IssueProjectList" @click="item.selected=!item.selected">
                                                                <span class="titxt" :title="item.project_name" v-text="item.project_name"></span>
                                                                <span class="c">
                                                                    <div class="pcheckbox">
                                                                        <span class="pcheckbox_input" :class="item.selected?'pcheckbox-checked':''"></span>
                                                                        <span class="pswitch_label"></span>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="tb">
                                                            <span class="btn" @click.capture="$('#modalWindow').phide();submitToProject();">
                                                                <pbutton-blue text="下发"></pbutton-blue>
                                                            </span>
                                                            <span class="btn" @click.capture="$('#modalWindow').phide();">
                                                                <pbutton-white text="取消"></pbutton-white>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </script>

                                                <script type="text/html" id="ct">
                                                    <div class="ctt">
                                                        <div class="tn">
                                                            请设置计划生效时间
                                                        </div>
                                                        <div class="ct">
                                                            <div v-if="toProjectArgu.plan_freq_type==3">
                                                                <pcombobox-normal sel="xfyearClick" align="left" orientation="down" bind="true">
                                                                    <header  placeholder="(_.find(xfyear,{plan_end_time:toProjectArgu.plan_end_time}) || {name:new Date().getFullYear()+'年'}).name"></header>
                                                                    <item datasource="xfyear" text="name" ></item>
                                                                </pcombobox-normal>
                                                            </div>
                                                            <div v-if="toProjectArgu.plan_freq_type==1">起
                                                                <pcombobox-normal sel="xfstartTimesClick" align="left" orientation="down" bind="true">
                                                                    <header  placeholder="(_.find(xfstartTimes,{code:toProjectArgu.plan_start_type}) || {name:'下发成功后第二天生效'}).name"></header>
                                                                    <item datasource="xfstartTimes" text="name" ></item>
                                                                </pcombobox-normal>
                                                            </div>
                                                            <div v-if="toProjectArgu.plan_freq_type==1 && toProjectArgu.plan_start_type==2">
                                                                    &nbsp;     &nbsp;     &nbsp;
                                                                <ptime-form id="xfstartTimesPtimeid" sel="xfstartTimesPtime">
                                                                    <panel timetype="yMd" startyear="2018" endyear="2025"></panel>
                                                                 </ptime-form>
                                                            </div>
                                                            <div v-if="toProjectArgu.plan_freq_type==1">止
                                                                <pcombobox-normal sel="xfendTimesClick" id="'xxx'" align="left" orientation="down" bind="true">
                                                                        <header  placeholder="!toProjectArgu.plan_end_time.length?'一直有效':'自定义'"></header>
                                                                    <item datasource="xfendTimes" text="name" ></item>
                                                                </pcombobox-normal>
                                                            </div>
                                                            <div v-if="toProjectArgu.plan_freq_type==1 && toProjectArgu.plan_end_time.length">
                                                                    &nbsp;     &nbsp;     &nbsp;
                                                                <ptime-form id="xfendTimesPtimeid" sel="xfendTimesPtime">
                                                                    <panel timetype="yMd" startyear="2018" endyear="2025"></panel>
                                                                 </ptime-form>
                                                            </div>
                                                        </div>
                                                        <div class="cb">
                                                            <pbutton-blue text="确定" @click="submitClick();$('#globalWindow').phide()"></pbutton-blue>
                                                            <pbutton-white text="取消" @click="$('#globalWindow').phide()"></pbutton-white>
                                                        </div>
                                                    </div>
                                                </script>


                                        <pwindow-confirm id="createSuccessFul">
                                            <button>
                                                <pbutton-blue text="确定" click="toProject();$('#createSuccessFul').phide()"></pbutton-blue>
                                                <pbutton-white text="取消" click="$('#createSuccessFul').phide()"></pbutton-white>
                                            </button>
                                        </pwindow-confirm>


                                        <% include ../../../template/pageFoot.html %>