<script type="text/html" id="hashtag">
<div class="hashtag-bubble" v-show="isShow" @click.stop="void 0" :class="{'click-aite':true}">
    <div class="all-hashtag">
        <div class="hashtag-sop">
            <div class="sop-header">
                <span>选择标准操作</span>
                <div class="sop-header-btn sopHeaderBtns">
                    <span v-show="!filter"  @click="filter=true">筛选</span>
                    <span v-show="filter" @click="filter=false">收起</span>
                </div>
            </div>
            <div class="sop-body">
                <div class="sop-list" v-show="SopList.length">
                    <div class="aite-list" v-for="(model,index) in SopList" @click="model.selected=!model.selected" :index="'index'" :title="'model.sop_name'">
                        <div>
                         
                            <span>
                                <em v-for="charObj in model.sop_name_arr" v-text="charObj.char" :class="charObj.mark ? 'redMark' : ''"></em>
                            </span>

                            <div :id="model.sop_id" class="pcheckbox">
                                <span class="pcheckbox_input" :class="model.selected ? 'pcheckbox-checked' : ''"></span>
                                <span class="pswitch_label"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--搜索无结果-->
                <div class="sop-nodata" v-show="onBlock=='Search' && !SopList.length">
                    <pnotice-nodata text="暂无数据" subtitle="哎呀，什么都没有找到！" icon="../images/sassNodata.png"></pnotice-nodata>
                </div>
                <div class="sop-nodata" v-show="onBlock=='index' && !SopList.length">
                    <pnotice-nodata text="暂无推荐" subtitle="请搜索您需要的标准操作" icon="../images/sassNodata.png"></pnotice-nodata>
                </div>
                <!--loading-->
                <ploading-part data-loading="hashPopLoading" text="加载中..."></ploading-part>
            </div>
            <div class="sop-footer" @click.capture="submit()">
                <pbutton-blue text="确定" id="able-btn"></pbutton-blue>
            </div>
        </div>
        <div class="hashtag-filter" v-show="filter">
            <div class="sop-header">
                <span>筛选条件</span>
                <div class="sop-header-btn">
                    <span @click='clearSelect()'>清空已选</span>
                    <span @click='submitSelect()'>确定</span>
                </div>
            </div>
            <div class="filter-body">
                <div class="filter-box">
                    <div class="filter-div" v-show="criteria.brands.length">
                        <div class="filter-type">
                            <span>品牌:</span>
                        </div>
                        <div class="filter-name">
                            <div class="filter-all" @click="selectedAll(criteria.brands)">
                                <span class="all_brands sel-all" :class="va(criteria.brands)?'sel-span':''">全部</span>
                            </div>
                            <div class="filter-other">
                                <span v-for="(item,index) in criteria.brands" v-text="item.name" :title="item.name" @click="item.selected=!item.selected" :class="(item.selected ) ? 'sel-span' : ''"></span>
                            </div>

                        </div>
                    </div>
                    <div class="filter-div" v-show="criteria.order_type.length">
                        <div class="filter-type">
                            <span>工单类型:</span>
                        </div>
                        <div class="filter-name">
                            <div class="filter-all" @click="selectedAll(criteria.order_type)">
                                <span class="all_order_type sel-all" :class="va(criteria.order_type)?'sel-span':''">全部</span>
                            </div>
                            <div class="filter-other">
                                <span v-for="(item,index) in criteria.order_type" v-text="item.name" @click="item.selected=!item.selected" :title="item.name" :class="(item.selected  ) ? 'sel-span' : ''"></span>
                            </div>

                        </div>
                    </div>
                    <div class="filter-div" v-show="criteria.fit_objs.length">
                        <div class="filter-type">
                            <span>适用对象:</span>
                        </div>
                        <div class="filter-name">
                            <div class="filter-all" @click="selectedAll(criteria.fit_objs)">
                                <span class="all_fit_objs sel-all" :class="va(criteria.fit_objs)?'sel-span':''">全部</span>
                            </div>
                            <div class="filter-other">
                              
                                <span v-for="(item,index) in criteria.fit_objs" v-text="item.name" @click="item.selected=!item.selected" :title="item.name" :class="(item.selected ) ? 'sel-span' : ''"></span>
                            </div>

                        </div>
                    </div>
                    <div class="filter-div" v-show="criteria.labels.length">
                        <div class="filter-type">
                            <span>自定义:</span>
                        </div>
                        <div class="filter-name">
                            <div class="filter-all" @click="selectedAll(criteria.labels)">
                                <span class="all_labels sel-all" :class="va(criteria.labels)?'sel-span':''">全部</span>
                            </div>
                            <div class="filter-other">
                                <span v-for="(item,index) in criteria.labels" v-text="item.name" @click="item.selected=!item.selected" :title="item.name" :class="(item.selected ) ? 'sel-span' : ''"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</script>