<script type="text/html" id="matter">
    <div class="matter-kind leo">
        <div class="matter-all">
            <div class="matter-title">
                <div class="matter-title-div">
                    <input type="text" maxlength="100" v-model="matter.matter_name" placeholder="请输入事项名称" class="matter-name"/>
                    <span class="counter">
                        <b v-text="matter.matter_name.length"></b>/100</span>
                </div>
            </div>
            <div class="matter-content">

                <!-- 对象 和 标准流程 Start -->
                <div class="matter-regular">
                    <div class="regular-text-div">
                        <div class="regular-obj-text">
                            <div class="textarea-div">
                                <span>我要对</span>
                                <div>
                                    <!-- <textarea v-model="model.desc_forepart" placeholder="例如：@消防水泵" :class="{'textareaError':model.desc_aftpart.length+model.desc_forepart.length>1000 && model.desc_forepart.length>0}"
                                            :maxlength="1000 - model.desc_aftpart.length" @keydown="publicMethod.keydownMatterContent(model, index0, $event, 2)"
                                            @input="publicMethod.changeMatterContent(model, index0, $event, null, null, null, 2)"></textarea> -->
                                    <textarea placeholder="例如：@消防水泵" :class="{'textareaError':false}" v-model="matter.desc_forepart" maxlength="1000"></textarea>
                                    <div class="textareadiv"></div>

                                    <aite :str="desc_str" :cb="getObj" ref="aite" v-if="desc_str"></aite>

                                    
                                </div>
                            </div>
                            <div class="add-obj-sop-content">
                                <div class="add-obj" :class="desc_str?'eleDisable':''" @click.stop="desc_str='@'">
                                    <span>@添加对象</span>
                                </div>
                            </div>
                        </div>
                        <div class="regular-sop-text">
                            <div class="textarea-div">
                                <span>进行</span>
                                <div>
                                    <textarea placeholder="例如：#季度维保" :class="{'textareaError':false}" v-model="matter.desc_aftpart" :maxlength="1000"></textarea>
                                    <div class="textareadiv"></div>
                                    <aite :str="desc_sop_str" ref="aite" :cb="getSOPObj" v-if="desc_sop_str"></aite>
                                    <hashtag :str="desc_sop_c_str" :order_type="2" :desc_objs="matter.desc_objs" :cb="getSOPObj" ref="hashtag" v-if="desc_sop_c_str"></hashtag>
                                    <addcontent v-if="addcontent" :cb="workContent" ref="workContent"></addcontent>
                                </div>
                            </div>
                            <div class="add-obj-sop-content">
                                <div class="add-obj" :class="desc_sop_c_str?'eleDisable':''" @click.stop="desc_sop_c_str='#'">
                                    <span>#添加标准操作</span>
                                </div>
                                <div class="add-content" @click="addcontent=true">
                                    <span>添加工作内容</span>
                                </div>
                            </div>
                            <span class="counter">
                                <b v-text="matter.desc_aftpart.length"></b>/1000</span>
                        </div>
                    </div>
                </div>
                <!-- 对象 和标准流程  End   -->

                <div class="checkbox-del-div">
                    <div class="checkbox-div" v-for="(item,index) in GeneralDictByKey" @click="item.selected=!item.selected">
                        <!-- <div class="pcheckbox eleDisable"> -->
                        <div class="pcheckbox" :class="item.disabled?'eleDisable':''">
                            <span class="pcheckbox_input" :class="item.selected ? 'pcheckbox-checked' : ''"></span>
                            <span class="pswitch_label" :title="item.name" v-text="item.name"></span>
                        </div>
                    </div>
                    <!--<div class="del-div" @click="publicMethod.deleteMatter(index0,$event)">-->
                    <!-- <div class="del-div" > -->
                    <div class="del-div">
                        <em>p</em>
                        <span>删除该事项</span>
                    </div>
                </div>
            </div>
            <div class="matter-error">
                <div class="error error-test" v-show="views.isSpace">
                    <div>
                        <em>!</em>
                        <span>事项名称不可为空</span>
                    </div>
                </div>
                <div class="error error-test"  v-show="views.isRepeat">
                    <div>
                        <em>!</em>
                        <span>同一张工单内的事项名称不可重复</span>
                    </div>
                </div>
                <div class="error error-test" v-show="views.isDescForepartSpace">
                    <div>
                        <em>!</em>
                        <span>事项内容不可为空</span>
                    </div>
                </div>
                <!-- <template v-for="(item, errIndex) in model.unMatchedSopList"> -->
                <template v-for="(v,index) in views.verify">
                    <div class="error error-match" v-show="!v.selected">
                        <div>
                            <em>!</em>
                            <span v-text="v.obj_name"></span>与
                            <span v-text="v.sop_name"></span>的适用对象不匹配，请检查
                        </div>
                        <!-- <div class="ignore" > -->
                        <div class="ignore" @click=v.selected=true>
                            <span>忽略</span>
                        </div>
                    </div>
                </template>
                <!-- <template v-for="(item, errIndex) in model.invalidObjList"> -->
                <template v-for="(item, errIndex) in views.sopeds" v-show="!item.selected">
                    <div class="error error-invalid" v-show="!item.selected">
                        <div>
                            <em>!</em>添加的
                            <span v-text="item.sop_name"></span>过期
                        </div>
                        <!-- <div class="ignore" > -->
                        <div class="ignore" @click="item.selected=true">
                            <span>忽略</span>
                        </div>
                    </div>
                </template>

            </div>
        </div>
    </div>
</script>