<div class="monitoring_plan" v-show="onPage=='monitoringPlan'">
    <div class="main">
        <div class="content">

            <div class="header">
                <!-- 面包屑导航Start -->
                <sitemap :maps='paths.path' :createsitemap='gobackSelPath' :back='gobackLastPath' />
                <!-- 面包屑导航End -->
            </div>

            <div class="contenter">

                <!-- 搜索面板Start  -->
                <div class="search_view">
                    <!-- <span class="font">项目是否引用集团计划：</span> -->
                    <!-- <div class="cbx">
                        <pcombobox-normal sel="">
                            <header placeholder="全部"></header>
                            <item datasource="[]" text="name"></item>
                        </pcombobox-normal>
                    </div> -->
                    <span class="font">项目是否更新集团计划：</span>
                    <div class="cbx comboMark" @click.capture="fakerClick(event)">
                        <pcombobox-normal sel="createGroupOrderGrid" bind="true" id="'isUpdateGroupPlan'">
                            <header placeholder="'全部'"></header>
                            <item datasource="isUpdateGPWO" text="name" id="id"></item>
                        </pcombobox-normal>
                    </div>
                    <span class="font">发单时间：</span>
                    <div class="cbx">
                        <ptime-calendar id="divCalendar" orientation="down" sel="selOrderTime">
                            <panel timetype="M" align="left" double="false" commontime="['M','pM']"></panel>
                        </ptime-calendar>
                    </div>
                    <span class="font">计划频率</span>
                    <div class="timetype">
                        <div class="item" v-for="model in fiveFreq" v-text="model.name" :class="{'on':model.sel}" @click="selGroupFreq(model)"></div>
                    </div>
                </div>
                <!-- 搜索面板End  -->

                <!-- 状态栏 Start -->
                <div class="status_view">
                    集团维保计划

                    <span class="total_count">
                        目前有{{notCitePlanList.length}}个项目未引用该计划
                        <div class="hoverList">
                            <div>未引用集团计划项目</div>
                            <ul>
                                <ploading-part id='unUseGPProLoading' text="加载中..."></ploading-part>
                                <pscroll-small templateid="monitoringPlanTem"></pscroll-small>
                            </ul>
                        </div>
                    </span>

                    <!-- icon Start -->
                    <div class="icons clear">
                        <div>
                            <div></div>
                            <span>下次待发出工单</span>
                        </div>
                        <div v-for="item in allOrderState">
                            <img :src="'../../../../images/orderState/' + item.code + '.png'" alt="">
                            <span v-text="item.name"></span>
                        </div>
                    </div>
                    <!-- icon End   -->

                </div>
                <!-- 状态栏 End -->

                <!-- 表头 Start -->
                <div class="t_header">
                    <div class="header_name">
                        项目名称
                    </div>
                    <div class="header_name">
                        是否更新集团计划
                    </div>
                    <div class="header_name">
                        发单总数
                    </div>
                    <div class="header_name">
                        未发出
                    </div>
                    <div class="header_name">
                        执行中
                    </div>
                    <div class="header_name">
                        已完成
                    </div>
                    <div class="month_title">
                        <div class="row" v-text="timeData.month" id="monitoringWidth">八月</div>
                        <ul class="row">
                            <li class="item" v-for="item in timeData.day" v-text="item"></li>
                        </ul>
                    </div>
                </div>
                <!-- 表头 End -->

                <!-- 表体 Start -->
                <div class="t_bodyer">
                    
                    <ploading-part id='moniPlanLoading' text="加载中..."></ploading-part>

                    <!-- 行 Start -->
                    <template v-for="item in monitoringGrid">

                        <div class="line">

                            <div class="body_name" v-text="item.project_name" :title="item.project_name" @click="openPlanDetail(item)"></div>
                            <div class="body_name" v-text="item.is_update_group_plan == 1 ? '已更新' : '未更新'" :title="item.is_update_group_plan == 1 ? '已更新' : '未更新'"></div>
                            <div class="body_name pointer" @click.stop="queryOrderManage(item.plan_id,'',item.project_id)" v-text="item.create_wo_total" :title="item.create_wo_total"></div>
                            <div class="body_name" v-text="item.uncreate_wo_total" :title="item.uncreate_wo_total"></div>
                            <div class="body_name pointer" @click.stop="queryOrderManage(item.plan_id,'5',item.project_id)" v-text="item.executing_wo_total" :title="item.executing_wo_total"></div>
                            <div class="body_name pointer" @click.stop="queryOrderManage(item.plan_id,'8',item.project_id)" v-text="item.finished_wo_total" :title="item.finished_wo_total"></div>

                            <ul class="row">
                                <li v-for="row in item.grid" class="item">
                                    <div v-for="(grid,ind) in row" :style="{'flex':grid.width}" :title="(_.find(allOrderState,{code:grid.type}) || {}).name">
                                        <div v-if="grid.type != 'none'" class="pointer" @click="openWorkOrderDetail(grid.id,'workOrderDetailHead','工单详情')">
                                            <div v-show="grid.type == ''"></div>
                                            <img v-show="grid.type != ''" :src=" '../../../../images/orderState/' + grid.type + '.png'" alt="">
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>

                    </template>
                    <!-- 行 End -->

                </div>
                <!-- 表体 End -->
            </div>
        </div>
    </div>
</div>



<script type="text/html" id="monitoringPlanTem">
    <li class="MT" v-for="item in notCitePlanList" v-text="item.project_name" :title="item.project_name"></li>
</script>