<script src="../js/workOrder/planMng/planManage/controller.js"></script>
<script src="../js/workOrder/planMng/planManage/model.js"></script>
<script src="../js/workOrder/planMng/planManage/event.js"></script>

<link rel="stylesheet" href="../css/workOrder/planMng/term/planManage.css">

<div id="planManage" v-show="onPage == 'planManage'">

    <div class="head">

        <div class="plantype comboMark" @click.capture="fakerClick(event)">
            <!-- <pcombobox-normal id="'planTypeCombo'" sel="refreshRenderPMGrid(false)" bind="true"> -->
            <pcombobox-normal id="'planTypeCombo'" sel="planManageSt('planTypeCombo')" bind="true">
                <header placeholder="'全部'"></header>
                <item datasource="allPlanType" text="name" id="code"></item>
            </pcombobox-normal>
        </div>
        <div class="planSource comboMark" @click.capture="fakerClick(event)">
            <!-- <pcombobox-normal id="'planSourceCombo'" sel="refreshRenderPMGrid(false)" bind="true"> -->
            <pcombobox-normal id="'planSourceCombo'" sel="planManageSt('planSourceCombo')" bind="true">
                <header placeholder="'全部'"></header>
                <item datasource="allPlanSource" text="name" id="id"></item>
            </pcombobox-normal>
        </div>
        <div class="other">发单时间</div>
        
        <div class="time">
            <ptime-calendar id="planTypeTime" orientation="down" sel="planTypeTimeSel">
                <panel timetype="M" align="left" double="false" iscommontime="false"></panel>
            </ptime-calendar>
        </div>

        <div class="search">
            <psearch-delay id="'planKeyword'" bind="true" change="refreshRenderPMGrid(false)" placeholder="'输入计划名称查找'"></psearch-delay>
        </div>
        
        <% if(user.authorObj.groupPlan){ %>
        <div class="box">
            <pbutton-blue bind="true" text="'集团计划(' + groupPlanUse.unUse + '/' + groupPlanUse.total + ')'" @click="openGroupModule"></pbutton-blue>
        </div>
        <% } %>

        <div class="box">
            <pbutton-white text="已作废计划" @click="lookDiscardGroupPlan"></pbutton-white>
        </div>

        <% if(user.authorObj.customPlan){ %>
            <div class="box">
                <pbutton-white text="自定义计划" @click="createTermPlan"></pbutton-white>
            </div>
        <% } %>

    </div>

    <div class="body" id="countHT">

        <!-- 表头Start -->
        <div class="head" id="countHH">

            <div class="top clear">
                <div class="text black3">计划频率</div>
                <div class="tab">
                    <div v-for="item in allFreq" @click="changePlanFreq(item)" :class="{'sel':item.sel}" v-text="item.name"></div>
                </div>
                <div class="icon clear">
                    <div>
                        <div></div>
                        <span>下次待发出工单</span>
                    </div>
                    <div v-for="item in allOrderState">
                        <img :src="'../../../../images/orderState/' + item.code + '.png'" alt="">
                        <span v-text="item.name"></span>
                    </div>
                </div>
            </div>

            <!-- 时间窗Start -->
            <div class="bottom">

                <div class="name gray">计划名称</div>
                <div class="period gray">计划周期</div>
                <div class="time" id="getCellWidth">

                    <div>

                        <!-- <div class="lastMonth grayblue" :style="{width:dateData.lastMonth.width+'px'}" @click="changeMonth('last')">{{dateData.lastMonth.name}}</div>
                        <div class="thisMonth grayblue" :style="{width:dateData.thisMonth.width+'px'}">{{dateData.thisMonth.name}}</div>
                        <div class="nextMonth grayblue" :style="{width:dateData.nextMonth.width+'px'}" @click="changeMonth('next')">{{dateData.nextMonth.name}}</div> -->

                        <div class="thissMonth grayblue" v-text="dateData.month"></div>

                    </div>

                    <div>
                        <div class="day" v-for="(item,index) in dateData.day" :style="{width:index == dateData.day.length - 1 ? dateData.cell - 1 + 'px' : dateData.cell + 'px'}" v-text="item"></div>
                        <!-- <div class="day" v-for="(item,index) in dateData.day" :style="{width:index == dateData.day.length - 1 ? dateData.width - 1 + 'px' : dateData.width + 'px'}" v-text="item"></div> -->
                    </div>


                </div>
            </div>
            <!-- 时间窗End -->

        </div>
        <!-- 表头End -->

        <!-- 表格Start -->
        <div class="body" :style="{'height':residueHeight - 131 + 'px'}">
            <ploading-part id="planManagePartLoading"></ploading-part>
            <ul class="faker" v-show="planData.length == 0">
                <pnotice-nodata text="暂无数据" subtitle=""></pnotice-nodata>
            </ul>
            <ul class="grid clear" v-show="planData.length" :style="{'max-height':residueHeight - 131 + 'px'}">
                <pscroll-small id="planMngScroll" templateid="planManageList" scroll="planMngScroll(event)"></pscroll-small>
            </ul>
        </div>
        <!-- 表格End -->

    </div>
</div>

<script type="text/html" id="planManageList">

        
    <li class="row clear" v-for="(item,index) in planData">
    
        <div class="name grayblue MT" :style="{'height':item.grid.length*60 - 1 + 'px','line-height':item.grid.length*60 - 1 + 'px'}" @click="openPlanDetail(item)">
            <span v-text="item.plan_name" :title="item.plan_name"></span>
            <div class="warn1 bottom" v-if="item.plan_from == 1" v-show="item.plan_update_status == 0">已引用集团计划</div>
            <div class="warn2 bottom" v-if="item.plan_from == 1" v-show="item.plan_update_status == 1">已引用集团计划，集团计划已修改</div>
            <div class="warn5 top" v-if="item.remind_type == 2"></div>
            <div class="warn6 top" v-if="item.remind_type == 3"></div>
            <div class="warn3 top" v-if="item.remind_type == 2">即将失效</div>
            <div class="warn4 top" v-if="item.remind_type == 3">已经到达失效时间</div>
        </div>
        
        <div class="period black3 MT" :style="{height:item.grid.length*60 - 1 + 'px','line-height':item.grid.length*60 - 1 + 'px'}"
        v-text="item.plan_freq_type == 3 ? (item.freq_time_span.num + transfYMWD(item.freq_time_span.unit) + '1次') : item.freq_cycle_desc"  
        :title="item.plan_freq_type == 3 ? (item.freq_time_span.num + transfYMWD(item.freq_time_span.unit) + '1次') : item.freq_cycle_desc"></div>
        
        <div class="state">
            <div v-for="(model,times) in item.grid">
                <div v-for="(box,boxIndex) in model" :style="{width:box.width+'px'}">
                    <div v-if="box.type != null" @click="openWorkOrderDetail(box.id,'workOrderDetailHead','工单详情')">
                        <div v-show="box.type == ''"></div>
                        <img v-show="box.type != ''" :src=" '../../../../images/orderState/' + box.type + '.png'" alt="">
                    </div>
                </div>
            </div>
        </div>

    </li>
    
</script>