<!-- <script src="../js/workOrder/planMng/planManage/controller.js"></script> -->
<script src="../js/workOrder/planMng/planInformation/model.js"></script>
<script src="../js/workOrder/planMng/planInformation/event.js"></script>
<script src="../js/workOrder/planMng/iconfont.js"></script>
<link rel="stylesheet" href="../css/workOrder/planMng/term/planInformation.css">

<div id="planInformation" v-show="onPage == 'planInformation'">

    <div class="head">

        <div class="path">
            <sitemap :maps='paths.path' :createsitemap='gobackSelPath' :back='gobackLastPath' />
        </div>

        <!-- <div class="name MT" v-text="planInfo.group_plan_name" :title="planInfo.group_plan_name" v-if="cache.planType === 'group' || cache.planType === 'groupD'"></div> -->

        <div class="operate">

            <% if(user.authorObj.cancelPlan){ %>
            <div class="delete" v-if="cache.planType === 'group' || cache.planType === 'order'">
                <!-- <img src="../images/scrap_btn.png" alt=""> -->
                <div class="icon" @click="(!planInfo.plan_from || (planInfo.plan_from && planInfo.plan_from == '2')) ? $('#deletePlanSure').pshow({ title: '确定要作废吗', subtitle: '作废后不可恢复' }) : void 0 ;">
                    <svg class="iconf" aria-hidden="true" :class="(planInfo.plan_from && planInfo.plan_from != '2') ? 'grayredicon' : 'redicon'">
                        <use xlink:href="#icon-iconforbidden"></use>
                    </svg>
                </div>
                <pbutton-borderred text="'作废计划'" icon="'x'" bind="true" isborder="false" @click="$('#deletePlanSure').pshow({ title: '确定要作废吗', subtitle: '作废后不可恢复' })" 
                disabled="(planInfo.plan_from && planInfo.plan_from != '2')"></pbutton-borderred>
            </div>
            <% } %>

            <div class="historyOrder" v-if="cache.planType === 'orderD'">
                <pbutton-blue text="'过去发出的工单记录'" icon="'S'" bind="true" isborder="false" @click="lookHistoryOrderInfo"></pbutton-blue>
            </div>

            <% if(user.authorObj.editPlan){ %>
            <div class="change" v-if="cache.planType === 'group' || cache.planType === 'order'">
                <pbutton-blue text="'修改计划'" icon="'`'" bind="true" isborder="false" @click="changePlan"></pbutton-blue>
            </div>
            <% } %>

            <div class="copy" v-if="cache.planType === 'group'">
                <pbutton-blue text="'复制计划'" icon="'S'" bind="true" isborder="false" @click="copyPlan"></pbutton-blue>
            </div>

            <div class="monitoring" v-if="cache.planType === 'group'">
                <pbutton-blue text="'下发计划'" icon="'Z'" bind="true" isborder="false" @click="handler_tP(planInfo)"></pbutton-blue>
            </div>

            <div class="monitoring" v-if="cache.planType === 'group'">
                <pbutton-blue text="'项目计划监控'" icon="'A'" bind="true" isborder="false" @click="GoProPlan"></pbutton-blue>
            </div>

            <div class="remark" v-if="cache.planType === 'order' || cache.planType === 'orderD'">
                <!-- <img src="../images/history_icon.png" alt=""> -->
                <div class="icon" @click="lookVersionRemark">
                    <svg class="iconf blueicon" aria-hidden="true">
                        <use xlink:href="#icon-lishi"></use>
                    </svg>
                </div>
                <pbutton-blue text="'版本记录'" icon="'`'" bind="true" isborder="false" @click.stop="lookVersionRemark"></pbutton-blue>
            </div>

            <div class="order" v-if="cache.planType === 'project'">
                <pbutton-blue text="'查看项目计划中的工单'" icon="'S'" bind="true" isborder="false" @click="lookAllOrder"></pbutton-blue>
            </div>

            <div class="plan" v-if="cache.planType === 'project'">
                <pbutton-blue text="'查看项目所有计划'" icon="':'" bind="true" isborder="false" @click.stop="lookAllPlan"></pbutton-blue>
            </div>

        </div>

    </div>

    <div class="warn" v-if="(cache.planType === 'order' || cache.planType === 'project') && planInfo.plan_from == 1" v-show="planInfo.plan_update_status == 1">
        提示:集团对
        <span v-text="planInfo.plan_name"></span>中的
        <span v-text="planInfo.plan_update_type == 1 ? '计划频率' : planInfo.plan_update_type == 2 ? '工作事项' : '计划频率和工作事项'"></span>进行了修改
    </div>

    <div class="body">

        <ploading-part id="planInformationLoad"></ploading-part>

        <div class="state" v-if="cache.planType === 'order' || cache.planType === 'project'">
            <i class="icon" :class="planInfo.remind_type == 3 ? 'red' : 'orange2'">¨</i>
            <span class="orange2" v-show="planInfo.remind_type == 0">最新修改内容尚未生效；生效时间
                <span v-text="timeFormat(planInfo.plan_start_time,'1')"></span>
            </span>
            <span class="orange2" v-show="planInfo.remind_type == 1">生效时间
                <span v-text="timeFormat(planInfo.plan_start_time,'1')"></span>
            </span>
            <span class="orange2" v-show="planInfo.remind_type == 2">此计划即将到达失效时间；如需继续使用计划，请延长生效时间</span>
            <span class="red" v-show="planInfo.remind_type == 3">此计划已经到达失效时间；如需继续使用计划，请修改生效时间</span>
        </div>

        <div class="state" v-if="cache.planType === 'group'">
            <span class="orange2" v-show="planInfo.valid">
                生效时间
                <span v-text="timeFormat(planInfo.create_time,'1')"></span>
            </span>
        </div>

        <div class="state" v-if="cache.planType === 'groupD' || cache.planType === 'orderD'">
            <span class="red">
                该计划已在
                <span v-text="timeFormat(planInfo.destroy_time,'1')"></span>被作废
            </span>
        </div>


        <div class="message">

            <div class="title">基本信息</div>

            <div class="row" v-if="cache.planType == 'order' || cache.planType === 'orderD' || cache.planType === 'project'">
                项目计划名称：
                <span v-text="planInfo.plan_name"></span>
            </div>

            <div class="row" v-if="cache.planType == 'group' || cache.planType === 'groupD'">
                集团计划名称:
                <span v-text="planInfo.group_plan_name"></span>
            </div>

            <div class="row">
                工单类型：
                <span v-text="planInfo.order_type_name">维保</span>
            </div>

            <div class="row">
                工单紧急程度：
                <span v-text="planInfo.urgency">中</span>
            </div>

            <div class="row" v-show="planInfo.ahead_create_time" v-text="'工单提前发送时间：提前' + planInfo.ahead_create_time + '小时'"> </div>

            <div class="row" v-show="planInfo.instantiated_object_flag" v-text="'是否实例化全部对象 : ' + (planInfo.instantiated_object_flag == 1 ? '是' : '否')"></div>

            <div class="row" v-show="planInfo.suggest_executor_num" v-text="'建议执行人数：' + planInfo.suggest_executor_num"></div>

            <div class="row" v-show="planInfo.place && planInfo.place.length" v-for="(item,index) in planInfo.place" v-text="'位置' + (index+1) + '：' + item.name"></div>
            <!-- 精确设置计划频率 -->
            <div class="row" v-if="planInfo.plan_freq_type == 1" v-text="'计划频率：每' + transfYMWD(planInfo.freq_cycle) + planInfo.freq_num + '次'"></div>

            <div class="more" v-if="planInfo.plan_freq_type == 1">

                <ul v-if="planInfo.freq_cycle == 'y'">
                    <li v-for="(times,index) in planInfo.freq_times" class="clear">
                        <div v-text="'第' + (index + 1) + '次：'"></div>
                        <div v-text="times.start_time.time_day.substr(0,2) + '月' + times.start_time.time_day.substr(2,4) + '日' + times.start_time.time_hour + ':' + times.start_time.time_minute"></div>
                        <div>&nbsp;至&nbsp;</div>
                        <div v-text="times.end_time.time_day.substr(0,2) + '月' + times.end_time.time_day.substr(2,4) + '日' + times.end_time.time_hour + ':' + times.end_time.time_minute"></div>
                    </li>
                </ul>

                <ul v-if="planInfo.freq_cycle == 'm'">
                    <li v-for="(times,index) in planInfo.freq_times" class="clear">
                        <div v-text="'第' + (index + 1) + '次：'"></div>
                        <div v-text="times.start_time.time_day.substr(0,2)+'日' + times.start_time.time_hour + ':' + times.start_time.time_minute"></div>
                        <div>&nbsp;至&nbsp;</div>
                        <div v-text="times.end_time.time_day.substr(0,2)+'日' + times.end_time.time_hour + ':' + times.end_time.time_minute"></div>
                    </li>
                </ul>
                
                <ul v-if="planInfo.freq_cycle == 'q'">
                    <li v-for="(times,index) in planInfo.freq_times" class="clear">
                        <div v-text="'第' + (index + 1) + '次：'"></div>
                        <div v-text="'第' + times.start_time.time_day.substr(0,1) + '个月第' + Number(times.start_time.time_day.substr(1,2)) + '天' + times.start_time.time_hour + ':' + times.start_time.time_minute"></div>
                        <div>&nbsp;至&nbsp;</div>
                        <div v-text="'第' + times.end_time.time_day.substr(0,1) + '个月第' + Number(times.end_time.time_day.substr(1,2)) + '天' + times.end_time.time_hour + ':' + times.end_time.time_minute"></div>
                    </li>
                </ul>

                <ul v-if="planInfo.freq_cycle == 'w'">
                    <li v-for="(times,index) in planInfo.freq_times" class="clear">
                        <div v-text="'第' + (index + 1) + '次：'"></div>
                        <div v-text="filter_weekDetail_trans( '0' +times.start_time.time_day) + times.start_time.time_hour + ':' + times.start_time.time_minute"></div>
                        <div>&nbsp;至&nbsp;</div>
                        <div v-text="filter_weekDetail_trans('0' +times.end_time.time_day) + times.end_time.time_hour + ':' + times.end_time.time_minute"></div>
                    </li>
                </ul>

                <ul v-if="planInfo.freq_cycle == 'd'">
                    <li v-for="(times,index) in planInfo.freq_times" class="clear">
                        <div v-text="'第' + (index + 1) + '次：'"></div>
                        <div v-text="times.start_time.time_hour + ':' + times.start_time.time_minute"></div>
                        <div>&nbsp;至&nbsp;</div>
                        <div v-text="times.end_time.time_hour + ':' + times.end_time.time_minute"></div>
                    </li>
                </ul>

            </div>

            <!-- 模糊设置计划频率 -->
            <div class="row" v-if="planInfo.plan_freq_type == 2" v-text="'计划频率：' + '每' + transfYMWD(planInfo.freq_cycle) + planInfo.freq_num + '次'"></div>

            <div class="row" v-if="planInfo.plan_freq_type == 2" 
            v-text="'相邻两次间隔不小于' + planInfo.freq_limit.num + transfYMWD(planInfo.freq_limit.unit)"></div>

            <!-- 相对设置计划频率 -->
            <div class="row" v-if="planInfo.plan_freq_type == 3" v-text="'计划频率：' + planInfo.freq_time_span.num + '日1次'"></div>

            <div class="row" v-if="planInfo.plan_freq_type == 3" 
            v-text="'每次要求开始时间：' + planInfo.freq_time_span.time_hour + ':' + planInfo.freq_time_span.time_minute + '；持续' + planInfo.freq_time_span.continue + '小时'"></div>


            <!-- 只有工单计划有此项 -->
            <div class="row" v-if="planInfo.plan_start_type">
                <span>计划生效时间：</span>
                <i v-text="planInfo.plan_start_type == '1'?'发布后第二天生效':timeFormat(planInfo.plan_start_time,'0')"></i>
                &nbsp;—&nbsp;
                <i v-text="planInfo.plan_end_time == ''?' 一直生效':timeFormat(planInfo.plan_end_time,'0')"></i>
            </div>

        </div>

        <div>
            <div class="title">工作事项</div>
            <div class="box" v-for="info in planInfo.draft_matters">
                <div class="row MT" v-text="info.matter_name"></div>
                <div class="content" v-text="info.description ? info.description : ((info.desc_forepart ? info.desc_forepart : '') + '  ' + (info.desc_aftpart ? info.desc_aftpart : '') + '  ' + (info.desc_works_desc ? info.desc_works_desc : ''))"></div>
            </div>
        </div>

    </div>

</div>

<pwindow-confirm id="deletePlanSure">
    <button>
        <pbutton-backred text="确定" click="deletePlan"></pbutton-backred>
        <pbutton-white text="取消" click="$('#deletePlanSure').phide();"></pbutton-white>
    </button>
</pwindow-confirm>