<div id="planCreate_bg" v-show="onPage=='createPlan' && !PreView">
    <div class="planCreate_box">
        <div class="planCreate_page">
            <div class="planCreate_page_top">
                <div class="planCreate_page_back">
                    <pbutton-white text="取消" @click="cache.argu.cb()"></pbutton-white>
                </div>
                <div class="planCreate_page_save">
                    <pbutton-blue text="下一步" @click="commit()"></pbutton-blue>
                </div>
            </div>
            <div class="planCreate_page_con">
                <baseinfomation :addwoplan='addWoPlan' :wotypelistall="WoTypeListAll" :isquote="isquote" :isedit="isedit" v-if="onPage=='createPlan'"
                    :isterm="isterm" ref='baseinfomation'>
                </baseinfomation>
                <div class="planCreate_page_con_rig">

                    <!-- 工作事项 Start -->
                    <div class="myWork-create-right">
                        <div class="right-content">
                            <div class="title-switch">
                                <div class="title-div">
                                    <h3>
                                        <span class="starSymbol">*</span>工作事项</h3>
                                </div>
                            </div>
                            <div class="matter-body">
                                <!--<div class="matter-kind"></div>-->

                                <!-- 每一个事项 Start -->
                                <!-- <div class="matter-kind" v-for="(model, index0) in allMatters"> -->
                                <template v-for="(item,index) in matters" v-if='onPage=="createPlan"'>
                                    <matter :matter="item" :isterm="isterm" :views="mattersViews[index]" :ref="'matter' + index">
                                        <matter/>
                                </template>


                                <!-- 每一个事项 End -->
                                <div class="add-new-matter" @click="matters.push(new Matter())">
                                    <em>J</em>
                                    <span>添加新事项</span>
                                </div>

                                <pwindow-confirm id="delete-matter-confirm">
                                    <button>
                                        <pbutton-blue text="确定"></pbutton-blue>
                                        <pbutton-white text="取消"></pbutton-white>
                                    </button>
                                </pwindow-confirm>
                            </div>
                        </div>
                    </div>
                    <!-- 工作事项 End   -->

                </div>
            </div>
        </div>
    </div>
</div>