<% include ../../../template/pageHead.html %>

    <!-- 公用JS -->
    <script src="../js/workOrder/planMng/lodash.min.js"></script>
    <script src="../js/workOrder/planMng/public.js"></script>

    <!-- 计划管理公用JS -->
    <script src="../js/workOrder/planMng/term/controller.js"></script>
    <script src="../js/workOrder/planMng/term/model.js"></script>
    <script src="../js/workOrder/planMng/term/event.js"></script>

    <!-- 集团计划公用JS -->
    <script src="../js/workOrder/planMng/group/controller.js"></script>
    <script src="../js/workOrder/planMng/group/model.js"></script>

    <!-- 计划管理公用样式 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/term/public.css">
    
    <!-- 面包屑导航样式 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/sitemap.css">

    <!-- 创建/编辑计划  -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/createPlan/planCreate.css">
    <link rel="stylesheet" href="../css/workOrder/planMng/group/createPlan/see_orderDetail.css">
    <script src="../js/workOrder/planMng/createPlan/event.js"></script>
    <script src="../js/workOrder/planMng/createPlan/model.js"></script>

    <!-- 创建计划预览 -->
    <link rel="stylesheet" href="../css/workOrder/planMng/group/createPlan/planCreate_next.css">
    <link rel="stylesheet" href="../css/workOrder/planMng/group/createPlan/myWorkOrderCreate.css">
    <script src="../js/workOrder/planMng/createPlanLook/event.js"></script>
    <script src="../js/workOrder/planMng/createPlanLook/model.js"></script>

    <!-- 面包屑导航组件 -->
    <%include ./sitemap.html %>
    
    <div id="app">

        <!-- 计划管理首页 -->
        <% include ./planManage.html %>

        <!-- 工单详情 -->
        <% include ./workOrderDetail.html %>

        <!-- 查看计划 -->
        <% include ./planInformation.html %>

        <!-- 查看已作废的计划 -->
        <% include ./dumpedPlan.html %>

        <!-- 查看已作废的计划发出的工单 -->
        <% include ./dumpedPlanOrder.html %>

        <!-- 集团计划 -->
        <% include ./groupPlan.html %>
        
        <!-- 创建计划  -->
        <%include ./createPlan/planCreate.html %>

        <!-- 预览计划 -->
        <%include ./createPlan/planCreate_next.html %>

    </div>

    <% include ../../../template/pageFoot.html %>