<div class="work_order_list" v-if="onPage=='workOrderList'">
    <div class="main">
        <div class="content">
            <div class="header">
                <!-- 面包屑导航Start -->

                <sitemap :maps='maps' :createsitemap='createsitemap' :back='back' />

                <!-- 面包屑导航End -->
            </div>
            <div class="contenter">
                <!-- 查询行Start -->
                <div class="search">

                    <pcombobox-normal sel="selWorkOrderState" bind="true" id="'workOrderListState'">
                        <header placeholder="工单状态：全部" prefix="工单状态："></header>
                        <item datasource="workOrderState" text="name" id="id"></item>
                    </pcombobox-normal>

                    <!-- <pcombobox-normal sel="" bind="true">
                        <header placeholder="时间类型：全部" prefix="时间类型："></header>
                        <item datasource="orderTimeType" text="name" id="id"></item>
                    </pcombobox-normal> -->

                </div>

                <!-- <div class="table"> -->
                <div class="t_header">
                    <div class="item">工单类型</div>
                    <div class="item">创建时间</div>
                    <div class="item">工作事项</div>
                    <!-- <div class="item">时间类型</div> -->
                    <div class="item">工单状态</div>
                </div>
                <div class="t_body">

                    <pscroll-small templateid="workOrderListTem"></pscroll-small>
 
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="workOrderListTem">
    <div class="info" v-for="(item,index) in workOrderListData" @click="lookWorkOrderDetail(item)">
        <div class="item" :title="planType" v-text="planType"></div>
        <div class="item" :title="timeFormat(item.create_time,'0')" v-text="timeFormat(item.create_time,'0')"></div>
        <div class="item" :title="item.summary" v-text="item.summary"></div>
        <!-- <div class="item" :title="'时间类型'+index" v-text="'时间类型'+index"></div> -->
        <div class="item" :title="item.order_state_name" v-text="item.order_state_name"></div>
    </div>
</script>