
<% include ../../../template/pageHead.html %>
    <link rel="stylesheet" href="../css/basicMng/person/index.css" />
    <link rel="stylesheet" href="../css/workOrder/workOrderMng/WorkOrderMonitoring.css" />
    

    <!--  -->
    <link rel="stylesheet" href="../css/workOrder/planMng/term/public.css" />
    <script src="../js/workOrder/planMng/lodash.min.js"></script>
    <script src="../js/workOrder/planMng/polyfill.js"></script>
    <script src="../js/workOrder/planMng/public.js"></script>
    <script src="../js/workOrder/planMng/term/controller.js"></script>
    <script src="../js/workOrder/planMng/term/model.js"></script>
    <script src="../js/workOrder/planMng/term/event.js"></script>
    <!--  -->
    <script src="../js/workOrder/workOrderMng/controller.js"></script>
    <script src="../js/workOrder/workOrderMng/model.js"></script>
    <script src="../js/workOrder/workOrderMng/event.js"></script>
    <script src="../js/public/orderDetail_pub.js"></script>
    <script src="../js/public/publicMethod.js"></script>
    <div id="workOrderManage-Monitor" >
        <%include WorkOrderMonitoring.html%>
        <pwindow-modal id="evaluateModal" templateid="evaluate" title="评价"></pwindow-modal>
        <pwindow-modal id="stopOrder" templateid="pause" title="中止工单"></pwindow-modal>
    </div>
    <!--TODO: 查看工单详情-->
    <div id="app" style="display: none;" >
            <%include WorkOrderDetail.html%>
    </div>

    <pnotice-message id="monitor-list-notice"></pnotice-message>

<script type="text/html" id="screeningModalTemp">
        <div class="screeningModalWrap">
            <!-- 水平树 -->
            <div class="horizontalTree" v-show="filterTypeSel=='system'||filterTypeSel=='equipType'||filterTypeSel=='equip'||filterTypeSel=='space'">
                <div class="horizontalLeft">
                    <tree-component :model="item" v-for="(item, index) in treeDate" :check="treeCheck" :arrow="treeArrow" :sel="treeSel" ></tree-component>
                </div>
                <div class="horizontalRight">
                    <ul>
                        <li v-for="item in treeLeafDateArr"><b v-text="item.obj_name">name</b><em class="per-checkbox_input" :class="item.selected=='1'?'per-checkbox-checked':''"  @click="treeCheck(item,event)"></em></li>
                    </ul>
                </div>
                
            </div>
            <!-- 垂直树 -->
            <div class="verticalTree"  v-show="filterTypeSel=='executor'||filterTypeSel=='participants'||filterTypeSel=='spaceType'">
                    <tree-component :model="item" v-for="(item, index) in treeDate" :check="treeCheck" :arrow="treeArrow" :sel="treeSel" ></tree-component>
            </div>
            <ploading-part id="treeTempLoading" text="加载中..."></ploading-part>

            <div class="treeButWrap">
                <pbutton-white text="取消" click="workOrderEvent.screeningModalHide();"></pbutton-white>
                <pbutton-blue text="确定" click="workOrderEvent.screeningModalConfirm();"></pbutton-blue>
            </div>
        </div>

    
    </script>
<script type="x/template" id="treeTempComponent">
    <div class="treeTemp">
            <div class="title" @click="sel(model,$event)"  :class="{'active':model.active=='1','cursor':!(model.content && model.content.length)}">
                <span class="arrow" @click="arrow(model,$event)"  v-show="model.content && model.content.length>0" >b</span>
                <b v-text="model.obj_name" :pdisabled="model.disable">name</b>
                <em class="per-checkbox_input" @click="check(model,$event)"  :class="model.selected=='1'?'per-checkbox-checked':''" v-show="!model.hasCheck" :pdisabled="model.disable"></em>
            </div>
            <div class="con"><tree-component v-for="model in model.content" :model='model'  :check="check" :arrow="arrow" :sel="sel"></tree-component></div>
    </div>

      
</script>
<script type="text/html" id="evaluate">
    <div id="evaluateBox">
        <ul>
            <li v-for="(item,index) in workOrderMngModel.evaluateMessage" :id="item.executor_person_id">
                <!--用于评价执行人-->
                <div class="add" v-if="!item.comment_flag">
                    <div class="evaluateName">
                        <i v-text="item.executor_person_name">张三</i>
                        <span class="icon" v-for="(item1,index1) in 5" :index="index1"  @click="workOrderMngMethod.getScore">z</span>
                    </div>
                    <div class="textarea">
                        <ptext-textarea placeholder="请在这里填写评价理由" style="width: 340px ;height: 80px">
                            <verify errtip="最多输入200个字"  verifytype="length" length="200"></verify>
                        </ptext-textarea>
                    </div>
                </div>

                <!--用于展示已经评价执行人的信息-->
                <div class="show" v-else>
                    <div class="info">
                        <i v-text="item.executor_person_name">张三</i>
                        <span class="icon" v-for="(item2,index2) in item.score" style="color:#FF7B7B;cursor:default">z</span>
                    </div>
                    <div class="content">
                        <span v-text="item.comment">这里是评价区域，请留下一点内容吧，求求你啦。我是小僵尸，啦啦啦啦！</span>
                    </div>
                </div>
            </li>
        </ul>
        <pbutton-blue click="workOrderMngMethod.confirmEvaluate" text="确定" id="evaluateConfirm"></pbutton-blue>
    </div>
</script>
<script type="text/html" id="pause">
    <div class="stopWorkOrder_con">
        <div class="stopWorkOrder_con_operate">
            <textarea name="" id="stopWorkOrderTArea" placeholder="请填写中止说明" v-model="workOrderMngModel.stop_order_content" maxlength="200" oninput="if(value.length>200){value=value.slice(0,200)}"></textarea>
        </div>
        <span :class="{'red':stop_order_content.length=='200'}" class="stopWorkOrder_con_operate_span">(<i v-text="stop_order_content.length">0</i>/200)</span>
    </div>
    <!--<div id="stopPromptMessage">请填写中止原因</div>-->
    <div class="stopWorkOrder_con_btn">
        <pbutton-blue bind="true" id="'stop_order_btn_yes'" text="'确定'" click="workOrderMngMethod.stopOrderSetYes()" disabled="false"></pbutton-blue>
            <pbutton-white id="stop_order_no" text="取消" click="workOrderMngMethod.stopOrderSetHide()"></pbutton-white>
    </div>
</script>
<% include ../../../template/pageFoot.html %>