
#repeatEvent{
    width: 558px;
    height: auto;
    padding: 18px 21px 18px;
    .top{
        padding: 10px 20px;
        height: 30px;
        width: 518px;
        border-bottom: 1px solid #d9e2e8;
        background: #eaeef0;
    }
    .title{
        height: 14px;
        padding: 14px 0 8px 50px;
        width: 508px;
        line-height: 14px;
        color: #333;
        border-bottom: 2px solid #f1f2f3;
        span{
            float: left;
            display: block;
        }
    }
    .grid{
        display: block;
        width: 558px;
        height: 340px;
        overflow-x: hidden;
        overflow-y: auto;
        border-bottom: 2px solid #edf1f4;
        li{
            list-style-type: none;
            padding-left: 50px;
            height: 36px;
            line-height: 36px;
            position: relative;
            cursor: pointer;
            &:nth-of-type(odd){
              background: #f4f6f9;  
            }
            span{
                float: left;
                display: block;
            }
            .t4{
                position: absolute;
                left: 17px;
                top: 10px;
            }
        }
    }
    .btn{
        width: 80px;
        height: 30px;
        float: left;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .btn1{
        margin-left: 179px;
    }
    .btn2{
        margin-left: 40px;
    }
    .t1{
        width: 150px;
    }
    .t2{
        width: 140px;
        margin-right: 80px;
    }
    .t3{
        width: 138px;
    }
}




#closeEvOthRsn{
    width: 400px;
    height: 190px;
    padding: 20px 30px 20px;
    .text{
        width: 100%;
        height: 130px;
        margin-bottom: 30px;
    }
    .btn{
        width: 80px;
        float: left;
        height: 30px;
    }
    .btn1{
        margin-left: 100px;
    }
    .btn2{
        margin-left: 40px;
    }
}