#createPersonFloatWindow{
    width:400px;
}

/* 新建编辑 */
.createPersonBox{
    height: calc(100% - 30px);
    overflow: auto;
    padding: 30px 28px 0 0px;
}
.createPersonBox .basicInformation{
    padding-left:20px; 
    margin-bottom:30px;
}
.createPersonBox .workInformation{
    padding-left:20px; 
    margin-bottom:30px;
}
.createPersonBox .accountformation{
    padding-left:20px; 
    margin-bottom:30px;
}
.createPersonBox .imgformation{
    padding-left:20px;
    margin-bottom:60px; 
}
.createBlock{

}
.createBlock .title{
    box-sizing: border-box;
    height: 16px;
    line-height: 17px;
    padding-left: 14px;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 600;
    border-left: 4px solid #02a9d1;
}
.createBlock .content{
    width: 300px;
    height: 46px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;
}
.imgBox {
    width: 128px;
    height: 128px;
    /* margin: auto; */
    border: 1px solid #eee;
    position: relative;
    border-radius: 4px;
}
.imgBox >img{
    display: block;
    max-width: 128px;
    max-height: 128px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* .createBlock > .content >.left,.createBlock > .content >.right{
    float: left;
} */
.createBlock > .content > .left{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
}
.createBlock > .content > .left >span{
    color: #7dc8e1;
    padding-top: 10px;
    font-size: 20px;
    margin-right: 6px;
}
.createBlock > .content >.right{
    display: flex;
    justify-content: center;;
    /* align-items: center; */
    margin-right: 10px;
    flex-flow: nowrap column;
    position:relative;
}
.createBlock > .content >.right >span{
    display: block;
    max-width: 186px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#employeePosition{
    display:flex;
    flex-flow: row nowrap;   
}
#employeePosition >span{
    display: block;
    width: 98px;
    height: 28px;
    line-height: 28px;
    margin-right: 8px;
    border: 1px solid #cacaca;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#employeePositionTip{
    color: #f97c7c;
    font-size: 12px;
    position: absolute;
    top: 40px;
}
#employeeSex >div{
    width:188px;
}

#startTime{
    width:188px;
}
#employeePosition >div{
    width:60px;
}
#employeeMajor >div{
    width:188px;
}
#functionPermissionBlock .right{
    
}
.saveInformation{
    padding: 12px 0 10px 0;
    text-align: center;
    border-top: 1px solid #d9e2e8;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    /* right: 50px; */
    background: #fff;
    width: 400px;
}
.saveInformation >div{
    width:200px;
}

/* 详情 */
.personDetailBox{
    height: calc(100% - 30px);
    overflow: auto;
    padding:30px 28px 0 28px;
}
.personRelatedOperat{
    display:flex;
    flex-flow: row nowrap;
}
.personRelatedOperat >section{
    margin-right:10px;
}
#employeeMajor{
    position:relative;
}
#employeeMajor > .title{
    width: 188px;
    border: 1px solid #cacaca;
    box-sizing: border-box;
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-weight: normal;
}
#employeeMajor > .title >span{
    display: block;
    color: #637e99;
    /* height: 28px; */
    white-space: nowrap;
    overflow: hidden;
    width: 148px;
    text-overflow: ellipsis;
}
#employeeMajor > .title >i{
    display: block;
    font-family: 'perficon';
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 8px;
    color:#637e99;
}

#employeeMajor >.list{
    display:none;
}
#employeeMajor >.list{
    width: 186px;
    min-height: 100px;
    height: 168px;
    border: 1px solid #d9e2e8;
    position: absolute;
    top: 50px;
    left: 0;
    background: #fff;
    z-index: 10;
    border-top: none;
}
#employeeMajor >.list >ul{
    max-height: 120px;
    overflow: auto;
}
#employeeMajor >.list li{
    height:30px;
    line-height:30px;
    width:100%;
    cursor: pointer;
    box-sizing: border-box;
    padding-left:20px;
    display:flex;
}
#employeeMajor >.list li >i{
    display:block;
    width:140px;
}
#employeeMajor >.list li >span{
    display:block;
    width:20px;
    background:url("../../../images/permissionChecked.png") no-repeat center;;
}
#employeeMajor >.list li.disabled{
    background:#ccc;
}
#employeeMajor >.list li:hover{
    background:#f8f8f8;
}
#employeeMajor >.list .opeart{
    padding-top: 6px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 8px;
    padding-bottom: 6px;
}
#employeeMajor >.list .opeart >div:nth-child(2){
    margin-left:10px;
}

/* 选择岗位树 */
.choicePositionTree{
    width:400px;
    height:500px;
}
.choicePositionTree >section{
    height: 450px;
    width: 400px;
    border-bottom: 1px solid #d9e2e8;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: auto;
}
.choicePositionTree .organizationTreeBox .organizationTreeBoxName{
    
    height:50px;
    line-height:50px;
    border-bottom:1px dashed #d9e2e8;
}
.choicePositionTree .organizationTreeBox .organizationTreeBoxName:hover{
    /* cursor:pointer; */
}
.choicePositionTree .organizationTreeBox .organizationTreeBoxName span{
    display: block;
    max-width: 330px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.choicePositionTree .organizationTreeBox .organizationTreeBoxName span.checked{
    color:#02a9d1;
}

.choicePositionTree  .choicePositionOperaBtn{
    text-align: center;
    /* padding-top: 20px; */
}
.choicePositionTree  .choicePositionOperaBtn >div{
    margin-right:20px;
}
#createPersonFloatWindow .per-madal-float_titcon>b{
    display:block;
    max-width: 110px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#employeeIdTip{
    color: #f97c7c;
    position: absolute;
    font-size:12px;
    top: 38px;
    left: 0;
    display:none;
}

